
		<!-- Hero Section -->
		<section class="hero-section">
			<div class="bg-wave d-none d-md-block">
				<img src="assets/img/bg/bg-wave.png" class="img-fluid" alt="bg">
			</div>
			<div class="corner-large d-none d-md-block">
				<img src="assets/img/bg/corner-large.png" class="img-fluid" alt="bg">
			</div>
			<div class="corner-small d-none d-md-block">
				<img src="assets/img/bg/corner-small.png" class="img-fluid" alt="bg">
			</div>
			<div class="container">
				<div class="home-banner">
					<div class="row align-items-center w-100">
						<div class="col-lg-7 col-md-10 mx-auto">
							<div class="section-search aos" data-aos="fade-up">
								<h1>Professional Services For Your Home & Commercial </h1>
								<p>Search From 100 Awesome Verified Ads!</p>
								<div class="search-box">
									<form >
										<div class="search-input line">
											<div class="search-group-icon">
												<i class="feather-map-pin"></i>
											</div>
											<div class="form-group mb-0">
												<label>Your Location</label>
												<input type="text" class="form-control" placeholder="America">
											</div>
										</div>
										<div class="search-input">
											<div class="search-group-icon search-icon">
												<i class="feather-search"></i>
											</div>
											<div class="form-group mb-0">
												<label>What are you looking for?</label>
												<input type="text" class="form-control"
													placeholder="Car Repair Services">
											</div>
										</div>
										<div class="search-btn">
											<button class="btn btn-primary btn-lg" type="submit"><i
													class="feather-search me-2"></i>Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-5">
							<div class="banner-imgs d-none d-md-block">
								<div class="banner-1 shape-1">
									<img class="img-fluid" alt="banner" src="assets/img/services/banner1.png">
								</div>
								<div class="banner-2 shape-3">
									<img class="img-fluid" alt="banner" src="assets/img/services/banner2.png">
								</div>
								<div class="banner-3 shape-3">
									<img class="img-fluid" alt="banner" src="assets/img/services/banner3.png">
								</div>
								<div class="banner-4 shape-2">
									<img class="img-responsive" alt="banner" src="assets/img/services/banner4.png">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Hero Section -->


<!-- Feature Section -->
<section class="feature-section">	
    <div class="circle-lg d-none d-md-block">
        <img src="assets/img/bg/circle-lg.png" class="img-fluid" alt="bg">
    </div>
    <div class="corner-dot">
        <img src="assets/img/bg/corner-dot.png" class="img-fluid" alt="bg">
    </div>		
    <div class="container">			
        <div class="section-heading">
            <div class="row align-items-center">
                <div class="col-md-6 aos" data-aos="fade-up" data-aos-duration="2000" >
                    <h2>Featured Categories</h2>
                    <p>Our platform is designed with a range of innovative features that cater to your specific
                        needs</p>
                </div>
                <div class="col-md-6 text-md-end aos" data-aos="fade-up" data-aos-duration="2000" >
                    <a [routerLink]="routes.categories" class="btn btn-primary ">View All<i class="feather icon-arrow-right-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-01.svg" alt="img">
                        </span>
                    </div>
                    <h5>Construction</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/providers/provider-32.jpg" alt="img">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-02.svg" alt="img">
                        </span>
                    </div>
                    <h5>Car Wash</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/providers/provider-17.jpg" alt="img">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-03.svg" alt="img">
                        </span>
                    </div>
                    <h5>Electrical</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/services/service-63.jpg" alt="img">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-04.svg" alt="img">
                        </span>
                    </div>
                    <h5>Cleaning</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/services/service-09.jpg" alt="img">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-05.svg" alt="img">
                        </span>
                    </div>
                    <h5>Interior</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/services/service-07.jpg" alt="img">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-06.svg" alt="img">
                        </span>
                    </div>
                    <h5>Carpentry</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/providers/provider-01.jpg" alt="img">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-07.svg" alt="img">
                        </span>
                    </div>
                    <h5>Computer</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/services/service-62.jpg" alt="img">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-lg-3">
                <a [routerLink]="routes.serviceDetails" class="feature-box aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="feature-icon">
                        <span>
                            <img src="assets/img/icons/feature-icon-08.svg" alt="img">
                        </span>
                    </div>
                    <h5>Plumbing</h5>
                    <div class="feature-overlay">
                        <img src="assets/img/providers/provider-07.jpg" alt="img">
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- /Feature Section -->

<!-- Service Section -->
<section class="service-section service-sec-two">			
    <div class="container">
        <div class="section-heading">
            <div class="row align-items-center">
                <div class="col-md-6 aos" data-aos="fade-up" data-aos-duration="2000" >						
                    <h2>Featured Services</h2>
                    <p>A featured services marketplace typically offers a platform where various service
                        providers can showcase their services to potential customers.</p>
                </div>
                <div class="col-md-6 text-md-end aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="owl-nav mynav"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="featuredServicesOwl" class="service-slider">
                <ng-container *ngFor="let data of featuredServices">
                  <ng-template carouselSlide>
                    <div class="service-widget aos" data-aos="fade-up" data-aos-duration="2000" >
                        <div class="service-img">
                            <a [routerLink]="routes.serviceDetails">
                                <img class="img-fluid serv-img" alt="Service Image" [src]="data.img1">
                            </a>
                            <div class="fav-item">
                                <a [routerLink]="routes.categories"><span class="item-cat">{{data.work}}</span></a>
                                <a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
                                    <i class="feather icon-heart"></i>
                                </a>
                            </div>
                            <div class="item-info">
                                <a [routerLink]="routes.providersList"><span class="item-img"><img [src]="data.img2" class="avatar" alt=""></span></a>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="title">
                                <a [routerLink]="routes.serviceDetails">{{data.title}}</a>
                            </h3>
                            <p><i class="feather icon-map-pin"></i>{{data.country}}<span class="rate"><i class="fas fa-star filled"></i>{{data.points}}</span></p>
                            <div class="serv-info">
                                <h6>{{data.newPrice}}<span class="old-price">{{data.oldPrice}}</span></h6>
                                <a [routerLink]="routes.serviceDetails" class="btn btn-book">Book Now</a>
                            </div>
                        </div>
                    </div>
                  </ng-template>
                  </ng-container>
                  </owl-carousel-o>
            </div>
            <div class="btn-sec aos" data-aos="fade-up" data-aos-duration="2000" >
                <a [routerLink]="routes.serviceDetails" class="btn btn-primary btn-view">View All<i class="feather-arrow-right-circle"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- /Service Section -->

<!-- Providers Section -->
<section class="providers-section">			
    <div class="container">
        <div class="section-heading">
            <div class="row align-items-center">
                <div class="col-md-6 aos" data-aos="fade-up" data-aos-duration="2000" >					
                    <p>Meet Our Experts</p>
					<h2>Top Providers</h2>
                </div>
                <div class="col-md-6 text-md-end aos" data-aos="fade-up" data-aos-duration="2000" >
                    <a [routerLink]="routes.providersList" class="btn btn-primary btn-view">View All<i class="feather icon-arrow-right-circle"></i></a>
                </div>
            </div>
        </div>
        <div class="row  aos" data-aos="fade-up" data-aos-duration="2000" >
            <div class="col-lg-3 col-sm-6">
                <div class="providerset">
                    <div class="providerset-img">
                        <a [routerLink]="routes.providerDetails">
                            <img src="assets/img/provider/provider-11.jpg" alt="img">
                        </a>
                    </div>
                    <div class="providerset-content">
                        <div class="providerset-price">
                            <div class="providerset-name">
                                <h4><a [routerLink]="routes.providerDetails">John Smith</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                                <span>Electrician</span>
                            </div>
                            <div class="providerset-prices">
                                <h6>$20.00<span>/hr</span></h6>
                            </div>
                        </div>
                        <div class="provider-rating">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fa-solid fa-star-half-stroke filled"></i><span>(320)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="providerset">
                    <div class="providerset-img">
                        <a [routerLink]="routes.providerDetails">
                            <img src="assets/img/provider/provider-12.jpg" alt="img">
                        </a>
                    </div>
                    <div class="providerset-content">
                        <div class="providerset-price">
                            <div class="providerset-name">
                                <h4><a [routerLink]="routes.providerDetails">Michael</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                                <span>Carpenter</span>
                            </div>
                            <div class="providerset-prices">
                                <h6>$50.00<span>/hr</span></h6>
                            </div>
                        </div>
                        <div class="provider-rating">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fa-solid fa-star-half-stroke filled"></i><span>(228)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="providerset">
                    <div class="providerset-img">
                        <a [routerLink]="routes.providerDetails">
                            <img src="assets/img/provider/provider-13.jpg" alt="img">
                        </a>
                    </div>
                    <div class="providerset-content">
                        <div class="providerset-price">
                            <div class="providerset-name">
                                <h4><a [routerLink]="routes.providerDetails">Antoinette</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                                <span>Cleaner</span>
                            </div>
                            <div class="providerset-prices">
                                <h6>$25.00<span>/hr</span></h6>
                            </div>
                        </div>
                        <div class="provider-rating">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fa-solid fa-star-half-stroke filled"></i><span>(130)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="providerset">
                    <div class="providerset-img">
                        <a [routerLink]="routes.providerDetails">
                            <img src="assets/img/provider/provider-14.jpg" alt="img">
                        </a>
                    </div>
                    <div class="providerset-content">
                        <div class="providerset-price">
                            <div class="providerset-name">
                                <h4><a [routerLink]="routes.providerDetails">Thompson</a><i class="fa fa-check-circle" aria-hidden="true"></i></h4>
                                <span>Mechanic</span>
                            </div>
                            <div class="providerset-prices">
                                <h6>$25.00<span>/hr</span></h6>
                            </div>
                        </div>
                        <div class="provider-rating">
                            <div class="rating">
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fas fa-star filled"></i>
                                <i class="fa-solid fa-star-half-stroke filled"></i><span>(95)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Providers Section -->

<!-- Work Section -->
<section class="work-section pt-0 mb-0">
    <div class="container">
        <div class="row  aos" data-aos="fade-up">
            <div class="col-md-12">
                <div class="offer-paths card">
                    <div class="offer-bg d-none d-md-block">
                        <img src="assets/img/bg/dot-white-2.png" class="img-fluid" alt="bg">
                    </div>
                    <div class="card-body pb-0">

                        <div class="row justify-content-center align-items-center">
                            <div class="col-lg-6">
                                <div class="offers-person-image d-none d-lg-block">
                                    <img src="assets/img/bg/open-work-1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="content">
                                    <h2 class="mb-2">We Are Offering 14 Days Free Trial</h2>
                                    <p class="fs-14"> Each service provider will have a listing that typically
                                        includes a description of their services, pricing,
                                        availability, and any special offers or packages.</p>
                                </div>
                                <div class="offers-btn">
                                    <a href="#" class="btn btn-white">Try 14 Days Free Trial <i
                                            class="ti ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-heading aos" data-aos="fade-up">
                    <h2>How It Works</h2>
                    <p>Straightforward process designed to make your experience seamless and hassle-free.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex ">
                <div class="work-box card flex-fill aos" data-aos="fade-up">
                    <div class="card-body">
                        <div class="work-icon ">
                            <span>
                                <img src="assets/img/icons/work-icon-hand.svg" alt="img">
                            </span>
                        </div>
                        <h5>1. Search and Browse</h5>
                        <p>Customers can browse or search for specific products or services using categories,
                            filters, or search bars.</p>
                        <h4>01</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-box flex-fill card aos" data-aos="fade-up">
                    <div class="card-body">
                        <div class="work-icon">
                            <span>
                                <img src="assets/img/icons/find-icon.svg" alt="img">
                            </span>
                        </div>
                        <h5>Add to Cart or Book Now</h5>
                        <p>Customers can add items to their shopping cart. For services, they may select a
                            service and proceed to book.</p>
                        <h4>02</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-box card flex-fill aos" data-aos="fade-up">
                    <div class="card-body">
                        <div class="work-icon">
                            <span>
                                <img src="assets/img/icons/place-icon.svg" alt="img">
                            </span>
                        </div>
                        <h5>Order Fulfillment</h5>
                        <p>The Customer fulfills the order by either providing the service to the buyer. </p>
                        <h4>03</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Work Section -->

<!-- Service Section -->
<section class="service-section  bg-white">	
    <div class="service-bg d-none d-md-block">
        <img src="assets/img/bg/square-sm.png" class="img-fluid" alt="bg">
    </div>		
    <div class="container">
        <div class="section-heading">
            <div class="row align-items-center">
                <div class="col-md-6 aos" data-aos="fade-up" data-aos-duration="2000" >
                    <h2>Most Popular Services</h2>
                    <p>Explore the greates our services. You won’t be disappointed</p>
                </div>
                <div class="col-md-6 text-md-end aos" data-aos="fade-up" data-aos-duration="2000" >
                    <div class="owl-nav mynav1"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="popularServicesOwl" class="popular-slider">
                    <ng-container *ngFor="let data of popularServices">
                        <ng-template carouselSlide>
                    <div class="service-widget aos" data-aos="fade-up" data-aos-duration="2000" >
                        <div class="service-img">
                            <a [routerLink]="routes.serviceDetails">
                                <img class="img-fluid serv-img" alt="Service Image" [src]="data.img1">
                            </a>
                            <div class="fav-item">
                                <a [routerLink]="routes.categories"><span class="item-cat">{{data.work}}</span></a>
                                <a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
                                    <i class="feather icon-heart"></i>
                                </a>
                            </div>
                            <div class="item-info">
                                <a [routerLink]="routes.providersList"><span class="item-img"><img [src]="data.img2" class="avatar" alt=""></span></a>
                            </div>
                        </div>
                        <div class="service-content">
                            <h3 class="title">
                                <a [routerLink]="routes.serviceDetails">{{data.title}}</a>
                            </h3>
                            <p><i class="feather icon-map-pin"></i>{{data.country}}<span class="rate"><i class="fas fa-star filled"></i>{{data.points}}</span></p>
                            <div class="serv-info">
                                <h6>{{data.newPrice}}<span class="old-price">{{data.oldPrice}}</span></h6>
                                <a [routerLink]="routes.serviceDetails" class="btn btn-book">Book Now</a>
                            </div>
                        </div>
                    </div>
                </ng-template>
                </ng-container>
                </owl-carousel-o>
            </div>
            <div class="btn-sec aos" data-aos="fade-up" data-aos-duration="2000" >
                <a [routerLink]="routes.serviceDetails" class="btn btn-primary btn-view">View All<i class="feather icon-arrow-right-circle"></i></a>
            </div>
        </div>
    </div>
</section>
<!-- /Service Section -->

	<!-- pricing Section -->
    <section class=" pricing-sections">
        <div class="price-bg d-none d-md-block">
            <img src="assets/img/bg/dot-blue.png" class="img-fluid" alt="bg">
        </div>
        <div class="container">
            <div class="section-heading">
                <div class="row">
                    <div class="col-md-12 text-center aos" data-aos="fade-up">
                        <h2>Pricing Plans</h2>
                        <p>Designed to effectively communicate your service offerings and their associated costs</p>
                    </div>
                </div>
            </div>
            <div class="row aos" data-aos="fade-up">
                <div class="col-lg-4 col-sm-12 d-flex">
                    <div class="pricing-plans card flex-fill">
                        <div class="card-header">
                            <div class="mb-3">
                                <div class="pricing-header mb-3 text-center">
                                    <h4>Basic</h4>
                                    <p class="fs-14 ">Basic service description and up to 3 images</p>
                                </div>
                                <div class="pricing-header-dollar text-center">
                                    <h3>$50 <span class="fs-14 text-gray">/month</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="body-content mt-3">
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Ability to list up to 3 services</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Access to buyer inquiries</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Basic customer support</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-light-500 me-2"></span>
                                    <p class="text-dark fs-14">5% transaction fee on sales</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-light-500 me-2"></span>
                                    <p class="text-dark fs-14">New service providers can test the platform.</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-light-500 me-2"></span>
                                    <p class="text-dark fs-14">Custom pricing for enterprise-level service</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <div class="pricing-btn d-flex">
                                <a href="#"
                                    class="btn btn-dark d-flex align-items-center justify-content-center w-100">Get
                                    Started <i class="ti ti-circle-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex">

                    <div class="pricing-plans card active position-relative flex-fill">
                        <span class="position-absolute popular-badge">
                            Popular
                        </span>
                        <div class="card-header">
                            <div class="mb-3">
                                <div class="pricing-header mb-3 text-center">
                                    <h4>Standard</h4>
                                    <p class="fs-14 ">Enhanced service description with video support</p>
                                </div>
                                <div class="pricing-header-dollar text-center">
                                    <h3>$100 <span class="fs-14 text-gray">/month</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="body-content mt-3">
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Ability to list up to 3 services</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Access to buyer inquiries</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Basic customer support</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">3% transaction fee on sales</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">New service providers can test the platform.</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-light-500 me-2"></span>
                                    <p class="text-dark fs-14">Custom pricing for enterprise-level service</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <div class="pricing-btn d-flex">
                                <a href="#"
                                    class="btn btn-dark d-flex align-items-center justify-content-center w-100">Get
                                    Started <i class="ti ti-circle-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 d-flex">

                    <div class="pricing-plans card flex-fill">
                        <div class="card-header">
                            <div class="mb-3">
                                <div class="pricing-header mb-3 text-center">
                                    <h4>Premium</h4>
                                    <p class="fs-14 ">Advanced service with multiple media types</p>
                                </div>
                                <div class="pricing-header-dollar text-center">
                                    <h3>$150 <span class="fs-14 text-gray">/month</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="body-content mt-3">
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Unlimited service listings</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Unlimited images per service</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Access to advanced marketing tools </p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">2% transaction fee on sales</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Dedicated account manager</p>
                                </div>
                                <div class="d-flex align-items-center content-list"><span
                                        class="ti ti-circle-check-filled text-success me-2"></span>
                                    <p class="text-dark fs-14">Analytics dashboard to track performance</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-0">
                            <div class="pricing-btn d-flex">
                                <a href="#"
                                    class="btn btn-dark d-flex align-items-center justify-content-center w-100">Get
                                    Started <i class="ti ti-circle-arrow-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /pricing Section -->

<!-- Client Section -->
<section class="client-section">			
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-heading aos" data-aos="fade-up" data-aos-duration="2000" >
                    <h2>What our client says</h2>
                    <p>Description highlights the value of client feedback, showcases real testimonials, and
                        encourages potential clients to engage with your company.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <owl-carousel-o [options]="clientFeedbacksOwl">
                   
                      <ng-template carouselSlide>
                        <div class="client-widget card aos" data-aos="fade-up">
                            <div class="card-body">
                                <div class="client-img">
                                    <a href="#">
                                        <img class="img-fluid" alt="Image" src="assets/img/profiles/avatar-01.jpg">
                                    </a>
                                </div>
                                <div class="client-content">
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                    </div>
                                    <p>Versatile and user-friendly platform for freelancers and businesses alike.
                                        Its interface is clean and intuitive, making it easy to post jobs, browse
                                        profiles, and manage projects. The range of services is impressive, </p>
                                    <h5>Hendriques Joy</h5>
                                    <h6>Director</h6>
                                </div>
                            </div>
                        </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client-widget card aos" data-aos="fade-up">
                        <div class="card-body">
                            <div class="client-img">
                                <a href="#">
                                    <img class="img-fluid" alt="Image" src="assets/img/profiles/avatar-02.jpg">
                                </a>
                            </div>
                            <div class="client-content">
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                </div>
                                <p>Excels in providing a quick and easy way to find help for everyday tasks and
                                    home repairs. The platform is straightforward, allowing users to post tasks
                                    and receive from local </p>
                                <h5>Norman David</h5>
                                <h6>CEO</h6>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="client-widget card aos" data-aos="fade-up">
                        <div class="card-body">
                            <div class="client-img">
                                <a href="#">
                                    <img class="img-fluid" alt="Image" src="assets/img/profiles/avatar-03.jpg">
                                </a>
                            </div>
                            <div class="client-content">
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                </div>
                                <p>Offers a comprehensive marketplace for finding local service professionals
                                    across a wide range of categories, including home improvement, events, and
                                    personal services. The platform is user-friendly, </p>
                                <h5>Adrian Janet</h5>
                                <h6>Director</h6>
                            </div>
                        </div>
                    </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="client-widget card aos" data-aos="fade-up">
                            <div class="card-body">
                                <div class="client-img">
                                    <a href="#">
                                        <img class="img-fluid" alt="Image" src="assets/img/profiles/avatar-03.jpg">
                                    </a>
                                </div>
                                <div class="client-content">
                                    <div class="rating">
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                        <i class="fas fa-star filled"></i>
                                    </div>
                                    <p>Offers a comprehensive marketplace for finding local service professionals
                                        across a wide range of categories, including home improvement, events, and
                                        personal services. The platform is user-friendly, </p>
                                    <h5>Adrian Janet</h5>
                                    <h6>Director</h6>
                                </div>
                            </div>
                        </div>
                    </ng-template>
            </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- /Client Section -->


<!-- Partners Section -->
<section class="blog-section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center aos " data-aos="fade-up" data-aos-duration="2000" >
                <div class="section-heading">
                    <h2>Our Partners</h2>
                  
                </div>
            </div>
            <div class="partners-slider aos " data-aos="fade-up" data-aos-duration="2000" >
                <owl-carousel-o [options]="partnersOwl">
                    <ng-container *ngFor="let data of partners">
                        <ng-template carouselSlide>
                <div class="partner-img">
                    <img [src]="data.img" alt="img">
                </div>
               </ng-template>
               </ng-container>
               </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
<!-- Partners Section -->

<!-- Blog Section -->
<section class="blogs-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center aos" data-aos="fade-up">
                <div class="section-heading">
                    <h2>Latest Blog</h2>
                    <p>Here’s a compelling blog description designed to attract readers and provide a clear idea
                        of what they can expect from your blog:</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="blog flex-fill aos" data-aos="fade-up">
                    <div class="blog-image">
                        <a [routerLink]="routes.blogDetails"><img class="img-fluid"
                                src="assets/img/providers/provider-23.jpg" alt="Post Image"></a>
                    </div>
                    <div class="blog-content mb-0">
                        <ul class="blog-items">
                            <li><i class="feather-calendar"></i>09 Aug 2025</li>
                            <li>
                                <div class="post-author">
                                    <a href="#"><i class="feather-user"></i><span>Adrian</span></a>
                                </div>
                            </li>
                        </ul>
                        <h3 class="blog-title">
                            <a [routerLink]="routes.blogDetails">Maximize Your Business Potential with the
                                Right Service</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="blog flex-fill aos" data-aos="fade-up">
                    <div class="blog-image">
                        <a [routerLink]="routes.blogDetails"><img class="img-fluid"
                                src="assets/img/providers/provider-19.jpg" alt="Post Image"></a>
                    </div>
                    <div class="blog-content mb-0">
                        <ul class="blog-items">
                            <li><i class="feather-calendar"></i>05 Aug 2025</li>
                            <li>
                                <div class="post-author">
                                    <a href="#"><i class="feather-user"></i><span>JohnDoe</span></a>
                                </div>
                            </li>
                        </ul>
                        <h3 class="blog-title">
                            <a [routerLink]="routes.blogDetails">Take Advantage of Trial Periods or
                                Consultations</a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="blog flex-fill aos" data-aos="fade-up">
                    <div class="blog-image">
                        <a [routerLink]="routes.blogDetails"><img class="img-fluid"
                                src="assets/img/providers/provider-31.jpg" alt="Post Image"></a>
                    </div>
                    <div class="blog-content mb-0">
                        <ul class="blog-items">
                            <li><i class="feather-calendar"></i>01 July 2025</li>
                            <li>
                                <div class="post-author">
                                    <a href="#"><i class="feather-user"></i><span>Josuva</span></a>
                                </div>
                            </li>
                        </ul>
                        <h3 class="blog-title">
                            <a [routerLink]="routes.blogDetails">Specific features and benefits of your
                                service marketplace.</a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Blog Section -->

<!-- App Section -->
<section class="app-section">
    <div class="container">
        <div class="app-sec">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="col-md-12">
                        <div class="heading aos" data-aos="fade-up" data-aos-duration="2000" >
                            <h2>Download Our App</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <h6>Scan the QR code to get the app now</h6>
                            <div class="scan-img">										
                                <img src="assets/img/scan-img.png" class="img-fluid" alt="img">
                            </div>
                        </div>
                    </div>
                    <div class="downlaod-btn aos" data-aos="fade-up" data-aos-duration="2000" >
                        <a href="javascript:void(0);" [routerLink]="routes.homeOne">
                            <img src="assets/img/googleplay.svg" alt="img">
                        </a>									
                        <a href="javascript:void(0);" [routerLink]="routes.homeOne">
                            <img src="assets/img/appstore.svg" alt="img">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="appimg-set aos" data-aos="fade-up" data-aos-duration="2000" >
                        <img src="assets/img/app-img.png" class="img-fluid" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /App Section -->
    <!-- scrollToTop start -->
    <!-- <div
      (click)="scrollToTop()" (keydown.enter)="scrollToTop()" tabindex="0"
      class="progress-wrap"
      [class.active-progress]="strokeValue < progress"
    >
      <svg
        class="progress-circle svg-content"
        width="100%"
        height="100%"
        viewBox="-1 -1 102 102"
      >
        <path
          d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
          style="transition: stroke-dashoffset 10ms linear 0s"
          attr.stroke-dasharray="{{ progress + 'px' + ',' + progress + 'px' }}"
          attr.stroke-dashoffset="{{ strokeValue + 'px' }}"
        ></path>
      </svg>
    </div> -->
    <!-- scrollToTop end -->
   
