 <!-- Page Wrapper -->
 <div class="page-wrapper">
    <div class="content container-fluid">
        <div class="row">
            <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
                <h5>Provider Enquiry</h5>
                <div class="d-flex align-items-center">
                    <span class="fs-14 me-2">Sort</span>
                    <div class="dropdown me-2">
                        <a href="javascript:void(0);" class="dropdown-toggle bg-light-300 " data-bs-toggle="dropdown">
                            Newly Added
                        </a>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0);" class="dropdown-item active">Recently Added</a>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center  rounded me-2"><i class="ti ti-printer"></i></a>
                    <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded me-2 " (click)="toggleFilterInputs()" id="filter_search"><i class="ti ti-adjustments"></i></a>
                </div>
            </div>
        </div>
        <div id="filter_inputs" [ngStyle]="{ display: isFilterInputsVisible ? 'block' : 'none' }">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3">
                        <div class="sel-cal Calendar-icon">
                            <span><i class="ti ti-calendar-month"></i></span>
                            <input class="form-control datetimepicker" bsDatepicker type="text" placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3 mat-select-box">
                        <mat-select
              [(ngModel)]="selectedValue1"
              [ngModelOptions]="{ standalone: true }"
              class="select"
              placeholder="Select"
            >
              <mat-option
                *ngFor="let data of selectedList1"
                [value]="data.value"
              >
                {{ data.value }}
              </mat-option>
            </mat-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="mb-3 mat-select-box">
                        <mat-select
              [(ngModel)]="selectedValue2"
              [ngModelOptions]="{ standalone: true }"
              class="select"
              placeholder="Select"
            >
              <mat-option
                *ngFor="let data of selectedList2"
                [value]="data.value"
              >
                {{ data.value }}
              </mat-option>
            </mat-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12">
                <!-- Coupons List -->
                <div class="custom-datatable-filter table-responsive">
                    <table class="table datatable">
                        <thead class="thead-light">
                            <tr>

                                <th>Name</th>
                                <th>Enquired Service</th>
                                <th>Email</th>
                                <th>Phone Number </th>
                                <th>Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of providerEnquiry">

                                <td>{{data.name}}</td>

                                <td class="text-dark">
                                    {{data.enquiredService}}
                                </td>
                                <td>{{data.email}}&#64;example.com</td>
                                <td>{{data.phoneNumber}}</td>
                                <td>{{data.date}}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);"
                                            class="btn btn-light bg-light-500 d-flex align-items-center justify-content-center rounded-circle  p-2 me-2"><i
                                                class="ti ti-messages"></i></a>
                                        
                                    </div>
                                </td>
                            </tr>
                           
                        </tbody>
                    </table>
                </div>
                <!-- /Coupons List -->
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <div class="value d-flex align-items-center">
                    <span>Show</span>
                    <select>
                        <option>7</option>
                    </select>
                    <span>entries</span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-gray-9">1 - 07 of 10</span>
                    <nav aria-label="Page navigation">
                        <ul class="paginations d-flex justify-content-center align-items-center">
                            <li class="page-item me-2"><a
                                    class="page-link-1 active d-flex justify-content-center align-items-center "
                                    href="javascript:void(0);">1</a></li>
                            <li class="page-item me-2"><a
                                    class="page-link-1 d-flex justify-content-center align-items-center "
                                    href="javascript:void(0);">2</a></li>
                            <li class="page-item "><a
                                    class="page-link-1 d-flex justify-content-center align-items-center "
                                    href="javascript:void(0);">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Page Wrapper -->

<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete Account</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <form action="#">
                <div class="modal-body">
                    <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
                    <div class="mb-0">
                        <label class="form-label">Password</label>
                        <div class="pass-group">
                            <input type="password" class="form-control pass-input" placeholder="*************">
                            <span class="toggle-password feather-eye-off"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-dark">Delete Account</button>
                </div>	
            </form>
        </div>
    </div>
</div>
<!-- /Delete Account -->
