<div class="page-wrapper">
  <div class="content container-fluid">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-md-4">
          <div class="provider-subtitle">
            <h6>Bookings</h6>
          </div>
        </div>
        <div
          class="col-md-8 d-flex align-items-center justify-content-md-end flex-wrap"
        >
          <div class="review-sort me-2">
            <p>Sort</p>
            <mat-select
              [(ngModel)]="selectedValue"
              [ngModelOptions]="{ standalone: true }"
              class="select"
              placeholder="A - Z"
            >
              <mat-option
                *ngFor="let data of selectedList"
                [value]="data.value"
              >
                {{ data.value }}
              </mat-option>
            </mat-select>
          </div>
          <div class="grid-listview">
            <ul>
              <li>
                <a href="javascript:void(0);">
                  <img src="assets/img/icons/filter-icon.svg" alt="" />
                </a>
              </li>
              <li>
                <a [routerLink]="routes.providerBookDetails" class="active">
                  <i class="feather icon-calendar"></i>
                </a>
              </li>
              <li>
                <a [routerLink]="routes.providerServices">
                  <i class="feather icon-grid"></i>
                </a>
              </li>
              <li>
                <a [routerLink]="routes.providerBooking">
                  <i class="feather icon-list"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <!-- calendar -->
    <div class="row">
      <div class="col-md-12">
        <div class="full-cal" id="calendar-book"><full-calendar [options]="options"></full-calendar></div>
      </div>
    </div>
    <!-- /calendar -->
  </div>
</div>

<!-- Add Leave -->
<div class="modal fade custom-modal" id="add-reschedule">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
      <div class="modal-header border-bottom-0 justify-content-between">
        <h5 class="modal-title">Reschedule Appointment</h5>
        <button
          type="button"
          class="close-btn"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="feather icon-x"></i>
        </button>
      </div>
      <div class="modal-body pt-0">
        <form action="/">
          <div class="wallet-add">
            <div class="form-group">
              <label for="" class="col-form-label">Appointment Date</label>
              <div class="form-icon">
                <input
                  type="text"
                  class="form-control datetimepicker"
                  placeholder="Select appointment date"
                  matInput [matDatepicker]="picker"
                />
                <mat-datepicker #picker></mat-datepicker>
                <mat-datepicker-toggle matIconSuffix [for]="picker">
                  <mat-icon matDatepickerToggleIcon>
                    <span class="cus-icon">
                      <i class="feather icon-calendar"></i>
                    </span>
                  </mat-icon>
                </mat-datepicker-toggle>
              </div>
            </div>
            <div class="form-group">
              <label for="" class="col-form-label">Appointment Time</label>
              <div class="form-icon">
                <input
                  type="text"
                  class="form-control timepicker"
                  placeholder="Select appointment date"
                />
                <span class="cus-icon"><i class="feather icon-clock"></i></span>
              </div>
            </div>
            <div class="modal-submit text-end">
              <a
                href="javascript:void(0);"
                class="btn btn-secondary me-2"
                data-bs-dismiss="modal"
                >Cancel</a
              >
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Add Leave -->

<!-- Alert Message -->
<div class="modal fade custom-modal" id="alertmsg">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
      <div class="modal-header border-bottom-0 justify-content-between">
        <h5 class="modal-title">Cancel Appointment</h5>
        <button
          type="button"
          class="close-btn"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="feather icon-x"></i>
        </button>
      </div>
      <div class="modal-body pt-0">
        <form action="/">
          <div class="msg-alert">
            <p>
              Are you sure you want to cnacel <span>John Doe</span> appointment
              on <span>Oct 28, 2022</span> at time <span>10AM - 12PM</span>
            </p>
            <p>You wan't be able to revert this action later?</p>
          </div>
          <div class="modal-submit text-end">
            <a
              href="javascript:void(0);"
              class="btn btn-secondary me-2"
              data-bs-dismiss="modal"
              >Dismiss</a
            >
            <button type="submit" class="btn btn-primary">Yes, cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- /Alert Message -->

<!-- Booking Details -->
<div class="toggle-sidebar">
  <div class="sidebar-layout">
    <div class="sidebar-header">
      <h5>Booking Details</h5>
      <a href="javascript:void(0);" class="sidebar-close"
        ><i class="feather icon-x"></i
      ></a>
    </div>
    <div class="sidebar-body">
      <div class="book-confirm bk-wrap">
        <div class="d-flex justify-content-between">
          <h6>Services<span class="badge-success">Confirmed</span></h6>
          <a href="javascript:void(0);" class="edit-book"
            ><i class="feather icon-edit"></i
          ></a>
        </div>
        <ul>
          <li>
            <span class="bk-date"
              ><i class="feather icon-calendar"></i> Date & Time
            </span>
            : Oct 28, 2022 - 10AM to 12 AM
          </li>
          <li>
            <span class="bk-date"
              ><i class="feather icon-map-pin"></i> Location
            </span>
            : New York
          </li>
          <li>
            <span class="bk-date"
              ><i class="feather icon-user"></i> User Name
            </span>
            : John Smith
          </li>
        </ul>
        <div class="bk-action">
          <a
            href="javascript:void(0);"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#add-reschedule"
            ><i class="feather icon-user"></i> Reschedule</a
          >
          <a
            href="javascript:void(0);"
            class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#alertmsg"
            ><i class="feather icon-x-circle"></i> Cancel</a
          >
        </div>
      </div>
      <div class="book-customer bk-wrap">
        <h5>Customer Details</h5>
        <div class="d-flex flex-wrap">
          <div class="book-email">
            <img src="assets/img/profiles/avatar-02.jpg" alt="" />
            <div>
              <p>John Doe</p>
              <p>John&#64;example.com</p>
            </div>
          </div>
          <div class="book-email-info">
            <div>
              <p>+1 888 888 8888</p>
              <p>Montana, USA</p>
            </div>
            <a href="javascript:void(0)" class="btn btn-primary btn-mail"
              ><img src="assets/img/icons/message.svg" alt="" /> Chat</a
            >
          </div>
        </div>
      </div>
      <div class="bk-wrap">
        <h5>Appointment Message</h5>
        <p>Thanks for your interest in our services</p>
      </div>
      <div class="bk-wrap bk-service">
        <div>
          <h5>House Cleaning Services</h5>
          <p>quick and quality service</p>
        </div>
        <p class="bk-price">$100.00</p>
      </div>
      <div class="bk-wrap bk-history">
        <h4>Booking History</h4>
        <ul>
          <li>
            <span>
              <i class="feather icon-calendar"></i>
            </span>
            <div class="book-crete">
              <h6>Booking created</h6>
              <p>Oct 28 2022 1:28 PM</p>
            </div>
          </li>
          <li>
            <span>
              <i class="feather icon-user"></i>
            </span>
            <div class="book-crete">
              <h6>Assigned to John Smith</h6>
              <p>Oct 28 2022 1:28 PM</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Booking Details -->

<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header border-bottom-0 justify-content-between">
        <h5 class="modal-title">Delete Account</h5>
        <button
          type="button"
          class="close-btn"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          <i class="feather icon-x"></i>
        </button>
      </div>
      <div class="modal-body pt-0">
        <div class="write-review">
          <form action="/">
            <p>
              Are you sureyou want to delete This Account? To delete your
              account, Type your password.
            </p>
            <div class="form-group">
              <label for="" class="col-form-label">Password</label>
              <div class="pass-group">
                <input
                  type="password"
                  class="form-control pass-input"
                  placeholder="*************"
                />
                <span class="toggle-password feather icon-eye"></span>
              </div>
            </div>
            <div class="modal-submit text-end">
              <a
                href="javascript:void(0);"
                class="btn btn-secondary me-2"
                data-bs-dismiss="modal"
                >Cancel</a
              >
              <button type="submit" class="btn btn-danger">
                Delete Account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Account -->
