        <!-- SEO Settings -->
        <div class="row">
            <div class="content-table">
                <div class="content-page-header ">
                    <h5>SEO Settings</h5>
                </div>
                <ul class="nav seo-list">
                    <li>
                        <a href="javascript:void(0);" class="active" data-bs-toggle="tab" data-bs-target="#site">Site Meta</a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" data-bs-toggle="tab" data-bs-target="#ogmeta">Og Meta</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="site">
                        <form>
                            <div class="form-group">
                                <label for="">Meta Title</label>
                                <input type="text" class="form-control" placeholder="Enter Meta Title">
                            </div>
                            <div class="form-group">
                                <label for="">Site Description</label>
                                <textarea class="form-control" placeholder="Enter Site Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Keywords</label>
                                <input class="input-tags form-control" type="text" data-role="tagsinput"  name="specialist" value="Test" id="specialist">
                            </div>
                            <div class="col-lg-12">
                                <div class="btn-path">
                                    <a href="javascript:void(0);" class="btn btn-cancel me-3">Cancel</a>
                                    <button type="submit" class="btn btn-primary" routerLink="/admin/seo-settings">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="ogmeta">
                        <form>
                            <div class="form-group">
                                <label for="">Meta Titles</label>
                                <input type="text" class="form-control" placeholder="Enter Meta Title">
                            </div>
                            <div class="form-group">
                                <label for="">Site Description</label>
                                <textarea class="form-control" placeholder="Enter Site Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="">Keywords</label>
                                <input class="input-tags form-control" type="text" data-role="tagsinput"  name="specialist" value="Test" id="specialist">
                            </div>
                            <div class="col-lg-12">
                                <div class="btn-path">
                                    <a href="javascript:void(0);" class="btn btn-cancel me-3">Cancel</a>
                                    <button type="submit" class="btn btn-primary" routerLink="/admin/seo-settings">Save Changes</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- /SEO Settings -->
