<h4 class="mb-3">Account Settings</h4>
<h6 class="mb-4">Profile Picture</h6>
<div class="d-flex align-items-center mb-4">
  <span class="avatar avatar-xl me-2">
    <img
      src="assets/img/profiles/avatar-02.jpg"
      class="rounded-circle"
      alt="user"
    />
  </span>
  <div>
    <a href="javascript:void(0);" class="btn btn-dark me-2 mb-2"
      ><i class="feather-upload-cloud me-1"></i>Upload</a
    >
    <a href="javascript:void(0);" class="btn btn-light mb-2">Remove</a>
    <p>
      *image size should be at least 320px big,and less then 500kb. Allowed
      files .png and .jpg.
    </p>
  </div>
</div>
<h6>General Information</h6>
<div class="general-info mb-0">
  <div class="row mb-4">
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">Mobile Number</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3 mat-select-box">
        <label class="form-label">Gender</label>
        <mat-select
          [(ngModel)]="selectedValue1"
          [ngModelOptions]="{ standalone: true }"
          class="select"
          placeholder="Select Gender"
        >
          <mat-option *ngFor="let data of selectedList1" [value]="data.value">
            {{ data.value }}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">Date of birth</label>
        <div class="input-icon position-relative">
          <span class="input-icon-addon"><i class="ti ti-calendar"></i></span>
          <input
            type="text"
            class="form-control datetimepicker"
            placeholder="dd-mm-yyyy"
          />
        </div>
      </div>
    </div>
    <div class="col-md-12 mb-3">
      <div class="mb-3">
        <label class="form-label d-block">Your Bio</label>
        <textarea class="form-control" rows="5"></textarea>
      </div>
    </div>
  </div>
  <h6 class="user-title">Address</h6>
  <div class="row">
    <div class="col-md-12">
      <div class="mb-3">
        <label class="form-label">Address</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">Country</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">State</label>
        <input type="email" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">City</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label class="form-label">Postal Code</label>
        <input type="text" class="form-control" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3 mat-select-box">
        <label class="form-label">Currency Code</label>
        <mat-select
        [(ngModel)]="selectedValue2"
        [ngModelOptions]="{ standalone: true }"
        class="select"
        placeholder="Choose Currency"
      >
        <mat-option *ngFor="let data of selectedList2" [value]="data.value">
          {{ data.value }}
        </mat-option>
      </mat-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3 chip-list-block">
        <label class="form-label">Language</label>

        <mat-form-field class="example-chip-list " appearance="fill">
          <mat-chip-grid #chipGrid aria-label="Enter fruits">
            <mat-chip-row *ngFor="let fruit of fruits"
                          (removed)="remove(fruit)"
                          [editable]="true"
                          (edited)="edit(fruit, $event)"
                          [aria-description]="'press enter to edit ' + fruit.name">
              {{fruit.name}}
              <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
            <input
                   [matChipInputFor]="chipGrid"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)"/>
          </mat-chip-grid>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="acc-submit d-flex justify-content-end align-items-center">
    <a href="javascript:void(0);" class="btn btn-light me-2">Cancel</a>
    <a href="javascript:void(0);" class="btn btn-dark">Save Changes</a>
  </div>
</div>
