<div class="page-wrapper">
    <div class="content container-fluid">
        
        <!-- Profile settings -->
        <div class="row">	
            <div class="col-md-12">	
            <!-- Account Settings -->
                <div class="widget-title">
                    <h4>Account Settings</h4>
                </div>
                <h6 class="user-title">Profile Picture</h6>
                <div class="pro-picture">
                    <div class="pro-img">
                        <img src="assets/img/profiles/avatar-02.jpg" alt="user">
                    </div>
                    <div class="pro-info">
                        <div class="d-flex">
                            <div class="img-upload">
                                <i class="feather icon-upload-cloud me-1"></i>Upload
                                <input type="file">
                            </div>
                            <a href="javascript:void(0);" class="btn btn-remove">Remove</a>
                        </div>
                        <p>*image size should be at least 320px big,and less then 500kb. Allowed files .png and .jpg.</p>
                    </div>
                </div>
                <h6 class="user-title">General Information</h6>
                <div class="general-info">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-form-label">Name</label>
                                <input type="text" class="form-control" placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-form-label">User Name</label>
                                <input type="text" class="form-control" placeholder="Enter your user name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-form-label">Email</label>
                                <input type="email" class="form-control" placeholder="Enter Email Address">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-form-label">Mobile Number</label>
                                <input type="text" class="form-control" placeholder="Enter Mobile Number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group mat-select-box">
                                <label for="" class="col-form-label">Gender</label>
                                <mat-select [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Select Gender">
                                    <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                    {{data.value}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="" class="col-form-label">Date of birth</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control datetimepicker" placeholder="DD/MM/YYYY" matInput [matDatepicker]="picker">
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker">
                                      <mat-icon matDatepickerToggleIcon>
                                        <span class="cus-icon">
                                          <i class="feather icon-calendar"></i>
                                        </span>
                                      </mat-icon>
                                    </mat-datepicker-toggle>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="" class="col-form-label d-block">Your Bio <span class="brief-bio float-end">Brief description for your profile. URLs are hyperlinked.</span></label>
                                <textarea class="form-control" placeholder="Add a Short Bio....."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <h6 class="user-title">Address </h6>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="" class="col-form-label">Address<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter your address">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-form-label">Country<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter your Country">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-form-label">State<span class="text-danger">*</span></label>
                            <input type="email" class="form-control" placeholder="Enter your state">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-form-label">City<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter your city">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-form-label">Postal Code<span class="text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter your postal code">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mat-select-box">
                            <label for="" class="col-form-label">Currency Code</label>
                            <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Choose Currency">
                                <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                {{data.value}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="" class="col-form-label">Language</label>
                            <mat-form-field class="example-chip-list" appearance="fill">
                                <mat-chip-grid #chipGrid aria-label="Enter fruits">
                                  <mat-chip-row *ngFor="let fruit of fruits"
                                                (removed)="remove(fruit)"
                                                [editable]="true"
                                                (edited)="edit(fruit, $event)"
                                                [aria-description]="'press enter to edit ' + fruit.name">
                                    {{fruit.name}}
                                    <button matChipRemove [attr.aria-label]="'remove ' + fruit.name">
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                  </mat-chip-row>
                                  <input 
                                         [matChipInputFor]="chipGrid"
                                         [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                         [matChipInputAddOnBlur]="addOnBlur"
                                         (matChipInputTokenEnd)="add($event)"/>
                                </mat-chip-grid>
                              </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="acc-submit">
                    <a href="javascript:void(0);" class="btn btn-secondary">Cancel</a>
                    <a href="javascript:void(0);" class="btn btn-primary">Save Changes</a>
                </div>
            </div>
            <!-- /Account Settings -->
                    
        </div>
        <!-- /profile-settings -->
        
    </div>
</div>