<div class="bg-img">
    <img src="assets/img/bg/work-bg-03.png" alt="img" class="bgimg1">
    <img src="assets/img/bg/work-bg-03.png" alt="img" class="bgimg2">
    <img src="assets/img/bg/feature-bg-03.png" alt="img" class="bgimg3">
</div>

<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title">Find a Professional</h2>
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="routes.homeOne">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Find a Professional</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->	

<div class="content">
    <div class="container">
        
        <div class="row">
        
            <!-- Filter -->
            <div class="col-lg-3 col-sm-12 theiaStickySidebar">
                <div class="filter-div">
                    <div class="filter-head">
                        <h5>Filter by</h5>
                        <a href="javascript:void(0);" class="reset-link">Reset Filters</a>
                    </div>
                    <div class="filter-content">
                        <h2>Keyword</h2>
                        <input type="text" class="form-control" placeholder="What are you looking for?">
                    </div>
                    <div class="filter-content">
                        <h2>Categories <span><i class="feather icon-chevron-down"></i></span></h2>
                        <div class="filter-checkbox" id="fill-more">
                            <ul>
                                <li>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                        <b class="check-content">All Categories</b>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                        <b class="check-content">Construction</b>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                        <b class="check-content">Car Wash</b>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                        <b class="check-content">Electrical</b>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                        <b class="check-content">Cleaning</b>
                                    </label>
                                </li>
                                <li>
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                        <b class="check-content">Interior</b>
                                    </label>
                                </li>
                                <li *ngIf="isCollapsed">
                                    <label class="checkboxs">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                        <b class="check-content">Computer</b>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <a href="javascript:void(0);" id="more" (click)="toggleCollapse()" class="more-view">{{ isCollapsed ? 'Show more' : 'Show less' }} <i [ngClass]="isCollapsed ? 'feather icon-arrow-down-circle' : 'feather icon-arrow-up-circle'" class="ms-1"></i></a>
                    </div>
                    <div class="filter-content">
                        <h2>Sub Category</h2>
                        <select class="form-control select">
                            <option>All Sub Category</option>
                            <option>Computer</option>
                            <option>Construction</option>
                        </select>
                    </div>
                    <div class="filter-content">
                        <h2>Location</h2>
                        <div class="group-img">
                            <input type="text" class="form-control" placeholder="Select Location">									
                            <i class="feather icon-map-pin"></i>
                        </div>
                    </div>
                    <div class="filter-content">
                        <h2 class="mb-4">Price Range</h2>
                        <div class="filter-range">
                            <input type="text" id="range_03">
                        </div>
                        <div class="filter-range-amount">
                            <h5>Price: <span>$05 - $210</span></h5>
                        </div>
                    </div>
                    <div class="filter-content">
                        <h2>By Rating <span><i class="feather icon-chevron-down"></i></span></h2>
                        <ul class="rating-set">
                            <li>
                                <label class="checkboxs d-inline-flex">
                                    <input type="checkbox">
                                    <span><i></i></span>												
                                </label>
                                <a class="rating" href="javascript:void(0);">	
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star"></i>
                                    <span class="d-inline-block average-rating float-end">(35)</span>
                                </a>
                            </li>
                            <li>
                                <label class="checkboxs d-inline-flex">
                                    <input type="checkbox">
                                    <span><i></i></span>												
                                </label>
                                <a class="rating" href="javascript:void(0);">	
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star"></i>		
                                    <span class="d-inline-block average-rating float-end">(40)</span>
                                </a>
                            </li>
                            <li>
                                <label class="checkboxs d-inline-flex">
                                    <input type="checkbox">
                                    <span><i></i></span>												
                                </label>
                                <a class="rating" href="javascript:void(0);">	
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star"></i>		
                                    <i class="fa-regular fa-star"></i>		
                                    <span class="d-inline-block average-rating float-end">(40)</span>
                                </a>
                            </li>
                            <li>
                                <label class="checkboxs d-inline-flex">
                                    <input type="checkbox">
                                    <span><i></i></span>												
                                </label>
                                <a class="rating" href="javascript:void(0);">		
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star"></i>		
                                    <i class="fa-regular fa-star"></i>		
                                    <i class="fa-regular fa-star"></i>		
                                    <span class="d-inline-block average-rating float-end">(20)</span>
                                </a>
                            </li>
                            <li>
                                <label class="checkboxs d-inline-flex">
                                    <input type="checkbox">
                                    <span><i></i></span>												
                                </label>
                                <a class="rating" href="javascript:void(0);">	
                                    <i class="fa-regular fa-star filled"></i>
                                    <i class="fa-regular fa-star"></i>		
                                    <i class="fa-regular fa-star"></i>		
                                    <i class="fa-regular fa-star"></i>		
                                    <i class="fa-regular fa-star"></i>		
                                    <span class="d-inline-block average-rating float-end">(5)</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="btn btn-primary">Search</button>
                </div>
            </div>
            <!-- /Filter -->
            
            <!-- Service -->
            <div class="col-lg-9 col-sm-12">
                <div class="row sorting-div">
                    <div class="col-lg-4 col-sm-12 ">
                        <div class="count-search">
                            <h6>Found 11 Services On Search</h6>
                        </div>
                    </div>
                    <div class="col-lg-8 col-sm-12 d-flex justify-content-end ">
                        <div class="sortbyset">
                            <h4>Sort</h4>
                            <div class="sorting-select">
                                <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Price Low to High">
                                    <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                    {{data.value}}
                                    </mat-option>
                                </mat-select>
                            </div>
                        </div>
                        <div class="grid-listview">
                            <ul>
                                <li>
                                    <a [routerLink]="routes.serviceGrid">
                                        <i class="feather icon-grid"></i>
                                    </a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.serviceList" class="active">
                                        <i class="feather icon-list"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                
                        <!-- Service List -->
                        <div class="service-list" *ngFor="let data of searchList">
                            <div class="service-cont">
                                <div class="service-cont-img">
                                    <a [routerLink]="routes.serviceDetails">
                                        <img class="img-fluid serv-img" alt="Service Image" [src]="data.img1">
                                    </a>
                                    <div class="fav-item">
                                        <a href="javascript:void(0)" class="fav-icon" (click)="data.like = !data.like" [ngClass]="{'selected' : data.like === true}">
                                            <i class="feather icon-heart"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="service-cont-info">
                                    <a [routerLink]="routes.categories">
                                        <span class="item-cat">{{data.service}}</span>
                                    </a>
                                    <h3 class="title">
                                        <a [routerLink]="routes.serviceDetails">{{data.title}}</a>
                                    </h3>
                                    <p><i class="feather icon-map-pin"></i>{{data.country}}</p>
                                    <div class="service-pro-img">
                                        <img [src]="data.img2" alt="">
                                        <span><i class="fas fa-star filled"></i>{{data.rating}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="service-action">
                                <h6>{{data.price1}}<span class="old-price">{{data.price2}}</span></h6>
                                <a [routerLink]="routes.booking" class="btn btn-secondary">{{data.content}}</a>
                            </div>
                        </div>
                        <!-- /Service List -->
                    
                    </div>
                </div>
                
                <!-- Pagination -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="blog-pagination rev-page">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link page-prev" href="javascript:void(0);" tabindex="-1"><i class="fa-solid fa-arrow-left me-1"></i> PREV</a>
                                    </li>
                                    <li class="page-item active">
                                        <a class="page-link" href="javascript:void(0);">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="javascript:void(0);">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link page-next" href="javascript:void(0);">NEXT <i class="fa-solid fa-arrow-right ms-1"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- /Pagination -->
                
            </div>
            <!-- /Service -->
            
        </div>
    </div>			
</div>