<div class="top-bar-nine">
  <div class="container">
    <div class="top-bar-nine-all">
      <div class="navbar-header">
        <a class="navbar-brand logo" [routerLink]="routes.homeNine">
          <img src="assets/img/logo.svg" class="img-fluid" alt="Logo">
        </a>
      </div>
      <div class="top-bar-ryt">
        <div class="top-address">
          <span><i class="feather icon-phone-call"></i></span>
          <div>
            <h6>Get Support</h6>
            <p>310-437-2766</p>
          </div>
        </div>
        <div class="top-address">
          <span><img src="assets/img/icons/global-nine.svg" alt="image"></span>
          <div class="top-addres-nine">
            <h6>Language</h6>
            <p>
              <img src="assets/img/icons/dropdown-nine.svg" class="footer-dropdown" alt="img">
              <select class="top-select">
                <option>English</option>
                <option>Mexico</option>
                <option>American</option>
            </select>
            </p>
          </div>
        </div>
        <div class="top-btn">
          <a [routerLink]="routes.login" class="btn btn-primary"><i class="feather icon-user"></i> Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-home-seven-header></app-home-seven-header>
  <!-- Hero Section -->
  <section class="hero-section-nine">
    <div class="container">
      <div class="home-banner home-banner-nine">
        <div class="row align-items-center w-100">
          <div class="col-lg-6">
            <div class="banner-imgs banner-imgs-nine">
              <div class="row">
                <div class="col-sm-6">
                  <div class="banner-img-01">
                    <div class="banner-1 shape-1">
                      <img
                        class="img-fluid"
                        alt="banner"
                        src="assets/img/banner-img-04.jpg"
                      />
                    </div>
                    <div class="banners-3 shape-3">
                      <img
                        class="img-fluid"
                        alt="banner"
                        src="assets/img/banner-img-02.jpg"
                      />
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="banner-img-02">
                    <div class="banner-2 shape-3">
                      <img
                        class="img-fluid"
                        alt="banner"
                        src="assets/img/banner-img-03.jpg"
                      />
                    </div>
                    <div class="banner-4 shape-2">
                      <img
                        class="img-responsive"
                        alt="banner"
                        src="assets/img/banner-img-01.jpg"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-10 mx-auto">
            <div
              class="section-search section-search-nine aos"
              data-aos="fade-up"
            >
              <span class="badge badge-primary-transparent"
                >Welcome to TruelySell Mechanic</span
              >
              <h1 class="display-5">Providing A Professional Reliable service</h1>
              <p>
                Our professional cleaning service comes up with a complete
                solution that makes your space sparkle!
              </p>
              <a [routerLink]="routes.booking" class="btn btn-dark"
                ><i class="feather icon-lock me-2"></i>Book Appointment</a
              >
              <div class="banner-appointment">
                <img src="assets/img/profiles/avatar-15.jpg" alt="User" />
                <div>
                  <p class="mb-1">Got a question about our service?</p>
                  <h4>Call us: 092837644</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero Section -->
  
  <!-- Safety is out first Priority -->
  <section class="safety-section section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="safety-first-all">
            <div
              class="section-heading section-heading-nine safety-heading-nine aos"
              data-aos="fade-up"
            >
              <h2 class="display-5 mb-0">
                Safety is Out first Priority For <span>Us</span>
              </h2>
            </div>
            <p class="safety-para">
              We stay ahead of industry trends and continuously seek innovative
              solutions to better serve our clients.
            </p>
            <p>
              Our forward-thinking approach ensures that you benefit from the
              latest advancements and strategies.We operate with the highest level
              of integrity and ethical standards. Our business practices are
              designed to build long-term relationships based on trust, respect,
              and mutual success. If you are going to use a passage of Lorem
              Ipsum,
            </p>
            <p>
              We adhere to rigorous quality standards to ensure that every service
              we provide meets the highest levels of excellence. Our commitment to
              quality is reflected in the results we deliver and the satisfaction
              of our clients.Our team consists of highly qualified professionals
              who are experts in their fields. We conduct thorough vetting and
              ongoing training to ensure that our team remains at the forefront of
              industry trends and best practices.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="safety-list aos" data-aos="fade-up">
                <img
                  src="assets/img/blog/blog-13.jpg"
                  alt="image"
                  class="img-fluid"
                />
                <ul>
                  <li>
                    <span><i class="feather icon-check"></i></span>
                    Highly Professional Staff
                  </li>
                  <li>
                    <span><i class="feather icon-check"></i></span>
                    100% Satisfaction Guarantee
                  </li>
                  <li>
                    <span><i class="feather icon-check"></i></span>
                    Quality Control System
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="safety-list safety-ryt-two aos" data-aos="fade-up">
                <img
                  src="assets/img/blog/blog-12.jpg"
                  alt="image"
                  class="img-fluid"
                />
                <ul>
                  <li>
                    <span><i class="feather icon-check"></i></span>
                    Accurate Testing Process
                  </li>
                  <li>
                    <span><i class="feather icon-check"></i></span>
                    Unrivalled Workmanship
                  </li>
                  <li>
                    <span><i class="feather icon-check"></i></span>
                    Timely Delivery
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Safety is out first Priority -->
  
  <!-- Our Services -->
  <section class="service-nine-section section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div
            class="section-heading section-heading-nine aos"
            data-aos="fade-up"
          >
            <span class="title-badge">Trusted & Quality Services</span>
            <h2>Our <span>Services</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="service-nine-slider">
            <owl-carousel-o [options]="serviceOwl">
              <ng-template carouselSlide>
                <div
                  class="service-widget service-widget-nine aos"
                  data-aos="fade-up"
                >
                  <div class="service-img">
                    <a [routerLink]="routes.serviceDetails">
                      <img
                        class="img-fluid serv-img"
                        alt="Service Image"
                        src="assets/img/services/mechanic-service-01.jpg"
                      />
                    </a>
                  </div>
                  <div class="service-content service-feature-nine">
                    <div class="shop-content-logo">
                      <img
                        src="assets/img/icons/car-service-icon-1.svg"
                        alt="image"
                      />
                    </div>
                    <span>25 Mechanics</span>
                    <h5>
                      <a [routerLink]="routes.serviceDetails"
                        >Car Engine Service & Repair Maintenance</a
                      >
                    </h5>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div
                  class="service-widget service-widget-nine aos"
                  data-aos="fade-up"
                >
                  <div class="service-img">
                    <a [routerLink]="routes.serviceDetails">
                      <img
                        class="img-fluid serv-img"
                        alt="Service Image"
                        src="assets/img/services/mechanic-service-02.jpg"
                      />
                    </a>
                  </div>
                  <div class="service-content service-feature-nine">
                    <div class="shop-content-logo">
                      <img
                        src="assets/img/icons/car-service-icon-2.svg"
                        alt="image"
                      />
                    </div>
                    <span>15 Mechanics</span>
                    <h5>
                      <a [routerLink]="routes.serviceDetails"
                        >Car Audio Repair and Maintenance customers</a
                      >
                    </h5>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div
                  class="service-widget service-widget-nine aos"
                  data-aos="fade-up"
                >
                  <div class="service-img">
                    <a [routerLink]="routes.serviceDetails">
                      <img
                        class="img-fluid serv-img"
                        alt="Service Image"
                        src="assets/img/services/mechanic-service-03.jpg"
                      />
                    </a>
                  </div>
                  <div class="service-content service-feature-nine">
                    <div class="shop-content-logo">
                      <img
                        src="assets/img/icons/car-service-icon-1.svg"
                        alt="image"
                      />
                    </div>
                    <span>30 Mechanics</span>
                    <h5>
                      <a [routerLink]="routes.serviceDetails"
                        >Car Audio Repair and Maintenance</a
                      >
                    </h5>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div
                  class="service-widget service-widget-nine aos"
                  data-aos="fade-up"
                >
                  <div class="service-img">
                    <a [routerLink]="routes.serviceDetails">
                      <img
                        class="img-fluid serv-img"
                        alt="Service Image"
                        src="assets/img/services/mechanic-service-04.jpg"
                      />
                    </a>
                  </div>
                  <div class="service-content service-feature-nine">
                    <div class="shop-content-logo">
                      <img
                        src="assets/img/icons/car-service-icon-3.svg"
                        alt="image"
                      />
                    </div>
                    <span>17 Mechanics</span>
                    <h5>
                      <a [routerLink]="routes.serviceDetails"
                        >Engine Service and repair Maintenance</a
                      >
                    </h5>
                  </div>
                </div>
              </ng-template>
              <ng-template carouselSlide>
                <div
                  class="service-widget service-widget-nine aos"
                  data-aos="fade-up"
                >
                  <div class="service-img">
                    <a [routerLink]="routes.serviceDetails">
                      <img
                        class="img-fluid serv-img"
                        alt="Service Image"
                        src="assets/img/services/mechanic-service-02.jpg"
                      />
                    </a>
                  </div>
                  <div class="service-content service-feature-nine">
                    <div class="shop-content-logo">
                      <img
                        src="assets/img/icons/car-service-icon-1.svg"
                        alt="image"
                      />
                    </div>
                    <span>25 Mechanics</span>
                    <h5>
                      <a [routerLink]="routes.serviceDetails"
                        >Performance Upgrade and Customization</a
                      >
                    </h5>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm-6">
          <div
            class="slidernav dots-bottom owl-dots text-center text-md-start"
          ></div>
        </div>
        <div class="col-sm-6">
          <div
            class="btn-service-nine text-center text-md-end aos"
            data-aos="fade-up"
          >
            <a [routerLink]="routes.serviceGrid" class="btn btn-primary btn-view"
              >View all 255 Services</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Our Services -->
  
  <!-- Featured Services -->
  <section class="feature-service-nine section">
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="section-heading section-heading-nine aos" data-aos="fade-up">							
                      <span class="title-badge">Most Booked Services</span>
                      <h2>Featured <span>Services</span></h2>
                  </div>
              </div>
          </div>
          <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="service-widget service-widget-nine">
                      <div class="service-img">
                          <a [routerLink]="routes.serviceDetails" class="service-image">
                              <img class="img-fluid serv-img" alt="Service Image"
                                  src="assets/img/services/mechanic-feature-01.jpg">
                          </a>
                          <div class="item-info items-nine justify-content-between">
                              <img src="assets/img/profiles/avatar-01.jpg" alt="user">
                              <div class="rating">
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <span>(198)</span>
                              </div>
                          </div>
                      </div>
                      <div class="service-content service-content-nine">
                          <span class="sub-title">Two-Wheeler service</span>
                          <h3 class="title">
                              <a [routerLink]="routes.serviceDetails">Wheel Alignment and Installation</a>
                          </h3>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-address">
                                  <p><i class="feather icon-clock me-2"></i>07:00 AM - 11:00 PM</p>
                                  <p><i class="feather icon-map-pin me-2"></i>Burnside Court, Phoenix</p>
                              </div>
                              <h5 class="text-primary">$68.00</h5>
                          </div>
                          <div class="service-link">
                              <a [routerLink]="routes.booking" class="btn btn-light w-100">Book Appointment</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="service-widget service-widget-nine">
                      <div class="service-img">
                          <a [routerLink]="routes.serviceDetails" class="service-image">
                              <img class="img-fluid serv-img" alt="Service Image"
                                  src="assets/img/services/mechanic-feature-02.jpg">
                          </a>
                          <div class="item-info items-nine justify-content-between">
                              <img src="assets/img/profiles/avatar-02.jpg" alt="User">
                              <div class="rating">
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <span>(198)</span>
                              </div>
                          </div>
                      </div>
                      <div class="service-content service-content-nine">
                          <span class="sub-title">Four-Wheeler service</span>
                          <h3 class="title">
                              <a [routerLink]="routes.serviceDetails">Routine Maintenance</a>
                          </h3>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-address">
                                  <p><i class="feather icon-clock me-2"></i>08:00 AM - 09:00 PM</p>
                                  <p><i class="feather icon-map-pin me-2"></i>Crosswind Drive, Folsomdale</p>
                              </div>
                              <h5 class="text-primary">$56.00</h5>
                          </div>
                          <div class="service-link">
                              <a [routerLink]="routes.booking" class="btn btn-light w-100">Book Appointment</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                  <div class="service-widget service-widget-nine">
                      <div class="service-img">
                          <a [routerLink]="routes.serviceDetails" class="service-image">
                              <img class="img-fluid serv-img" alt="Service Image"
                                  src="assets/img/services/mechanic-feature-03.jpg">
                          </a>
                          <div class="item-info items-nine justify-content-between">
                              <img src="assets/img/profiles/avatar-03.jpg" alt="image">
                              <div class="rating">
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <i class="fa-solid fa-star filled"></i>
                                  <span>(198)</span>
                              </div>
                          </div>
                      </div>
                      <div class="service-content service-content-nine">
                          <span class="sub-title">Engine Service</span>
                          <h3 class="title">
                              <a [routerLink]="routes.serviceDetails">Engine Repair and Diagnostics</a>
                          </h3>
                          <div class="feature-content d-flex align-items-center justify-content-between">
                              <div class="feature-address">
                                  <p><i class="feather icon-clock me-2"></i>07:00 AM - 11:00 PM</p>
                                  <p><i class="feather icon-map-pin me-2"></i>Main Boulevard, Texas</p>
                              </div>
                              <h5 class="text-primary">$68.00</h5>
                          </div>
                          <div class="service-link">
                              <a [routerLink]="routes.booking" class="btn btn-light w-100">Book Appointment</a>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="btn-service-nine text-center aos" data-aos="fade-up">
                  <a [routerLink]="routes.search" class="btn btn-primary btn-view">View all 255 Services</a>
              </div>
          </div>
      </div>
  </section>
  <!-- /Featured Services -->
  
  <section class="journey-nine-section section">
      <div class="container">
          <div class="row justify-content-between g-4">
              <div class="col-lg-4">
                  <div class="section-heading section-heading-nine journey-heading-nine aos" data-aos="fade-up">														
                      <span class="title-badge">Activity</span>
                      <h2 class="text-white">It’s Our <span>journey</span></h2>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 d-flex">
                  <div class="journey-client-all aos" data-aos="fade-up">
                      <div class="journey-counter">
                          <h2><span class="counter">644</span> +</h2>
                          <p>Active Clients</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 d-flex">
                  <div class="journey-client-all aos" data-aos="fade-up">
                      <div class="journey-counter">
                          <h2><span class="counter">290</span> +</h2>
                          <p>Expert Mechanics</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 d-flex">
                  <div class="journey-client-all aos" data-aos="fade-up">
                      <div class="journey-counter">
                          <h2><span class="counter">100</span> +</h2>
                          <p>Total Rewards</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-2 col-md-3 col-sm-6 d-flex">
                  <div class="journey-client-all aos" data-aos="fade-up">
                      <div class="journey-counter">
                          <h2><span class="counter">24</span> +</h2>
                          <p>Years Reputation</p>
                      </div>
                  </div>
              </div>
          </div>
  
  
      </div>
  </section>
  
     <!-- Why Choose Us -->
		<section class="choose-nine-section section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="section-heading section-heading-nine aos" data-aos="fade-up">
							<span class="title-badge">Trusted & Quality Services</span>
							<h2>Why Choose <span>Us?</span></h2>
						</div>
					</div>
				</div>
				<div class="row justify-content-center g-4 aos" data-aos="fade-up">
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="reasonable-wrap bg-primary">
							<img src="assets/img/icons/choose-icon-3.svg" alt="image">
							<h5>Expert Mechanics</h5>
							<p>Our expertise spans across ensuring that we have the skills insights to deliver results.</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="reasonable-wrap bg-secondary">
							<img src="assets/img/icons/choose-icon-4.svg" alt="image">
							<h5>Reasonable Price</h5>
							<p>Your satisfaction is our  priority. We listen to needs, provide personalized solutions</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="reasonable-wrap bg-dark">
							<img src="assets/img/icons/choose-icon-2.svg" alt="image">
							<h5>fast feature</h5>
							<p>Our commitment to a customer-first approach means we go above beyond to ensure</p>
						</div>
					</div>
					<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
						<div class="reasonable-wrap">
							<img src="assets/img/icons/choose-icon-1.svg" alt="image">
							<h5 class="text-gray-9">Awarded Workshop</h5>
							<p class="text-default">From upfront pricing and detailed service descriptions to transparent processes</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /Why Choose Us? -->
  
  <!-- our Mechanics -->
  <section class="mechanics-section section">
    <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <div class="section-heading section-heading-nine aos" data-aos="fade-up">													
                  <span class="title-badge">Our Team</span>
                  <h2>Our <span>Mechanics</span></h2>
              </div>
          </div>
      </div>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button
            class="nav-link active"
            id="pills-home-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-home"
            type="button"
            role="tab"
            aria-controls="pills-home"
            aria-selected="true"
          >
            Car Mechanic
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button
            class="nav-link"
            id="pills-profile-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-profile"
            type="button"
            role="tab"
            aria-controls="pills-profile"
            aria-selected="false"
          >
            Commercial Mechanic
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-home"
          role="tabpanel"
          aria-labelledby="pills-home-tab"
        >
          <div class="row aos" data-aos="fade-up">
            <div class="col-md-12">
              <div class="provider-nine-slider">
                <owl-carousel-o [options]="mechanicsOwl">
                  <ng-container *ngFor="let data of mechanics">
                    <ng-template carouselSlide>
                      <div class="providerset providerset-nine">
                        <div class="providerset-img">
                          <a [routerLink]="routes.providerDetails">
                            <img [src]="data.img" alt="img" />
                          </a>
                        </div>
                        <div class="providerset-content">
                          <h6>{{ data.heading }}</h6>
                          <h5>
                            <a [routerLink]="routes.providerDetails">{{
                              data.name
                            }}</a>
                          </h5>
                          <div class="provider-rating provider-rating-nine">
                            <div class="rating">
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fas fa-star filled"></i>
                              <i class="fa-solid fa-star-half-stroke filled"></i
                              ><span>{{ data.rating }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-profile"
          role="tabpanel"
          aria-labelledby="pills-profile-tab"
        >
          <div class="row aos" data-aos="fade-up">
            <div class="col-md-12">
              <div class="owl-carousel provider-nine-slider">
                <div class="providerset providerset-nine">
                  <div class="providerset-img">
                    <a [routerLink]="routes.providerDetails">
                      <img src="assets/img/gallery/gallery-18.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="providerset-content">
                    <h6>Wheel Alignment Specialist</h6>
                    <h4>
                      <a [routerLink]="routes.providerDetails">John Smith</a>
                    </h4>
                    <div class="provider-rating provider-rating-nine">
                      <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fa-solid fa-star-half-stroke filled"></i
                        ><span>(320)</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="providerset providerset-nine">
                  <div class="providerset-img">
                    <a [routerLink]="routes.providerDetails">
                      <img src="assets/img/gallery/gallery-19.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="providerset-content">
                    <h6>Hatchback mechanic</h6>
                    <h4>
                      <a [routerLink]="routes.providerDetails">Daniale Joe</a>
                    </h4>
                    <div class="provider-rating provider-rating-nine">
                      <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fa-solid fa-star-half-stroke filled"></i
                        ><span>(320)</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="providerset providerset-nine">
                  <div class="providerset-img">
                    <a [routerLink]="routes.providerDetails">
                      <img src="assets/img/gallery/gallery-20.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="providerset-content">
                    <h6>Mechanic</h6>
                    <h4>
                      <a [routerLink]="routes.providerDetails">John Smith</a>
                    </h4>
                    <div class="provider-rating provider-rating-nine">
                      <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fa-solid fa-star-half-stroke filled"></i
                        ><span>(320)</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="providerset providerset-nine">
                  <div class="providerset-img">
                    <a [routerLink]="routes.providerDetails">
                      <img src="assets/img/gallery/gallery-18.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="providerset-content">
                    <h6>Wheel Alignment Specialist</h6>
                    <h4>
                      <a [routerLink]="routes.providerDetails">John Smith</a>
                    </h4>
                    <div class="provider-rating provider-rating-nine">
                      <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fa-solid fa-star-half-stroke filled"></i
                        ><span>(320)</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="providerset providerset-nine">
                  <div class="providerset-img">
                    <a [routerLink]="routes.providerDetails">
                      <img src="assets/img/gallery/gallery-18.jpg" alt="img" />
                    </a>
                  </div>
                  <div class="providerset-content">
                    <h6>Wheel Alignment Specialist</h6>
                    <h4>
                      <a [routerLink]="routes.providerDetails">John Smith</a>
                    </h4>
                    <div class="provider-rating provider-rating-nine">
                      <div class="rating">
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fas fa-star filled"></i>
                        <i class="fa-solid fa-star-half-stroke filled"></i
                        ><span>(320)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /our Mechanics -->
  
  <!-- Customer Reviews -->
  <section class="customer-review-section section">
    <div class="customer-side-main-all">
      <div class="customer-side-left-img">
        <img src="assets/img/customer-review-after.png" alt="image" />
      </div>
      <div class="customer-side-right-img">
        <img src="assets/img/customer-review-before.png" alt="image" />
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-heading section-heading-nine aos" data-aos="fade-up">													
            <span class="title-badge">Testimonials</span>
            <h2>What Our Client <span>Say’s</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="customer-review-slider">
            <owl-carousel-o [options]="customersReviewOwl">
              <ng-container *ngFor="let data of customersReview">
                <ng-template carouselSlide>
                  <div class="customer-reviews-all">
                    <div class="customer-reviews-main">
                      <img [src]="data.img" alt="" />
                      <div class="customer-quote">
                        <img src="assets/img/icons/customer-quote.svg" alt="" />
                      </div>
                    </div>
                    <h4>{{ data.heading }}</h4>
                    <span>{{ data.country }}</span>
                    <div class="rating">
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fas fa-star filled"></i>
                      <i class="fa-solid fa-star-half-stroke filled"></i>
                    </div>
                    <p>{{ data.para }}</p>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Customer Reviews -->
  
  <!-- Additional Services -->
  <section class="additional-service-section  section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="section-heading section-heading-nine aos" data-aos="fade-up">												
            <span class="title-badge">Additional Serrvices</span>
            <h2>Our Added <span>Services</span></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="service-nine-slider">
            <owl-carousel-o [options]="additionalServiceOwl">
              <ng-container *ngFor="let data of additionalService">
                <ng-template carouselSlide>
                  <div
                    class="service-widget service-widget-nine service-widget-nine-two aos"
                    data-aos="fade-up"
                  >
                    <div class="service-img">
                      <a [routerLink]="routes.serviceDetails">
                        <img
                          class="img-fluid serv-img"
                          alt="Service Image"
                          [src]="data.img1"
                          alt="image"
                        />
                      </a>
                      <div class="item-info items-nine items-nine-two">
                        <img [src]="data.img2" alt="" />
                      </div>
                    </div>
                    <div class="service-content service-feature-nine">
                      <span>{{ data.mechanics }}</span>
                      <p>{{ data.para }}</p>
                    </div>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
      <div class="btn-sec btn-service-nine aos" data-aos="fade-up">
        <a [routerLink]="routes.serviceDetails" class="btn btn-primary btn-view"
          >VIEW ALL 255 SERVICES</a
        >
      </div>
    </div>
  </section>
  <!-- /Additional Services -->
  
  <!-- Our Blogs -->
  <section class="blogs-nine-section section">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div
            class="section-heading section-heading-nine aos"
            data-aos="fade-up"
          >
          <span class="title-badge">Latest Articles</span>
            <h2>Our Blogs</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="blogs-nine-slider">
            <owl-carousel-o [options]="latestBlogsOwl">
             
                <ng-template carouselSlide>
                  <div class="blog blog-new flex-fill">
                    <div class="blog-image">
                      <a [routerLink]="routes.blogDetails"><img class="img-fluid" src="assets/img/blog/mechanic-blog-01.jpg" alt="Post Image"></a>
                      <div class="date">
                        25<span>Dec</span>
                      </div>
                    </div>
                    <div class="blog-content">
                      <div class="blog-user-info d-flex align-items-center justify-content-between">
                        <div class="blog-user d-flex align-items-center">
                          <img src="assets/img/profiles/avatar-15.jpg" alt="User">
                          <span>Cynthia Tyree</span>
                        </div>
                        <h6><i class="feather-tag me-1"></i>Services</h6>
                      </div>
                      <h3 class="blog-title">
                        <a [routerLink]="routes.blogDetails">Take Advantage of Trial Periods or Consultations</a>
                      </h3>
                      <p>In today’s fast-paced business world, finding the right services to support your growth can be a game...</p>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="blog blog-new flex-fill">
                    <div class="blog-image">
                      <a [routerLink]="routes.blogDetails"><img class="img-fluid" src="assets/img/blog/mechanic-blog-02.jpg" alt="Post Image"></a>
                      <div class="date">
                        22<span>Dec</span>
                      </div>
                    </div>
                    <div class="blog-content">
                      <div class="blog-user-info d-flex align-items-center justify-content-between">
                        <div class="blog-user d-flex align-items-center">
                          <img src="assets/img/profiles/avatar-10.jpg" alt="User">
                          <span>Adrian Lessli</span>
                        </div>
                        <h6><i class="feather-tag me-1"></i>Services</h6>
                      </div>
                      <h3 class="blog-title">
                        <a [routerLink]="routes.blogDetails">Maximize Your Business Potential with the Right Service</a>
                      </h3>
                      <p>One of the biggest advantages of using a service marketplace is the access to a wide range of services.</p>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="blog blog-new flex-fill">
                    <div class="blog-image">
                      <a [routerLink]="routes.blogDetails"><img class="img-fluid" src="assets/img/blog/mechanic-blog-03.jpg" alt="Post Image"></a>
                      <div class="date">
                        20<span>Dec</span>
                      </div>
                    </div>
                    <div class="blog-content">
                      <div class="blog-user-info d-flex align-items-center justify-content-between">
                        <div class="blog-user d-flex align-items-center">
                          <img src="assets/img/profiles/avatar-25.jpg" alt="User">
                          <span>Madeline Hilli</span>
                        </div>
                        <h6><i class="feather-tag me-1"></i>Services</h6>
                      </div>
                      <h3 class="blog-title">
                        <a [routerLink]="routes.blogDetails">Specific features and benefits of your service marketplace</a>
                      </h3>
                      <p>Before hiring a service provider, check their reviews and ratings on the marketplace...</p>
                    </div>
                  </div>
                </ng-template>
                <ng-template carouselSlide>
                  <div class="blog blog-new flex-fill">
                    <div class="blog-image">
                      <a [routerLink]="routes.blogDetails"><img class="img-fluid" src="assets/img/blog/mechanic-blog-04.jpg" alt="Post Image"></a>
                      <div class="date">
                        15<span>Dec</span>
                      </div>
                    </div>
                    <div class="blog-content">
                      <div class="blog-user-info d-flex align-items-center justify-content-between">
                        <div class="blog-user d-flex align-items-center">
                          <img src="assets/img/profiles/avatar-10.jpg" alt="User">
                          <span>Admin</span>
                        </div>
                        <h6><i class="feather-tag me-1"></i>Services</h6>
                      </div>
                      <h3 class="blog-title">
                        <a [routerLink]="routes.blogDetails">Maximize Your Business Potential with the Right Service</a>
                      </h3>
                      <p>In today’s fast-paced business world, finding the right services to support your growth can be a game...</p>
                    </div>
                  </div>
                </ng-template>
            
            </owl-carousel-o>
          </div>
        </div>
        <div class="btn-sec btn-service-nine aos" data-aos="fade-up">
          <a [routerLink]="routes.serviceDetails" class="btn btn-primary btn-view"
            >VIEW ALL BLOGS</a
          >
        </div>
      </div>
      <div class="free-service-all">
        <div class="row aos" data-aos="fade-up">
          <div class="col-lg-6 col-12">
            <div class="free-service-nine">
              <div class="free-service-img-one">
                <img src="assets/img/service-img-9.jpg" alt="" />
              </div>
              <div class="free-service-img-two">
                <img src="assets/img/service-img-10.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="free-service-bottom-content">
              <div
                class="section-heading section-heading-nine free-heading-nine aos"
                data-aos="fade-up"
              >
                <p>welcome to truely sell Mechanic</p>
                <h2>Get A Free Service</h2>
              </div>
              <p>
                Whether you're looking to our app brings everything you need right to your fingertips
              </p>
              <a href="javascript:void(0)" class="btn btn-primary"
                >Book an Appointmen</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Our Blogs -->
  <section class="blog-section partner-section-nine">
    <div class="container">
        <div class="row">
            <div class="quote-slider aos" data-aos="fade-up">
                <owl-carousel-o [options]="partnersOwl">
                  
                        <ng-template carouselSlide>
                          <div class="partner-img">
                            <img src="assets/img/partner/partner-01.svg" alt="img" >
                          </div>
                        </ng-template>
                        <ng-template carouselSlide>
                          <div class="partner-img">
                            <img src="assets/img/partner/partner-02.svg" alt="img" >
                          </div>
                        </ng-template>
                        <ng-template carouselSlide>
                          <div class="partner-img">
                            <img src="assets/img/partner/partner-03.svg" alt="img" >
                          </div>
                        </ng-template>
                        <ng-template carouselSlide>
                          <div class="partner-img">
                            <img src="assets/img/partner/partner-04.svg" alt="img" >
                          </div>
                        </ng-template>
                        <ng-template carouselSlide>
                          <div class="partner-img">
                            <img src="assets/img/partner/partner-05.svg" alt="img" >
                          </div>
                        </ng-template>
                        <ng-template carouselSlide>
                          <div class="partner-img">
                            <img src="assets/img/partner/partner-03.svg" alt="img" >
                          </div>
                        </ng-template>
                   
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>
  
  <!-- <section class="blog-section partner-section-nine">
    <div class="container">
      <div class="row">
        <div class="quote-slider aos" data-aos="fade-up">
          <owl-carousel-o [options]="partnersOwl">
            <ng-container *ngFor="let data of partners">
              <ng-template carouselSlide>
                <div class="partner-img">
                  <img [src]="data.img" alt="img" />
                </div>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
  </section> -->
  <!-- scrollToTop start -->
  <!-- <div (click)="scrollToTop()" (keydown.enter)="scrollToTop()" tabindex="0" class="progress-wrap" [class.active-progress]="strokeValue < progress">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s"
              attr.stroke-dasharray="{{ progress + 'px' + ',' + progress + 'px' }}"
              attr.stroke-dashoffset="{{ strokeValue + 'px' }}"></path>
      </svg>
  </div> -->
  <!-- scrollToTop end -->
  <app-home-seven-footer></app-home-seven-footer>
 
  