<div class="page-wrapper page-settings">
    <div class="content">
        <div class="content-page-header content-page-headersplit">
            <h5>All Services</h5>
            <div class="list-btn">
                <ul>
                    <li>
                        <div class="filter-sorting">
                            <ul>
                                <li>
                                            <a href="javascript:void(0);" class="filter-sets"><i class=" feather icon-filter me-2"></i>Filter</a>
                                        </li>
                                <li>
                                    <span><img src="assets/admin/img/icons/sort.svg" class="me-2" alt="img"></span>
                                    <div class="custom-select">
                                        <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="select"  placeholder="A - Z">
                                            <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                            {{data.value}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="btn btn-primary" [routerLink]="routes.addServices"><i class="fa fa-plus me-2"></i>Add Services </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="tab-sets">
                    <div class="tab-contents-sets">
                        <ul>
                            <li>
                                <a [routerLink]="routes.service">All Services</a>
                            </li>
                            <li>
                              <a [routerLink]="routes.active">Active</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.pendingServices" class="active">Pending</a>
                            </li>
                            <li>
                              <a [routerLink]="routes.inactiveServices">Inactive</a>
                          </li>
                            <li>
                                <a [routerLink]="routes.deletedServices">Deleted</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-contents-count">
                        <h6>Showing 8-10 of 84 results</h6>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="table-resposnive table-div">
                    <table matSort (matSortChange)="sortData($event)" class="table datatable">
                        <thead>
                            <tr>
                                <th mat-sort-header="id">#</th>
                                <th mat-sort-header="service">Service</th>
                                <th mat-sort-header="category">Category</th>
                                <th mat-sort-header="subCategory">Sub Category</th>
                                <th mat-sort-header="amount">Amount</th>
                                <th mat-sort-header="date">Date</th>
                                <th mat-sort-header="status">Status</th>
                                <th mat-sort-header="createdBy">Created By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of pendingServices">
                                <td>{{data.id}}</td>
                                <td>
                                    <div class="table-imgname">
                                        <img [src]="data.img" class="me-2" alt="img">
                                        <span>{{data.service}}</span>
                                    </div>
                                </td>
                                <td>{{data.category}}</td>
                                <td>{{data.subCategory}}</td>
                                <td>{{data.amount}}</td>
                                <td>{{data.date}}</td>
                                <td><h6 class="badge-pending">{{data.status}}</h6></td>
                                <td>{{data.createdBy}}</td>
                                <td>
                                  <div class="action-language">
                                      <a class="table-edit" [routerLink]="routes.editService"> 
                                          <i class="fa-regular fa-pen-to-square"></i><span>Edit</span>
                                      </a>
                                      <a class="table-delete" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item"> 
                                          <i class="fa-solid fa-trash-can"></i><span>Delete</span>
                                      </a>
                                  </div>
                              </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>
                <div class="pagination-main-class"> 
                  <div class="table_footer">
                    <div class="row">
                      <div class="col-sm-12 col-md-6">
                        <div class="dataTables_length">
                          <label for="">
                            <select
                              [(ngModel)]="pageSize"
                              (ngModelChange)="PageSize()"
                              class="form-control form-control-sm"
                            >
                              <option value="10">10</option>
                              <option value="25">25</option>
                              <option value="50">50</option>
                              <option value="100">100</option>
                            </select>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="table_design">
                    <div >
                        <div class="dataTables_info">
                             {{ serialNumberArray[0] }} -
                            {{ serialNumberArray[serialNumberArray.length - 1] }} of
                            {{ totalData }} items
                          </div>
                    </div>
                    <div class=" d-flex">
                      <div class="pagination_section">
                        <ul class="pagination">
                          <ng-container
                            *ngFor="let item of pageNumberArray; let i = index"
                          >
                            <li
                              class="page-item"
                              [class.active]="item === currentPage"
                              [ngClass]="
                                (pageNumberArray[currentPage - 2] > item &&
                                  item !== 1 &&
                                  pageNumberArray.length > 6) ||
                                (pageNumberArray[currentPage] < item &&
                                  item !== 1 &&
                                  pageNumberArray.length > 6 &&
                                  pageNumberArray.length !== item)
                                  ? 'hide-page-no'
                                  : 'show-page-no'
                              "
                            >
                              <a
                                (click)="moveToPage(item)"
                                class="page-link"
                                href="javascript:void(0);"
                              >
                                {{ item }}
                              </a>
                            </li>
                            <li
                              class="page-item"
                              *ngIf="
                                i === 0 &&
                                pageNumberArray.length > 6 &&
                                currentPage > 2
                              "
                              [hidden]="currentPage === 1"
                              (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                            >
                              <a class="page-link" href="javascript:void(0);">
                                ...
                              </a>
                            </li>
                            <li
                              *ngIf="
                                i === pageNumberArray.length - 2 &&
                                pageNumberArray.length > 6
                              "
                              [hidden]="
                                currentPage >=
                                  pageNumberArray[pageNumberArray.length - 2] ||
                                totalData <
                                  serialNumberArray[serialNumberArray.length - 1]
                              "
                              class="page-item"
                              (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                            >
                              <a class="page-link" href="javascript:void(0);">
                                ...
                              </a>
                            </li>
                          </ng-container>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div> 
