
 <!-- Page Wrapper -->
 <div class="page-wrapper">
    <div class="content container-fluid">
        <div class="d-flex justify-content-between align-items-center flex-wrap row-gap-3 mb-4">
            <h5>Holiday & Leave</h5>
            <div class="d-flex align-items-center flex-wrap row-gap-3">
                <span class="fs-14 me-2">Sort</span>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Newly Added
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Ascending</a>
                        <a href="javascript:void(0);" class="dropdown-item">Descending</a>
                    </div>
                </div>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Export
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Export as PDF</a>
                        <a href="javascript:void(0);" class="dropdown-item">Export as Excel</a>
                    </div>
                </div>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-printer"></i></a>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"
                    id="filter_search"><i class="ti ti-sort-descending"></i></a>
                <a href="javascript:void(0);" class="btn btn-dark active  me-2"><i class="feather-file-text"></i> Leave
                    History</a>
                <a href="javascript:void(0);" class="btn act-btn  me-2" data-bs-toggle="modal" data-bs-target="#add-holiday"><i
                        class="feather-plus"></i> Add Holiday</a>
                <a href="javascript:void(0);" class="btn act-btn  add-set" data-bs-toggle="modal" data-bs-target="#add-leave"><i
                        class="feather-plus"></i> Add Leave</a>
            </div>
        </div>
        <div id="filter_inputs">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3">
                        <div class="sel-cal Calendar-icon">
                            <span><i class="ti ti-calendar-month"></i></span>
                            <input class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3">
                        <select class="select">
                            <option>Approved By</option>
                            <option>Jeffrey Akridge</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3">
                        <select class="select">
                            <option>Status</option>
                            <option>Approved</option>
                            <option>Rejected</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="provide-table manage-table">
                <div class="table-responsive">
                    <table class="table  datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Leave Date</th>
                                <th>Reason</th>
                                <th>Status</th>
                                <th>Approved By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h6 class="fs-14 fw-normal">May 03, 2024 - May 04, 2024</h6>
                                    <span class="fs-12">2days</span>
                                </td>
                                <td>Out for personal reasons.</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-success-100 d-flex align-items-center">
                                            <i class="ti ti-point-filled"></i>
                                            Approved
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);">
                                            <span class="avatar avatar-lg me-2">
                                                <img src="assets/img/profiles/avatar-02.jpg"
                                                    class="rounded-circle" alt="user">
                                            </span>
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-normal"><a href="javascript:void(0);">Jeffrey Akridge,</a></h6>
                                            <span class="fs-12">Admin</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-leave"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-leave"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="fs-14 fw-normal">Jun 10, 2024 - Jun 12, 2024</h6>
                                    <span class="fs-12">3 days</span>
                                </td>
                                <td>Health Issues.</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-success-100 d-flex align-items-center">
                                            <i class="ti ti-point-filled"></i>
                                            Approved
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);">
                                            <span class="avatar avatar-lg me-2">
                                                <img src="assets/img/profiles/avatar-02.jpg"
                                                    class="rounded-circle" alt="user">
                                            </span>
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-normal"><a href="javascript:void(0);">Jeffrey Akridge,</a></h6>
                                            <span class="fs-12">Admin</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-leave"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-leave"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="fs-14 fw-normal">Jun 18, 2024 - Jun 18, 2024</h6>
                                    <span class="fs-12">1 days</span>
                                </td>
                                <td>Out for medical appointments.</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-success-100 d-flex align-items-center">
                                            <i class="ti ti-point-filled"></i>
                                            Approved
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);">
                                            <span class="avatar avatar-lg me-2">
                                                <img src="assets/img/profiles/avatar-02.jpg"
                                                    class="rounded-circle" alt="user">
                                            </span>
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-normal"><a href="javascript:void(0);">Jeffrey Akridge,</a></h6>
                                            <span class="fs-12">Admin</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-leave"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-leave"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="fs-14 fw-normal">Jul 08, 2024 - Jul 10, 2024</h6>
                                    <span class="fs-12">3 days</span>
                                </td>
                                <td>Away due to a family event.</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-success-100 d-flex align-items-center">
                                            <i class="ti ti-point-filled"></i>
                                            Approved
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);">
                                            <span class="avatar avatar-lg me-2">
                                                <img src="assets/img/profiles/avatar-02.jpg"
                                                    class="rounded-circle" alt="user">
                                            </span>
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-normal"><a href="javascript:void(0);">Jeffrey Akridge,</a></h6>
                                            <span class="fs-12">Admin</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-leave"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-leave"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="fs-14 fw-normal">Jul 20, 2024 - Jul 20, 2024</h6>
                                    <span class="fs-12">1 days</span>
                                </td>
                                <td>Absent due to weather conditions.</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-success-100 d-flex align-items-center">
                                            <i class="ti ti-point-filled"></i>
                                            Approved
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);">
                                            <span class="avatar avatar-lg me-2">
                                                <img src="assets/img/profiles/avatar-02.jpg"
                                                    class="rounded-circle" alt="user">
                                            </span>
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-normal"><a href="javascript:void(0);">Jeffrey Akridge,</a></h6>
                                            <span class="fs-12">Admin</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-leave"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-leave"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="fs-14 fw-normal">Aug 13, 2024 - Aug 14, 2024</h6>
                                    <span class="fs-12">2 days</span>
                                </td>
                                <td>Personal Illness.</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-success-100 d-flex align-items-center">
                                            <i class="ti ti-point-filled"></i>
                                            Approved
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);">
                                            <span class="avatar avatar-lg me-2">
                                                <img src="assets/img/profiles/avatar-02.jpg"
                                                    class="rounded-circle" alt="user">
                                            </span>
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-normal"><a href="javascript:void(0);">Jeffrey Akridge,</a></h6>
                                            <span class="fs-12">Admin</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-leave"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-leave"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6 class="fs-14 fw-normal">Aug 22, 2024 - Aug 24, 2024</h6>
                                    <span class="fs-12">3 days</span>
                                </td>
                                <td>Out for vacation.</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="badge badge-success-100 d-flex align-items-center">
                                            <i class="ti ti-point-filled"></i>
                                            Approved
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void(0);">
                                            <span class="avatar avatar-lg me-2">
                                                <img src="assets/img/profiles/avatar-02.jpg"
                                                    class="rounded-circle" alt="user">
                                            </span>
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-normal"><a href="javascript:void(0);">Jeffrey Akridge,</a></h6>
                                            <span class="fs-12">Admin</span>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-leave"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-leave"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                <div class="value d-flex align-items-center">
                    <span>Show</span>
                    <select>
                        <option>7</option>
                    </select>
                    <span>entries</span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-gray-9">1 - 07 of 10</span>
                    <nav aria-label="Page navigation">
                        <ul class="paginations d-flex justify-content-center align-items-center">
                            <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                            <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Holiday -->
<div class="modal fade custom-modal" id="add-holiday">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Add Holiday</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body pt-0">
                <form action="#">
                    <div class="wallet-add">
                        <div class="form-group">
                            <label class="col-form-label">Holiday Name</label>
                            <input type="text" class="form-control" placeholder="Enter Holiday Name">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">From</label>
                            <div class="form-icon">
                                <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                <span class="cus-icon">
                                    <i class="feather-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">To</label>
                            <div class="form-icon">
                                <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                <span class="cus-icon">
                                    <i class="feather-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Description</label>
                            <textarea class="form-control" rows="4"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Add Holiday -->

<!-- Add Leave -->
<div class="modal fade custom-modal" id="add-leave">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Add Leave </h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body pt-0">
                <form action="#">
                    <div class="wallet-add">
                        <div class="form-group">
                            <label class="col-form-label">From</label>
                            <div class="form-icon">
                                <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                <span class="cus-icon">
                                    <i class="feather-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">To</label>
                            <div class="form-icon">
                                <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                <span class="cus-icon">
                                    <i class="feather-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Reason</label>
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Add Leave -->

<!-- Edit Leave -->
<div class="modal fade custom-modal" id="edit-leave">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Edit Leave </h5>
                <a href="#" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body pt-0">
                <form action="#">
                    <div class="wallet-add">
                        <div class="form-group">
                            <label class="col-form-label">From</label>
                            <div class="form-icon">
                                <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                <span class="cus-icon">
                                    <i class="feather-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">To</label>
                            <div class="form-icon">
                                <input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
                                <span class="cus-icon">
                                    <i class="feather-calendar"></i>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Reason</label>
                            <textarea class="form-control" rows="3" cols="12">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius odio similique labore ad magni obcaecati facere beatae at.
                            </textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Leave -->

<!-- Delete Leave -->
<div class="modal fade custom-modal" id="del-leave">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete leave</h5>
                <a href="#" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body">
                <div class="write-review">
                    <form >
                        <p>Are you sure want to delete this leave?</p>
                        <div class="modal-submit text-end">
                            <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-dark">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Leave -->

<!-- Alert Message -->
<div class="modal fade custom-modal" id="alertmsg">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Add Message</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body pt-0">
                <form action="#">
                    <div class="msg-alert">
                        <p>If You Take Your Appointment Automatically Cancelled.</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Alert Message -->

<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete Account</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <form action="#">
                <div class="modal-body">
                    <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type
                        your password.</p>
                    <div class="mb-0">
                        <label class="form-label">Password</label>
                        <div class="pass-group">
                            <input type="password" class="form-control pass-input" placeholder="*************">
                            <span class="toggle-password feather-eye-off"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-dark">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete Account -->