<div class="page-wrapper page-settings">
  <div class="content">
    <div class="content-page-header content-page-headersplit">
      <h5>Contact Messages</h5>
      <div class="list-btn">
        <ul>
          <li>
            <div class="filter-sorting">
              <ul>
                <li>
                  <a href="javascript:void(0);" class="filter-sets"
                    ><i class="feather icon-filter me-2"></i>Filter</a
                  >
                </li>
                <li>
                  <span
                    ><img
                      src="assets/admin/img/icons/sort.svg"
                      class="me-2"
                      alt="img"
                  /></span>
                  <div class="custom-select">
                    <mat-select
                      [(ngModel)]="selectedValue"
                      [ngModelOptions]="{ standalone: true }"
                      class="select"
                      placeholder="A - Z"
                    >
                      <mat-option
                        *ngFor="let data of selectedList"
                        [value]="data.value"
                      >
                        {{ data.value }}
                      </mat-option>
                    </mat-select>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="table-resposnive">
          <table
            matSort
            (matSortChange)="sortData($event)"
            class="table datatable"
          >
            <thead>
              <tr>
                <th mat-sort-header="id">#</th>
                <th mat-sort-header="name">Name</th>
                <th mat-sort-header="email">Email</th>
                <th mat-sort-header="phone">Phone</th>
                <th mat-sort-header="message">Message</th>
                <th mat-sort-header="date">Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of contactMessages">
                <td>{{ data.id }}</td>
                <td>
                  <a href="javascript:void(0);" class="table-profileimage">
                    <img [src]="data.img" class="me-2" alt="img" />
                    <span>{{ data.name }}</span>
                  </a>
                </td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.message }}</td>
                <td>{{ data.date }}</td>
                <td>
                  <div class="table-actions d-flex">
                      <a class="btn delete-table me-2">
                         <i class="feather icon-eye"></i>
                      </a>
                      <button class="btn delete-table" type="button" data-bs-toggle="modal" data-bs-target="#delete-contact-msg">
                          <i class="feather icon-trash-2"></i>
                      </button>
                  </div>
              </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pagination-main-class">
          <div class="table_footer">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="dataTables_length">
                  <label>
                    <select
                      [(ngModel)]="pageSize"
                      (ngModelChange)="PageSize()"
                      class="form-control form-control-sm"
                    >
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="table_design">
            <div class="col-sm-12 col-md-12">
              <div class="dataTables_info">
                {{ serialNumberArray[0] }} -
                {{ serialNumberArray[serialNumberArray.length - 1] }} of
                {{ totalData }} items
              </div>
            </div>
            <div class="col-sm-12 col-md-7 d-flex">
              <div class="pagination_section">
                <ul class="pagination">
                  <ng-container
                    *ngFor="let item of pageNumberArray; let i = index"
                  >
                    <li
                      class="page-item"
                      [class.active]="item === currentPage"
                      [ngClass]="
                        (pageNumberArray[currentPage - 2] > item &&
                          item !== 1 &&
                          pageNumberArray.length > 6) ||
                        (pageNumberArray[currentPage] < item &&
                          item !== 1 &&
                          pageNumberArray.length > 6 &&
                          pageNumberArray.length !== item)
                          ? 'hide-page-no'
                          : 'show-page-no'
                      "
                    >
                      <a
                        (click)="moveToPage(item)"
                        class="page-link"
                        href="javascript:void(0);"
                      >
                        {{ item }}
                      </a>
                    </li>
                    <li
                      class="page-item"
                      *ngIf="
                        i === 0 && pageNumberArray.length > 6 && currentPage > 2
                      "
                      [hidden]="currentPage === 1"
                      (click)="moveToPage(currentPage - 2)"
                      (keydown.enter)="moveToPage(currentPage - 2)"
                      tabindex="0"
                    >
                      <a class="page-link" href="javascript:void(0);"> ... </a>
                    </li>
                    <li
                      *ngIf="
                        i === pageNumberArray.length - 2 &&
                        pageNumberArray.length > 6
                      "
                      [hidden]="
                        currentPage >=
                          pageNumberArray[pageNumberArray.length - 2] ||
                        totalData <
                          serialNumberArray[serialNumberArray.length - 1]
                      "
                      class="page-item"
                      (click)="moveToPage(currentPage + 2)"
                      (keydown.enter)="moveToPage(currentPage + 2)"
                      tabindex="0"
                    >
                      <a class="page-link" href="javascript:void(0);"> ... </a>
                    </li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
	<!-- Delete Message -->
	<div class="modal fade" id="delete-contact-msg">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body pt-0">
                    <div class="text-center">
                        <i class="feather icon-trash-2 text-danger fs-1"></i>
						<div class="mt-4">
                            <h4>Delete Message?</h4>
                            <p class="text-muted mb-0">Are you sure want to delete this?</p>
                        </div>
                    </div>
                    <div class="d-flex gap-2 justify-content-center mt-4">
                        <button type="button" class="btn w-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn w-sm btn-danger">Yes, Delete It!</button>
                    </div>
                </div>
			</div>
		</div>
	</div>
    <!-- /Delete Currency -->

