<div class="page-wrapper page-settings">
  <div class="content">
    <div class="content-page-header content-page-headersplit">
      <h5>Providers Wallet</h5>
      <div class="list-btn">
        <ul>
          <li>
            <a class="btn-downloads down-pdf" href="javascript:;"
              ><img src="assets/admin/img/icons/pdf-icon.svg" alt="img" />
              Download as PDF</a
            >
          </li>
          <li>
            <a class="btn-downloads down-excel" href="javascript:;"
              ><img
                src="assets/admin/img/icons/excel-icon.svg"
                alt="img"
              />Download as Excel
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-lg-12">
        <!-- Chart -->
        <div class="card card-chart-blk">
          <div class="card-head-blk">
            <div class="row align-items-center">
              <div class="col-xl-6 col-md-6">
                <div class="card-table-head">
                  <h4>Provider Wallet report</h4>
                  <ul>
                    <li><span class="earning-black"></span>Withdrawn</li>
                  </ul>
                </div>
              </div>
              <div class="col-xl-6 col-md-6">
                <div class="earning-group earning-group-chart">
                  <div class="sortby-section invoice-sort">
                    <div class="sorting-info">
                      <div class="sortby-filter-group court-sortby">
                        <div class="sortbyset week-bg me-0">
                          <div class="sorting-select">
                            <mat-select
                              [(ngModel)]="selectedValue"
                              [ngModelOptions]="{ standalone: true }"
                              panelClass="dependentSelect cal-input"
                              class="form-control select"
                              placeholder="Date"
                            >
                              <mat-option
                                *ngFor="let data of selectedList"
                                [value]="data.value"
                              >
                                {{ data.value }}
                              </mat-option>
                            </mat-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sortby-section invoice-sort">
                    <div class="sorting-info">
                      <div class="sortby-filter-group court-sortby">
                        <div class="sortbyset week-bg me-0">
                          <div class="sorting-select">
                            <mat-select
                              [(ngModel)]="selectedValue"
                              [ngModelOptions]="{ standalone: true }"
                              class="form-control select"
                              placeholder="July"
                            >
                              <mat-option
                                *ngFor="let data of selectedList2"
                                [value]="data.value"
                              >
                                {{ data.value }}
                              </mat-option>
                            </mat-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="sortby-section invoice-sort">
                    <div class="sorting-info">
                      <div class="sortby-filter-group court-sortby">
                        <div class="sortbyset week-bg me-0">
                          <div class="sorting-select">
                            <mat-select
                              [(ngModel)]="selectedValue"
                              [ngModelOptions]="{ standalone: true }"
                              class="form-control select"
                              placeholder="2023"
                            >
                              <mat-option
                                *ngFor="let data of selectedList3"
                                [value]="data.value"
                              >
                                {{ data.value }}
                              </mat-option>
                            </mat-select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div id="bar">
              <apx-chart
                [series]="chartOptionsThree.series"
                [chart]="chartOptionsThree.chart"
                [dataLabels]="chartOptionsThree.dataLabels"
                [plotOptions]="chartOptionsThree.plotOptions"
                [yaxis]="chartOptionsThree.yaxis"
                [legend]="chartOptionsThree.legend"
                [fill]="chartOptionsThree.fill"
                [stroke]="chartOptionsThree.stroke"
                [tooltip]="chartOptionsThree.tooltip"
                [xaxis]="chartOptionsThree.xaxis"
                [colors]="chartOptionsThree.colors"
              ></apx-chart>
            </div>
          </div>
        </div>
        <!-- /Chart -->
      </div>
    </div>
    <div class="card card-status">
      <div class="card-head-blk border-bottom-0">
        <div class="row align-items-center">
          <div class="col-xl-12 col-md-12">
            <div class="earning-group earning-group-charts">
              <div class="sortby-section status-provider">
                <div class="sorting-info">
                  <div class="sortby-filter-group court-sortby">
                    <div class="sortbyset week-bg me-0">
                      <div class="sorting-select">
                        <mat-select
                          [(ngModel)]="selectedValue"
                          [ngModelOptions]="{ standalone: true }"
                          panelClass="dependentSelect cal-input"
                          class="form-control select"
                          placeholder="Date"
                        >
                          <mat-option
                            *ngFor="let data of selectedList4"
                            [value]="data.value"
                          >
                            {{ data.value }}
                          </mat-option>
                        </mat-select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="chart-date-group">
                <div class="cal-icon">
                  <input
                    class="form-control datetimepicker"
                    bsDatepicker
                    placeholder="From"
                  />
                </div>
              </div>
              <div class="chart-date-group">
                <div class="cal-icon">
                  <input
                    class="form-control datetimepicker"
                    container=".drop-calender"
                    bsDatepicker
                    placeholder="To"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div matSort (matSortChange)="sortData($event)" class="table-resposnive table-div">
          <table class="table datatable">
            <thead>
              <tr>
                <th mat-sort-header="id">#</th>
                <th mat-sort-header="service">Service</th>
                <th mat-sort-header="provider">Provider</th>
                <th mat-sort-header="customer">Amount</th>
                <th mat-sort-header="status">Status</th>
                <th mat-sort-header="date">Date</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of providerWallet">
                <td>{{data.id}}</td>
                <td>
                  <a href="javascript:void(0);" class="table-imgname">
                    <img
                      [src]="data.img"
                      class="me-2"
                      alt="img"
                    />
                    <span>{{data.service}}</span>
                  </a>
                </td>
                <td>
                  <a href="javascript:void(0);" class="table-profileimage">
                    <span>{{data.provider}}</span>
                  </a>
                </td>
                <td>{{data.amount}}</td>
                <td>
                  <h6 
                  [ngClass]="{'completed-active-badge':data.status === 'Completed','inprogress loading-inprogress': data.status === 'Inprogress'}"
                  class="badge-active" >{{data.status}}</h6>
                </td>
                <td>{{data.date}}</td>
              </tr>
             
            </tbody>
          </table>
          <div class="pagination-main-class"> 
            <div class="table_footer">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length">
                    <label for="">
                      <select
                        [(ngModel)]="pageSize"
                        (ngModelChange)="PageSize()"
                        class="form-control form-control-sm"
                      >
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="table_design">
              <div >
                  <div class="dataTables_info">
                       {{ serialNumberArray[0] }} -
                      {{ serialNumberArray[serialNumberArray.length - 1] }} of
                      {{ totalData }} items
                    </div>
              </div>
              <div class="d-flex">
                <div class="pagination_section">
                  <ul class="pagination">
                    <ng-container
                      *ngFor="let item of pageNumberArray; let i = index"
                    >
                      <li
                        class="page-item"
                        [class.active]="item === currentPage"
                        [ngClass]="
                          (pageNumberArray[currentPage - 2] > item &&
                            item !== 1 &&
                            pageNumberArray.length > 6) ||
                          (pageNumberArray[currentPage] < item &&
                            item !== 1 &&
                            pageNumberArray.length > 6 &&
                            pageNumberArray.length !== item)
                            ? 'hide-page-no'
                            : 'show-page-no'
                        "
                      >
                        <a
                          (click)="moveToPage(item)"
                          class="page-link"
                          href="javascript:void(0);"
                        >
                          {{ item }}
                        </a>
                      </li>
                      <li
                        class="page-item"
                        *ngIf="
                          i === 0 &&
                          pageNumberArray.length > 6 &&
                          currentPage > 2
                        "
                        [hidden]="currentPage === 1"
                        (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                      >
                        <a class="page-link" href="javascript:void(0);">
                          ...
                        </a>
                      </li>
                      <li
                        *ngIf="
                          i === pageNumberArray.length - 2 &&
                          pageNumberArray.length > 6
                        "
                        [hidden]="
                          currentPage >=
                            pageNumberArray[pageNumberArray.length - 2] ||
                          totalData <
                            serialNumberArray[serialNumberArray.length - 1]
                        "
                        class="page-item"
                        (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                      >
                        <a class="page-link" href="javascript:void(0);">
                          ...
                        </a>
                      </li>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
        </div> 
        </div>
      </div>
    </div>
  </div>
</div>
