<div class="page-wrapper">
    <div class="content ">
    
        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4>Payout</h4>
            <div class="d-flex align-items-center flex-wrap row-gap-3">
                <span class="fs-14 me-2">Sort</span>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Newly Added
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Ascending</a>
                        <a href="javascript:void(0);" class="dropdown-item">Descending</a>
                    </div>
                </div>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Export
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Export as PDF</a>
                        <a href="javascript:void(0);" class="dropdown-item">Export as Excel</a>
                    </div>
                </div>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-printer"></i></a>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"
                    id="filter_search" (click)="toggleFilterInputs()"><i class="ti ti-sort-descending"></i></a>
                <a href="javascript:void(0);" class="btn btn-dark d-flex justify-content-center align-items-center"
                    data-bs-toggle="modal" data-bs-target="#set-payout"><i class="ti ti-settings me-2"></i>Set
                    Payout</a>
            </div>
        </div>
        <div id="filter_inputs" [ngStyle]="{ display: isFilterInputsVisible ? 'block' : 'none' }">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3">
                        <div class="sel-cal Calendar-icon">
                            <span><i class="ti ti-calendar-month"></i></span>
                            <input class="form-control datetimepicker"  bsDatepicker type="text" placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                      

                        <mat-select
              [(ngModel)]="selectedValue1"
              [ngModelOptions]="{ standalone: true }"
              class="select"
              placeholder="Select"
            >
              <mat-option
                *ngFor="let data of selectedList1"
                [value]="data.value"
              >
                {{ data.value }}
              </mat-option>
            </mat-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                        <mat-select
                        [(ngModel)]="selectedValue2"
                        [ngModelOptions]="{ standalone: true }"
                        class="select"
                        placeholder="Select"
                      >
                        <mat-option
                          *ngFor="let data of selectedList2"
                          [value]="data.value"
                        >
                          {{ data.value }}
                        </mat-option>
                      </mat-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <!-- Payout card -->
            <div class="col-xl-4 col-md-6 d-flex">
                <div class="card w-100">
                    <div class="card-body d-flex align-items-center justify-content-between p-3">
                        <div class="d-flex align-items-center">
                            <span class="app-icon d-flex justify-content-center align-items-center bg-light rounded-circle fs-20 me-2">
                            <i class="ti ti-wallet"></i>
                        </span>
                            <div>
                                <span class="fs-14">Available Payout</span>
                                <h5>$ <span class="counter">180</span></h5>
                            </div>
                            
                        </div>
                        <div class="d-flex flex-column">
                            <a [routerLink]="routes.providerTransaction" class="btn btn-dark btn-sm mb-2">Transactions</a>
                            <a href="#" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#withdraw">Withdraw</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 d-flex">
                <div class="card w-100">
                    <div class="card-body d-flex align-items-center justify-content-between p-3">
                        <div class="d-flex align-items-center">
                            <span class="app-icon d-flex justify-content-center align-items-center bg-light rounded-circle fs-20 me-2">
                            <i class="ti ti-wallet"></i>
                        </span>
                            <div>
                                <span class="fs-14">Last Payout</span>
                                <h5>$ <span class="counter">230</span></h5>
                            </div>
                        </div>
                        <div class="d-flex align-items-end">
                            <a [routerLink]="routes.providerTransaction" class="btn btn-dark btn-sm">Transactions</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 d-flex">
                <div class="card w-100">
                    <div class="card-body d-flex align-items-center justify-content-between p-3">
                        <div class="d-flex align-items-center">
                            <span class="app-icon d-flex justify-content-center align-items-center bg-light rounded-circle fs-20 me-2">
                            <i class="ti ti-wallet"></i>
                        </span>
                            <div>
                                <span class="fs-14">Next Payout</span>
                                <h5>$ <span class="counter">200</span></h5>
                            </div>
                            
                        </div>
                        <div class="d-flex align-items-end">
                            <a [routerLink]="routes.providerTransaction" class="btn btn-dark btn-sm">Transactions</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Payout card -->

        </div>
        
        <!-- Payout History -->
        <div class="row">
            <div class="col-md-12">
              
                <div class="provide-table manage-table">
                    <div class="table-responsive">
                        <table matSort (matSortChange)="sortData($event)" class="table custom-table datatable" id="data-table">
                            <thead class="thead-light">
                                <tr>
                                    <th  mat-sort-header="payoutDate">Payout Date</th>
                                    <th  mat-sort-header="amount">Amount</th>
                                    <th  mat-sort-header="refunds">Refunds</th>
                                    <th  mat-sort-header="fees">Fees</th>
                                    <th  mat-sort-header="total">Total</th>
                                    <th  mat-sort-header="paymentmethod">Payment Method</th>
                                    <th  mat-sort-header="status">Status</th>
                                    <th  mat-sort-header="paymentProcessed">Payment Processed</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of providerPayout">
                                    <td>{{data.payoutDate}}</td>
                                    <td>{{data.amount}}</td>
                                    <td class="text-danger">{{data.refunds}}</td>
                                    <td class="text-danger">{{data.fees}}</td>
                                    <td>{{data.total}}</td>
                                    <td>{{data.paymentMethod}}</td>
                                    <td><span class="badge d-flex align-items-center" [ngClass]="{'badge-success-100': data.status === 'Paid', 'badge-skyblue' : data.status === 'Pending' }"><i class="ti ti-point-filled"></i>{{data.status}}</span></td>
                                    <td>{{data.paymentProcessed}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                        class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3"
                      >
                        <div class="value d-flex align-items-center">
                          <span> Show </span>
                          <select
                            [(ngModel)]="pageSize"
                            (ngModelChange)="PageSize()"
                            class="form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          <span> entries </span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                          <div>
                            <div class="me-2 text-gray-9">
                              {{ serialNumberArray[0] }} -
                              {{ serialNumberArray[serialNumberArray.length - 1] }} of
                              {{ totalData }}
                            </div>
                          </div>
          
                          <nav class="Page navigation">
                            <ul
                              class="paginations d-flex justify-content-center align-items-center"
                            >
                              <ng-container
                                *ngFor="let item of pageNumberArray; let i = index"
                              >
                                <li
                                  class="page-item me-2"
                                  [class.active]="item === currentPage"
                                  [ngClass]="
                                    (pageNumberArray[currentPage - 2] > item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6) ||
                                    (pageNumberArray[currentPage] < item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6 &&
                                      pageNumberArray.length !== item)
                                      ? 'hide-page-no'
                                      : 'show-page-no'
                                  "
                                >
                                  <a
                                    (click)="moveToPage(item)"
                                    class="page-link"
                                    href="javascript:void(0);"
                                  >
                                    {{ item }}
                                  </a>
                                </li>
                                <li
                                  class="page-item me-2"
                                  *ngIf="
                                    i === 0 &&
                                    pageNumberArray.length > 6 &&
                                    currentPage > 2
                                  "
                                  [hidden]="currentPage === 1"
                                  (click)="moveToPage(currentPage - 2)"
                                  (keydown.enter)="moveToPage(currentPage - 2)"
                                  tabindex="0"
                                >
                                  <a class="page-link" href="javascript:void(0);">
                                    ...
                                  </a>
                                </li>
                                <li
                                  *ngIf="
                                    i === pageNumberArray.length - 2 &&
                                    pageNumberArray.length > 6
                                  "
                                  [hidden]="
                                    currentPage >=
                                      pageNumberArray[pageNumberArray.length - 2] ||
                                    totalData <
                                      serialNumberArray[serialNumberArray.length - 1]
                                  "
                                  class="page-item me-2"
                                  (click)="moveToPage(currentPage + 2)"
                                  (keydown.enter)="moveToPage(currentPage + 2)"
                                  tabindex="0"
                                >
                                  <a class="page-link" href="javascript:void(0);">
                                    ...
                                  </a>
                                </li>
                              </ng-container>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div id="tablelength"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="table-ingopage">
                            <div id="tableinfo"></div>
                            <div id="tablepagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Payout History -->
        
    </div>
</div>

<!-- Add Wallet -->
<div class="modal fade custom-modal" id="add-payout">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header border-bottom-0 justify-content-between pb-0">
                <h5 class="modal-title">Set Your Payouts</h5>
                <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather icon-x"></i></button>
            </div>
            <div class="modal-body">
                <form action="/">
                    <div class="wallet-add">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="bank-selection">
                                    <input type="radio" value="attach_link" id="rolelink" name="attachment" checked="">
                                    <label for="rolelink">
                                        <img src="assets/img/paypal.png" alt="">
                                        <span class="role-check"><i class="fa-solid fa-circle-check"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bank-selection">
                                    <input type="radio" value="attach_link" id="rolelink1" name="attachment">
                                    <label for="rolelink1">
                                        <img src="assets/img/stripe.png" alt="">
                                        <span class="role-check"><i class="fa-solid fa-circle-check"></i></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bank-selection">
                                    <input type="radio" value="attach_link" id="rolelink2" name="attachment">
                                    <label for="rolelink2">
                                        <img src="assets/img/bank.png" alt="">
                                        <span class="role-check"><i class="fa-solid fa-circle-check"></i></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-form-label">Card Number</label>
                            <input type="text" class="form-control" placeholder="Enter Card Number">
                        </div>
                        <div class="modal-submit text-end">
                            <a href="javascript:void(0);" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>								
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Wallet -->

  <!-- Set Payout -->
  <div class="modal fade wallet-modal" id="set-payout" data-bs-backdrop="static" data-bs-keyboard="false"
  tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center justify-content-between  border-0">
              <h5>Set Your Payouts</h5>
              <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                      class="ti ti-circle-x-filled fs-20"></i></a>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-md-4">
                      <div class="bank-selection">
                          <input type="radio" value="attach_link" id="rolelink" name="attachment" checked="">
                          <label for="rolelink">
                              <img src="assets/img/icons/paypal.svg" alt="Paypal">
                              <span class="role-check"><i class="fa-solid fa-circle-check"></i></span>
                          </label>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="bank-selection">
                          <input type="radio" value="attach_link" id="rolelink1" name="attachment">
                          <label for="rolelink1">
                              <img src="assets/img/icons/stripe.svg" alt="Stripe">
                              <span class="role-check"><i class="fa-solid fa-circle-check"></i></span>
                          </label>
                      </div>
                  </div>
                  <div class="col-md-4">
                      <div class="bank-selection">
                          <input type="radio" value="attach_link" id="rolelink2" name="attachment">
                          <label for="rolelink2">
                              <img src="assets/img/icons/bank-transfer.svg" alt="image">
                              <span class="role-check"><i class="fa-solid fa-circle-check"></i></span>
                          </label>
                      </div>
                  </div>
              </div>
              <form>
                  <div>
                      <label for="amount" class="form-label">Card Number</label>
                      <input type="text" id="amount" class="form-control">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn bg-gray" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-dark">Submit</button>
          </div>
      </div>
  </div>
</div>
<!-- /Set payout -->

<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
              <h5 class="modal-title">Delete Account</h5>
              <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                      class="ti ti-circle-x-filled fs-20"></i></a>
          </div>
          <form action="#">
              <div class="modal-body">
                  <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type
                      your password.</p>
                  <div class="mb-0">
                      <label class="form-label">Password</label>
                      <div class="pass-group">
                          <input type="password" class="form-control pass-input" placeholder="*************">
                          <span class="toggle-password feather-eye-off"></span>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                  <button type="submit" class="btn btn-dark">Delete Account</button>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- /Delete Account -->

<!-- Set Payout -->
<div class="modal fade wallet-modal" id="withdraw" data-bs-keyboard="false"
  tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center justify-content-between  border-0">
              <h5>Withdraw</h5>
              <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                      class="ti ti-circle-x-filled fs-20"></i></a>
          </div>
          <div class="modal-body">
              <div class="bg-light border p-3 rounded mb-3">
                  <div class="row g-3">
                      <div class="col-lg-6">
                          <div>
                              <p class="mb-1">Available Balance</p>
                              <span class="text-dark">$180</span>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div>
                              <p class="mb-1">Payment Method</p>
                              <span class="text-dark">Paypal</span>
                          </div>
                      </div>
                  </div>
              </div>
              <div>
                  <label class="form-label">Enter Amount</label>
                  <input type="text" class="form-control">
              </div>
              <p class="d-flex align-items-center mt-2"><i class="feather-info me-2"></i>Minimum withdraw amount is $1.00</p>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn bg-gray" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-dark">Withdraw</button>
          </div>
      </div>
  </div>
</div>
<!-- /Set payout -->
