<div class="card user-sidebar mb-4 mb-lg-0">
  <div class="card-header user-sidebar-header mb-4">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <span class="user rounded-circle avatar avatar-xxl mb-2">
        <img
          src="assets/img/profiles/avatar-21.jpg"
          class="img-fluid rounded-circle"
          alt="Img"
        />
      </span>
      <h6 class="mb-2">John Smith</h6>
      <p class="fs-14">Member Since Sep 2021</p>
    </div>
  </div>
  <div class="card-body user-sidebar-body p-0">
    <ul>
      <li class="mb-4">
        <a routerLinkActive="active" [routerLink]="routes.customerDashboard" class="d-flex align-items-center active">
          <i class="ti ti-layout-grid me-2"></i>
          Dashboard
        </a>
      </li>
      <li class="mb-4">
        <a routerLinkActive="active" [routerLink]="routes.customerBooking" [ngClass]="{'active' : page === 'customer-booking-calendar' }" class="d-flex align-items-center">
          <i class="ti ti-device-mobile me-2"></i>
          Bookings
        </a>
      </li>
      <li class="mb-4">
        <a routerLinkActive="active" [routerLink]="routes.customerFavourite" class="d-flex align-items-center">
          <i class="ti ti-heart me-2"></i>
          Favorites
        </a>
      </li>
      <li class="mb-4">
        <a routerLinkActive="active" [routerLink]="routes.customerWallet" class="d-flex align-items-center">
          <i class="ti ti-wallet me-2"></i>
          Wallet
        </a>
      </li>
      <li class="mb-4">
        <a routerLinkActive="active" [routerLink]="routes.customerReviews" class="d-flex align-items-center">
          <i class="ti ti-star me-2"></i>
          Reviews
        </a>
      </li>
      <li class="mb-4">
        <a routerLinkActive="active" [routerLink]="routes.customerChat" class="d-flex align-items-center">
          <i class="ti ti-message-circle me-2"></i>
          Chat
        </a>
      </li>
      <li class="submenu">
        <a [ngClass]="{ 'active subdrop' : last === 'security-settings' || last === 'customer-notification' || last === 'connected-apps' || last === 'customer-profile' || last === 'security-settings' || page === 'user-device-management' || page === 'user-login-activity'}"
        [routerLink]="routes.customerProfile"
        routerLinkActive="active"
        class="d-block mb-3"
          ><i class="ti ti-settings me-2"></i><span>Settings</span
          ><span class="menu-arrow"></span
        ></a>
        <ul class="ms-4">
          <li class="mb-3">
            <a
              [routerLink]="routes.customerProfile"
              routerLinkActive="active"
              class="fs-14 d-inline-flex align-items-center"
              ><i class="ti ti-chevrons-right me-2"></i>Account Settings</a
            >
          </li>
          <li class="mb-3">
            <a
            routerLinkActive="active" [routerLink]="routes.securitySettings"
              class="fs-14 d-inline-flex align-items-center"
              ><i class="ti ti-chevrons-right me-2"></i>Security Settings</a
            >
          </li>
          <li class="mb-3">
            <a
            [routerLink]="routes.customerNotifications" routerLinkActive="active"
              class="fs-14 d-inline-flex align-items-center"
              ><i class="ti ti-chevrons-right me-2"></i>Notifications</a
            >
          </li>
          <li class="mb-3">
            <a
            [routerLink]="routes.connectedApps" routerLinkActive="active"
              class="fs-14 d-inline-flex align-items-center"
              ><i class="ti ti-chevrons-right me-2"></i>Connected Apps</a
            >
          </li>
          <li class="mb-3">
            <a
              href="javascript:void(0);"
              data-bs-toggle="modal"
              data-bs-target="#del-account"
              class="fs-14"
              ><i class="ti ti-chevrons-right me-2"></i>Delete Account</a
            >
          </li>
        </ul>
      </li>
      <li class="mb-0">
        <a [routerLink]="routes.login" class="d-flex align-items-center">
          <i class="ti ti-logout me-2"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
              <h5 class="modal-title">Delete Account</h5>
              <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
          </div>
  <form>
    <div class="modal-body">
      <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
      <div class="mb-0">
        <label class="form-label">Password</label>
        <div class="pass-group">
          <input type="password" class="form-control pass-input" placeholder="*************">
          <span class="toggle-password feather icon-eye-off"></span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
      <button type="button" data-bs-dismiss="modal" class="btn btn-dark">Delete Account</button>
    </div>
  </form>
      </div>
  </div>
</div>
<!-- /Delete Account -->
