<h4 class="mb-3">Security Settings</h4>
<div class="row justify-content-center align-items-center">
  <div class="col-xxl-4 col-md-6">
    <div class="card dash-widget-2">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <span
            class="set-icon bg-light d-flex justify-content-center align-items-center rounded-circle p-1 me-2"
          >
            <i class="ti ti-lock text-dark fs-20"></i>
          </span>
          <div>
            <p class="mb-0 text-gray-9 fw-medium">Password</p>
            <span class="fs-12 text-truncate"
              >Last Changed :
              <span class="text-gray-9">22 Jul 2024, 10:30:55 AM</span></span
            >
          </div>
        </div>
        <a
          href="javascript:void(0);"
          class="btn btn-dark"
          data-bs-toggle="modal"
          data-bs-target="#change-password"
          >Change Password</a
        >
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-md-6">
    <div class="card dash-widget-2">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <span
            class="set-icon bg-light d-flex justify-content-center align-items-center rounded-circle p-1 me-2"
          >
            <i class="ti ti-fingerprint-scan text-dark fs-20"></i>
          </span>
          <div class="sec-item row align-items-center">
            <div class="col-lg-9 col-md-9 d-flex">
              <div>
                <h6 class="fs-16 mb-2">Two Factor</h6>
                <p class="text-gray fs-12 text-truncate">
                  Strengthens security with an extra step.
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 d-flex">
              <div
                class="d-flex align-items-center justify-content-end form-check form-switch text-end mb-3"
              >
                <input
                  type="checkbox"
                  id="status-two"
                  class="form-check-input"
                />
              </div>
            </div>
          </div>
        </div>
        <a href="javascript:void(0);" class="btn btn-dark">Disable</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-md-6">
    <div class="card dash-widget-2">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <span
            class="set-icon bg-light d-flex justify-content-center align-items-center rounded-circle p-1"
          >
            <i class="ti ti-device-mobile text-dark fs-20"></i>
          </span>
          <div class="ms-2">
            <div class="d-flex">
              <p class="mb-0 text-gray-9 text-truncatefw-medium me-1">
                Phone Number Verification
              </p>
              <span
                class="set-icon-2 badge badge-success d-flex justify-content-center align-items-center rounded-circle"
                ><i class="ti ti-check"></i
              ></span>
            </div>
            <span class="fs-12"
              >Verified Mobile Number :<span class="text-gray-9"
                >+99264710583</span
              ></span
            >
          </div>
        </div>
        <div class="d-flex align-items-center">
          <a
            href="javascript:void(0);"
            class="btn btn-dark me-2"
            data-bs-toggle="modal"
            data-bs-target="#change-phone"
            >Change</a
          >
          <a
            href="javascript:void(0);"
            class="btn btn-light"
            data-bs-toggle="modal"
            data-bs-target="#del-account"
            >Remove</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-md-6">
    <div class="card dash-widget-2">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <span
            class="set-icon bg-light d-flex justify-content-center align-items-center rounded-circle p-1"
          >
            <i class="ti ti-mail text-dark fs-20"></i>
          </span>
          <div class="ms-2">
            <div class="d-flex">
              <p class="mb-0 text-gray-9 fw-medium me-1">Email Verification</p>
              <span
                class="set-icon-2 badge badge-success d-flex justify-content-center align-items-center rounded-circle"
                ><i class="ti ti-check"></i
              ></span>
            </div>
            <span class="fs-12 text-truncate"
              >Verified Email :<span class="text-gray-9"
                >info&#64;example.com</span
              ></span
            >
          </div>
        </div>
        <div class="d-flex align-items-center">
          <a
            href="javascript:void(0);"
            class="btn btn-dark me-2"
            data-bs-toggle="modal"
            data-bs-target="#change-email"
            >Change</a
          >
          <a
            href="javascript:void(0);"
            class="btn btn-light"
            data-bs-toggle="modal"
            data-bs-target="#del-account"
            >Remove</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-md-6">
    <div class="card dash-widget-2">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <span
            class="set-icon bg-light d-flex justify-content-center align-items-center rounded-circle p-1 me-2"
          >
            <i class="ti ti-device-imac text-dark fs-20"></i>
          </span>
          <div>
            <p class="mb-0 text-gray-9 fw-medium">Device Management</p>
            <span class="fs-12 text-truncate"
              >Last Changed :
              <span class="text-gray-9">22 Jul 2024, 10:30:55 AM</span></span
            >
          </div>
        </div>
        <a [routerLink]="routes.customerDeviceManagement" class="btn btn-dark">Manage</a>
      </div>
    </div>
  </div>
  <div class="col-xxl-4 col-md-6">
    <div class="card dash-widget-2">
      <div class="card-body">
        <div class="d-flex align-items-center mb-3">
          <span
            class="set-icon bg-light d-flex justify-content-center align-items-center rounded-circle p-1 me-2"
          >
            <i class="ti ti-user-edit text-dark fs-20"></i>
          </span>
          <div>
            <p class="mb-0 text-gray-9 fw-medium">Account Activity</p>
            <span class="fs-12 text-truncate"
              >Last Changed :
              <span class="text-gray-9">22 Jul 2024, 10:30:55 AM</span></span
            >
          </div>
        </div>
        <a [routerLink]="routes.customerLoginActivity" class="btn btn-dark">View All</a>
      </div>
    </div>
  </div>
</div>

<!-- Change Password -->
<div class="modal fade custom-modal" id="change-password">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
      <div
        class="modal-header d-flex align-items-center justify-content-between border-bottom"
      >
        <h5 class="modal-title">Change Password</h5>
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"
          ><i class="ti ti-circle-x-filled fs-20"></i
        ></a>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="mb-3">
            <label class="form-label">Current Password</label>
            <div class="pass-group">
              <input
              [type]="passwordClass1 ? 'text' : 'password'"
                class="form-control pass-input"
                placeholder="*************"
              />
              <span (click)="togglePassword1()" (keydown.enter)="togglePassword1()" tabindex="0" [ngClass] = "passwordClass1 ? 'toggle-password feather icon-eye' : 'toggle-password feather icon-eye-off'"></span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">New Password</label>
            <div class="pass-group" id="passwordInput">
              <input
              [type]="passwordClass2 ? 'text' : 'password'"
                class="form-control pass-input"
                placeholder="*************"
              />
              <span (click)="togglePassword2()" (keydown.enter)="togglePassword2()" tabindex="0" [ngClass] = "passwordClass2 ? 'toggle-password feather icon-eye' : 'toggle-password feather icon-eye-off'"></span>
            </div>
            <div class="password-strength" id="passwordStrength">
              <span id="poor"></span>
              <span id="weak"></span>
              <span id="strong"></span>
              <span id="heavy"></span>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Confirm New Password</label>
            <div class="pass-group">
              <input
              [type]="passwordClass3 ? 'text' : 'password'"
                class="form-control pass-input"
                placeholder="*************"
              />
              <span (click)="togglePassword3()" (keydown.enter)="togglePassword3()" tabindex="0" [ngClass] = "passwordClass3 ? 'toggle-password feather icon-eye' : 'toggle-password feather icon-eye-off'"></span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top">
        <div class="acc-submit">
          <a
            href="javascript:void(0);"
            class="btn btn-light me-2"
            data-bs-dismiss="modal"
            >Cancel</a>
          <button class="btn btn-dark" type="button" data-bs-dismiss="modal">Update Password</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Change Password -->

<!-- Change Email -->
<div class="modal fade custom-modal" id="change-email">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
      <div
        class="modal-header d-flex align-items-center justify-content-between border-bottom"
      >
        <h5 class="modal-title">Change Email</h5>
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"
          ><i class="ti ti-circle-x-filled fs-20"></i
        ></a>
      </div>
      <div class="modal-body p-4">
        <form >
          <div class="wallet-add">
            <div class="mb-3">
              <label class="form-label">Current Email Address</label>
              <input type="email" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label"
                >New Email Address <span class="text-danger">*</span></label
              >
              <input type="email" class="form-control" />
            </div>
            <div class="mb-3">
              <label class="form-label">Confirm New Password</label>
              <div class="pass-group">
                <input
                [type]="passwordClass4 ? 'text' : 'password'"
                  class="form-control pass-input"
                  placeholder="*************"
                />
                <span (click)="togglePassword4()" (keydown.enter)="togglePassword4()" tabindex="0" [ngClass] = "passwordClass4 ? 'toggle-password feather icon-eye' : 'toggle-password feather icon-eye-off'"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top">
        <div class="acc-submit">
          <a
            href="javascript:void(0);"
            class="btn btn-light me-2"
            data-bs-dismiss="modal"
            >Cancel</a
          >
          <button class="btn btn-dark" type="button" data-bs-dismiss="modal">Change Email</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Change Email -->

<!-- Change Phone -->
<div class="modal fade custom-modal" id="change-phone">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
      <div
        class="modal-header d-flex align-items-center justify-content-between border-bottom"
      >
        <h5 class="modal-title">Change Phone Number</h5>
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"
          ><i class="ti ti-circle-x-filled fs-20"></i
        ></a>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="wallet-add">
            <div class="mb-3">
              <label class="form-label">Current Phone Number</label>
              <input
                class="form-control form-control-lg group_formcontrol"
                id="phone"
                name="phone"
                type="text"
                placeholder="Enter Phone Number"
              />

            </div>
            <div class="mb-3">
              <label class="form-label"
                >New Phone Number <span class="text-danger">*</span></label
              >
              <input
                class="form-control form-control-lg group_formcontrol"
                id="phone1"
                name="phone"
                type="text"
                placeholder="Enter Phone Number"
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Confirm New Password</label>
              <div class="pass-group">
                <input
                [type]="passwordClass5 ? 'text' : 'password'"
                  class="form-control pass-input"
                  placeholder="*************"
                />
                <span (click)="togglePassword5()" (keydown.enter)="togglePassword5()" tabindex="0" [ngClass] = "passwordClass5 ? 'toggle-password feather icon-eye' : 'toggle-password feather icon-eye-off'"></span>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer border-top">
        <div class="acc-submit">
          <a
            href="javascript:void(0);"
            class="btn btn-light me-2"
            data-bs-dismiss="modal"
            >Cancel</a
          >
          <button class="btn btn-dark" type="button" data-bs-dismiss="modal">Change Number</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Change Phone -->
