<!-- Breadcrumb -->
<div class="breadcrumb-bar text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">How It Works</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item">Home</li>
                        <li class="breadcrumb-item active" aria-current="page">How It Works</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="breadcrumb-bg">
            <img src="assets/img/bg/breadcrumb-bg-01.png" class="breadcrumb-bg-1" alt="Img">
            <img src="assets/img/bg/breadcrumb-bg-02.png" class="breadcrumb-bg-2" alt="Img">
        </div>
    </div>
    </div>
    <!-- /Breadcrumb -->

    <!-- Page Wrapper -->
    <div class="page-wrapper">
    <div class="content">
        <div class="container">
            <!-- How it works-->
            <div class="row align-items-center justify-content-center">
                <div class="col-md-8 ">
                    <div class="work-wrap work-wrap-acc">
                        <span>01</span>
                        <h1 class="display-6">Create An Account</h1>
                        <p>Create an account to become a service provider and start offering your services to a wide audience. By signing up, you’ll be able to showcase your expertise, manage appointments, and connect with potential clients.</p>
                        <p>Simply provide your name, email address, and create a strong password to get started. Once registered, you’ll have access to tools for tracking your work, setting availability, and receiving payments. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-img d-none d-md-block">
                        <img src="assets/img/bg/bg-09.png" class="img-fluid" alt="image">
                    </div>
                </div>
                <div class="work-wrap-img d-none d-md-block">
                    <img src="assets/img/bg/bg-12.png" alt="img" class="img-fluid">
                </div>
            </div>
            
            <div class="row align-items-center justify-content-center">
                <div class="col-md-4  order-last order-md-first">
                    <div class="work-img d-none d-md-block">
                        <img src="assets/img/bg/bg-10.png" class="img-fluid" alt="image">
                    </div>
                </div>
                <div class="col-md-8 d-flex justify-content-center">
                    <div class="work-wrap work-wrap-post">
                        <span>02</span>
                        <h1 class="display-6">Post An Ad</h1>
                        <p>Promote your services and reach new clients by posting on our platform. Start by providing a clear and engaging title that describes your service. Include a detailed description outlining what you offer, your expertise, and any special skills or certifications. Choose the right category to make it easier for clients to find your service.</p>
                        <p>Be sure to add your contact information so clients can easily get in touch with you. Posting your service is fast and straightforward, helping you expand your client base effortlessly!</p>
                    </div>
                </div>
                <div class="work-wrap-img d-none d-md-block">
                    <img src="assets/img/bg/bg-12.png" alt="img" class="img-fluid">
                </div>
            </div>
            
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="work-wrap work-wrap-earning mb-0">
                        <span>03</span>
                        <h1 class="display-6">Start Earning</h1>
                        <p>Take control of your financial future by starting to earn with our platform. Whether you're a seasoned professional or just getting started, we make it easy for you to connect with clients who need your skills.Manage your schedule with ease and accept jobs that fit your expertise and availability.</p>
                        <p>Start earning today, expand your client base, and watch your income soar as you take advantage of new opportunities. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-img mb-0 d-none d-md-block">
                        <img src="assets/img/bg/bg-11.png" class="img-fluid" alt="image">
                    </div>
                </div>
            </div>
            <!-- /How it works -->
            
        </div>
    </div>
    </div>
    <!-- /Page Wrapper -->