<div class="page-wrapper page-settings">
    <div class="content">
        <div class="content-page-header content-page-headersplit">
            <h5>Add  Membership</h5>
        </div>
        <form action="/">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-groupheads">
                        <h2>Profile Picture</h2>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="form-group">
                        <label for="">Plan Name</label>
                        <input type="text" class="form-control" placeholder="Enter Plan Name ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="">Monthly Price</label>
                        <input type="text" class="form-control" placeholder="Enter Plan Price">
                        <h6 class="info-set" ><i class="feather icon-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="content"></i>Set 0 for free</h6>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="">Yearly Price</label>
                        <input type="text" class="form-control" placeholder="Enter Plan Price">
                        <h6 class="info-set" ><i class="feather icon-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="content"></i>Set 0 for free</h6>
                    </div>
                </div>
            </div>
            <div class="content-page-header mt-3">
                <h5>Addon Settings</h5>
            </div>
            <div class="location-set">
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <div class="location-setcontent">
                            <h5>Services</h5>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="0-100">
                            <div class="filter-checkbox mt-2">
                                <ul>
                                    <li>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span><i></i></span>
                                            <b class="check-content">Unlimited</b>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-12">
                        <div class="active-switch text-end">
                            <label class="switch">
                                <input type="checkbox" checked="">
                                <span class="sliders round"></span>
                            </label>
                        </div>
                    </div>
                </div>
        </div>
        <div class="location-set">
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <div class="location-setcontent">
                            <h5>Appointments</h5>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="0-100">
                            <div class="filter-checkbox mt-2">
                                <ul>
                                    <li>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span><i></i></span>
                                            <b class="check-content">Unlimited</b>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-12">
                        <div class="active-switch text-end">
                            <label class="switch">
                                <input type="checkbox" checked="">
                                <span class="sliders round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location-set">
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <div class="location-setcontent">
                            <h5>Staffs</h5>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="0-100">
                            <div class="filter-checkbox mt-2">
                                <ul>
                                    <li>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span><i></i></span>
                                            <b class="check-content">Unlimited</b>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-12">
                        <div class="active-switch text-end">
                            <label class="switch">
                                <input type="checkbox" checked="">
                                <span class="sliders round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location-set">
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <div class="location-setcontent">
                            <h5>Gallery</h5>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="0-100">
                            <div class="filter-checkbox mt-2">
                                <ul>
                                    <li>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span><i></i></span>
                                            <b class="check-content">Unlimited</b>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-12">
                        <div class="active-switch text-end">
                            <label class="switch">
                                <input type="checkbox" checked="">
                                <span class="sliders round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="location-set">
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <div class="location-setcontent">
                            <h5>Additional Service</h5>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing</h6>
                        </div>
                    </div>
                    <div class="col-lg-5 col-12">
                        <div class="form-group mb-0">
                            <input type="text" class="form-control" placeholder="0-100">
                            <div class="filter-checkbox mt-2">
                                <ul>
                                    <li>
                                        <label class="checkboxs">
                                            <input type="checkbox">
                                            <span><i></i></span>
                                            <b class="check-content">Unlimited</b>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-12">
                        <div class="active-switch text-end">
                            <label class="switch">
                                <input type="checkbox" checked="">
                                <span class="sliders round"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-groupheads  d-flex justify-content-between">
                <h2>Status</h2>
                <div class="active-switch text-end">
                    <label class="switch">
                        <input type="checkbox" checked="">
                        <span class="sliders round"></span>
                    </label>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="btn-path">
                    <a href="javascript:void(0);" class="btn btn-cancel me-3">Cancel</a>
                    <button type="submit" class="btn btn-primary ">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div> 
 <!--change email-modal -->
 <div class="modal fade" id="add-faq" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create FAQ’s</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="feather icon-x"></i>
                </button>
            </div>
            <div class="modal-body py-0">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Title</label>
                            <input type="text" class="form-control" placeholder="Enter FAQ Title">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Category</label>
                            <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Select Category">
                                <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                {{data.value}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <label for="">Current Password</label>
                            <textarea class="form-control" placeholder="Enter Your Details"></textarea>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-groupheads d-flex d-flex justify-content-between">
                            <h2>Status</h2>
                            <div class="active-switch ">
                                <label class="switch">
                                    <input type="checkbox" checked="">
                                    <span class="sliders round"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer pt-0">
                <button type="button" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>