<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="row">
      <div
        class="d-flex justify-content-between align-items-center flex-wrap mb-4"
      >
        <h5>Social Profiles</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">Name</label>
              <mat-select
                [(ngModel)]="selectedValue1"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList1"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">URL</label>
             
            <mat-select
                [(ngModel)]="selectedValue2"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList2"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-1 col-lg-2 col-sm-12">
            <label for="">&nbsp;</label>
            <div class="d-flex align-items-center form-check form-switch mb-3">
              <input type="checkbox" id="status-1" class="form-check-input" />
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 col-sm-12">
            <div class="form-group mat-select-box">
              <label for="" class="form-label">Name</label>
              <mat-select
                [(ngModel)]="selectedValue2"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList2"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">URL</label>
              <mat-select
                [(ngModel)]="selectedValue2"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList2"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-1 col-lg-2 col-sm-12">
            <label for="">&nbsp;</label>
            <div class="d-flex align-items-center form-check form-switch mb-3">
              <input type="checkbox" id="status-1" class="form-check-input" />
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 col-sm-12">
            <div class="form-group mat-select-box">
              <label for="" class="form-label">Name</label>
              <mat-select
                [(ngModel)]="selectedValue3"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList3"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">URL</label>
              <mat-select
              [(ngModel)]="selectedValue2"
              [ngModelOptions]="{ standalone: true }"
              class="select"
              placeholder="Select"
            >
              <mat-option
                *ngFor="let data of selectedList2"
                [value]="data.value"
              >
                {{ data.value }}
              </mat-option>
            </mat-select>
            </div>
          </div>
          <div class="col-xl-1 col-lg-2 col-sm-12">
            <label for="">&nbsp;</label>
            <div class="d-flex align-items-center form-check form-switch mb-3">
              <input type="checkbox" id="status-1" class="form-check-input" />
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">Name</label>
              <mat-select
                [(ngModel)]="selectedValue4"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList4"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">URL</label>
              <mat-select
                [(ngModel)]="selectedValue2"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList2"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-1 col-lg-2 col-sm-12">
            <label for="">&nbsp;</label>
            <div class="d-flex align-items-center form-check form-switch mb-3">
              <input type="checkbox" id="status-1" class="form-check-input" />
            </div>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-xl-5 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">Name</label>
              <mat-select
                [(ngModel)]="selectedValue5"
                [ngModelOptions]="{ standalone: true }"
                class="select"
                placeholder="Select"
              >
                <mat-option
                  *ngFor="let data of selectedList5"
                  [value]="data.value"
                >
                  {{ data.value }}
                </mat-option>
              </mat-select>
            </div>
          </div>
          <div class="col-xl-6 col-lg-5 col-sm-12">
            <div class="mb-3 mat-select-box">
              <label for="" class="form-label">URL</label>
              <mat-select
              [(ngModel)]="selectedValue2"
              [ngModelOptions]="{ standalone: true }"
              class="select"
              placeholder="Select"
            >
              <mat-option
                *ngFor="let data of selectedList2"
                [value]="data.value"
              >
                {{ data.value }}
              </mat-option>
            </mat-select>
            </div>
          </div>
          <div class="col-xl-1 col-lg-2 col-sm-12">
            <label for="">&nbsp;</label>
            <div class="d-flex align-items-center form-check form-switch mb-3">
              <input type="checkbox" id="status-1" class="form-check-input" />
            </div>
          </div>
        </div>

        <div class="acc-submit d-flex justify-content-end">
          <a href="javascript:void(0);" class="btn btn-light me-3">Cancel</a>
          <a href="javascript:void(0);" class="btn btn-dark">Save Changes</a>
        </div>
      </div>
      <!-- /Social Profiles -->
    </div>
  </div>
</div>
