<div class="page-wrapper">
    <div class="content container-fluid">
    
      <div class="row">
        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4>Offers</h4>
            <div class="d-flex align-items-center flex-wrap row-gap-3">
                <span class="fs-14 me-2">Sort</span>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Newly Added
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Ascending</a>
                        <a href="javascript:void(0);" class="dropdown-item">Descending</a>
                    </div>
                </div>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Export
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Export as PDF</a>
                        <a href="javascript:void(0);" class="dropdown-item">Export as Excel</a>
                    </div>
                </div>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-printer"></i></a>
                <a href="javascript:void(0);"
                    class="tags active d-flex justify-content-center align-items-center border rounded me-2"
                    id="filter_search" (click)="toggleFilterInputs()"><i class="ti ti-sort-descending"></i></a>
                <a href="javascript:void(0);" class="btn btn-dark d-flex justify-content-center align-items-center"
                    data-bs-toggle="modal" data-bs-target="#add-offer"><i
                        class="ti ti-circle-plus me-2"></i>Add Offer</a>
            </div>
        </div>
        <div id="filter_inputs"  [ngStyle]="{ display: isFilterInputsVisible ? 'block' : 'none' }">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3">
                        <div class="sel-cal Calendar-icon">
                            <span><i class="ti ti-calendar-month"></i></span>
                            <input class="form-control datetimepicker" type="text" bsDatepicker placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                      <mat-select
                      [(ngModel)]="selectedValue3"
                      [ngModelOptions]="{ standalone: true }"
                      class="select"
                      placeholder="Select"
                    >
                      <mat-option
                        *ngFor="let data of selectedList3"
                        [value]="data.value"
                      >
                        {{ data.value }}
                      </mat-option>
                    </mat-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                      
                        <mat-select
                        [(ngModel)]="selectedValue4"
                        [ngModelOptions]="{ standalone: true }"
                        class="select"
                        placeholder="Select"
                      >
                        <mat-option
                          *ngFor="let data of selectedList4"
                          [value]="data.value"
                        >
                          {{ data.value }}
                        </mat-option>
                      </mat-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        <!-- Coupons -->
        <div class="row">
            <div class="col-md-12">
                <div class="provide-table manage-table">
                    <div class="table-responsive">
                        <table matSort (matSortChange)="sortData($event)" class="table custom-table datatable mb-0" id="data-table">
                            <thead class="thead-light">
                                <tr>
                                   
                                    <th mat-sort-header="service">Service</th>
                                    <th mat-sort-header="amount">Amount</th>
                                    <th mat-sort-header="offer">Offer</th>
                                    <th mat-sort-header="offerPrice">Offer Price</th>
                                    <th mat-sort-header="date">Date</th>
                                    <th mat-sort-header="endDate">End Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of providerOffers">
                                   
                                    <td>
                                      <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img [src]="data.img" class="rounded"
                                                alt="user">
                                        </a>
                                        <h6 class="fs-14"><a [routerLink]="routes.serviceDetails">{{data.service}}</a>
                                        </h6>
                                    </div>
                                    </td>
                                    <td>{{data.amount}}</td>
                                    <td>{{data.offer}}</td>
                                    <td>{{data.offerPrice}}</td>
                                    <td>{{data.date}}</td>
                                    <td>{{data.endDate}}</td>
                                    <td>
                                      <div class="user-icon d-inline-flex">
                                          <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-offer"><i class="ti ti-edit"></i></a>
                                          <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-offer"><i class="ti ti-trash"></i></a>
                                      </div>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                        <div
                        class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3"
                      >
                        <div class="value d-flex align-items-center">
                          <span> Show </span>
                          <select
                            [(ngModel)]="pageSize"
                            (ngModelChange)="PageSize()"
                            class="form-control form-control-sm"
                          >
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                          </select>
                          <span> entries </span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                          <div>
                            <div class="me-2 text-gray-9">
                              {{ serialNumberArray[0] }} -
                              {{ serialNumberArray[serialNumberArray.length - 1] }} of
                              {{ totalData }}
                            </div>
                          </div>
          
                          <nav class="Page navigation">
                            <ul
                              class="paginations d-flex justify-content-center align-items-center"
                            >
                              <ng-container
                                *ngFor="let item of pageNumberArray; let i = index"
                              >
                                <li
                                  class="page-item me-2"
                                  [class.active]="item === currentPage"
                                  [ngClass]="
                                    (pageNumberArray[currentPage - 2] > item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6) ||
                                    (pageNumberArray[currentPage] < item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6 &&
                                      pageNumberArray.length !== item)
                                      ? 'hide-page-no'
                                      : 'show-page-no'
                                  "
                                >
                                  <a
                                    (click)="moveToPage(item)"
                                    class="page-link"
                                    href="javascript:void(0);"
                                  >
                                    {{ item }}
                                  </a>
                                </li>
                                <li
                                  class="page-item me-2"
                                  *ngIf="
                                    i === 0 &&
                                    pageNumberArray.length > 6 &&
                                    currentPage > 2
                                  "
                                  [hidden]="currentPage === 1"
                                  (click)="moveToPage(currentPage - 2)"
                                  (keydown.enter)="moveToPage(currentPage - 2)"
                                  tabindex="0"
                                >
                                  <a class="page-link" href="javascript:void(0);">
                                    ...
                                  </a>
                                </li>
                                <li
                                  *ngIf="
                                    i === pageNumberArray.length - 2 &&
                                    pageNumberArray.length > 6
                                  "
                                  [hidden]="
                                    currentPage >=
                                      pageNumberArray[pageNumberArray.length - 2] ||
                                    totalData <
                                      serialNumberArray[serialNumberArray.length - 1]
                                  "
                                  class="page-item me-2"
                                  (click)="moveToPage(currentPage + 2)"
                                  (keydown.enter)="moveToPage(currentPage + 2)"
                                  tabindex="0"
                                >
                                  <a class="page-link" href="javascript:void(0);">
                                    ...
                                  </a>
                                </li>
                              </ng-container>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div id="tablelength"></div>
                    </div>
                    <div class="col-md-9">
                        <div class="table-ingopage">
                            <div id="tableinfo"></div>
                            <div id="tablepagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Coupons -->
        
    </div>
</div>

<!-- Add Coupon -->
<div class="modal fade custom-modal" id="add-coupon">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header border-bottom-0 justify-content-between">
                <h5 class="modal-title">New Offer</h5>
                <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="feather icon-x"></i></button>
            </div>
            <div class="modal-body pt-0">
                <form action="/">
                    <div class="wallet-add">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Offer Type</label>
                                    <mat-select [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Select Type">
                                        <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                        {{data.value}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-form-label">Start Date</label>
                                    <div class="form-icon">
                                        <input type="text" class="form-control datetimepicker" placeholder="Select Date" matInput [matDatepicker]="picker1">
                                        <mat-datepicker #picker1></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker1">
                                          <mat-icon matDatepickerToggleIcon>
                                            <span class="cus-icon">
                                              <i class="feather icon-calendar"></i>
                                            </span>
                                          </mat-icon>
                                        </mat-datepicker-toggle>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="" class="col-form-label">End Date</label>
                                    <div class="form-icon">
                                        <input type="text" class="form-control datetimepicker" placeholder="Select Date" matInput [matDatepicker]="picker2">
                                        <mat-datepicker #picker2></mat-datepicker>
                                        <mat-datepicker-toggle matIconSuffix [for]="picker2">
                                          <mat-icon matDatepickerToggleIcon>
                                            <span class="cus-icon">
                                              <i class="feather icon-calendar"></i>
                                            </span>
                                          </mat-icon>
                                        </mat-datepicker-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-submit text-end">
                            <a href="javascript:void(0);" class="btn btn-secondary me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>								
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Coupon -->
 <!-- Add Offers -->
 <div class="modal fade wallet-modal" id="add-offer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center justify-content-between  border-0">
              <h5>Add Offer</h5>
              <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
          </div>
          <form >
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="mb-3  mat-select-box">
                              <label class="form-label">Offer Type</label>
                             
                              <mat-select class="select" placeholder="Select">
                                <mat-option value="english">Select</mat-option>
                                <mat-option value="french">Fixed</mat-option>
                              </mat-select>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="mb-3">
                              <label class="form-label">Offer Price</label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <label class="form-label">Start Date</label>
                          <div class=" input-icon position-relative">
                              <span class="input-icon-addon"><i class="ti ti-calendar"></i></span>
                              <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd-mm-yyyy">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <label class="form-label">End Date</label>
                          <div class=" input-icon position-relative">
                              <span class="input-icon-addon"><i class="ti ti-calendar"></i></span>
                              <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd-mm-yyyy">
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <div class="modal-footer">
              <button type="button" class="btn bg-gray" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-dark">Submit</button>
          </div>
      </div>
  </div>
</div>
<!-- /Add Offers -->

<!-- Edit Offers -->
<div class="modal fade wallet-modal" id="edit-offer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center justify-content-between  border-0">
              <h5>Edit Offer</h5>
              <a href="#" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
          </div>
          <form >
              <div class="modal-body">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="mb-3  mat-select-box">
                              <label class="form-label">Offer Type</label>
                              <mat-select class="select" placeholder="Fixed">
                                <mat-option value="english">Select</mat-option>
                                <mat-option value="french">Fixed</mat-option>
                              </mat-select>
                          </div>
                      </div>
                      <div class="col-md-12">
                          <div class="mb-3">
                              <label class="form-label">Offer Price</label>
                              <input type="text" class="form-control" value="$20">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <label class="form-label">Start Date</label>
                          <div class=" input-icon position-relative">
                              <span class="input-icon-addon"><i class="ti ti-calendar"></i></span>
                              <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd-mm-yyyy">
                          </div>
                      </div>
                      <div class="col-md-6">
                          <label class="form-label">End Date</label>
                          <div class=" input-icon position-relative">
                              <span class="input-icon-addon"><i class="ti ti-calendar"></i></span>
                              <input type="text" class="form-control datetimepicker"bsDatepicker  placeholder="dd-mm-yyyy">
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <div class="modal-footer">
              <button type="button" class="btn bg-gray" data-bs-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-dark">Submit</button>
          </div>
      </div>
  </div>
</div>
<!-- /Edit Offers -->

<!-- Delete offer -->
<div class="modal fade custom-modal" id="del-offer">
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
      <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
          <h5 class="modal-title">Delete Offer</h5>
          <a href="#" data-bs-dismiss="modal" aria-label="Close"><i
                  class="ti ti-circle-x-filled fs-20"></i></a>
      </div>
      <div class="modal-body">
          <div class="write-review">
              <form >
                  <p>Are you sure want to delete this offer?</p>
                  <div class="modal-submit text-end">
                      <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                      <button type="submit" class="btn btn-dark">Yes</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
</div>
<!-- /Delete offer -->

<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
              <h5 class="modal-title">Delete Account</h5>
              <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                      class="ti ti-circle-x-filled fs-20"></i></a>
          </div>
          <form >
              <div class="modal-body">
                  <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type
                      your password.</p>
                  <div class="mb-0">
                      <label class="form-label">Password</label>
                      <div class="pass-group">
                          <input type="password" class="form-control pass-input" placeholder="*************">
                          <span class="toggle-password feather-eye-off"></span>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                  <button type="submit" class="btn btn-dark">Delete Account</button>
              </div>
          </form>
      </div>
  </div>
</div>
<!-- /Delete Account -->
