        <div class="content-page-header">
            <h5>Footer Setting</h5>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-groupheads d-flex d-flex justify-content-between">
                                    <h2>Categories Widget</h2>
                                    <div class="active-switch">
                                        <label class="switch">
                                            <input type="checkbox" checked="">
                                            <span class="sliders round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Title<span class="text-label"> (English)</span></label>
                                    <input type="text" class="form-control" placeholder="Categories">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Category-view</label>
                                    <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="setting-select select"  placeholder="Orderby(ASC)">
                                        <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                        {{data.value}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <label for="">Category Count</label>
                                    <input type="text" class="form-control" placeholder="4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-groupheads d-flex d-flex justify-content-between">
                                    <h2>Links Widget</h2>
                                    <div class="active-switch">
                                        <label class="switch">
                                            <input type="checkbox" checked="">
                                            <span class="sliders round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Title</label>
                                    <input type="text" class="form-control" placeholder="Quick Links">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group-set">
                                    <div class="row align-items-center">
                                        <div class="col-lg-12">
                                            <h4 class="mb-0">About<span>(Max 6 only)</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" *ngFor="let data of linksWidget;let i = index">
                                <div class="form-group-set">
                                    <div class="row align-items-center">
                                        <div class="col-lg-3 col-sm-6">
                                            <h4 class="mb-0">About</h4>
                                        </div>
                                        <div class="col-lg-8 col-sm-12">
                                            <input type="text" class="form-control" value="https://truelysell-testing.dreamguystech.com/about">
                                        </div>
                                        <div class="col-lg-1 col-sm-12">
                                            <a href="javascript:void(0);" class="delete-links" (click)="deleteLinksWidget(i)">
                                                <i class="far fa-trash-alt "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-groupheads d-flex d-flex justify-content-between">
                                    <h2>Contact Widget</h2>
                                    <div class="active-switch">
                                        <label class="switch">
                                            <input type="checkbox" checked="">
                                            <span class="sliders round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Title<span class="text-label"> (English)</span></label>
                                    <input type="text" class="form-control" placeholder="Contact Us">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input type="text" class="form-control" placeholder="367 Hillcrest Lane, Irvine, California, United States">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="text" class="form-control" placeholder="321 546 8764">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group mb-0">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" placeholder="truelysell@example.com">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-groupheads d-flex d-flex justify-content-between">
                                    <h2>Social Widget</h2>
                                    <div class="active-switch">
                                        <label class="switch">
                                            <input type="checkbox" checked="">
                                            <span class="sliders round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Title <span>(English)</span></label>
                                    <input type="text" class="form-control" placeholder="Quick Links">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group-set">
                                    <div class="row align-items-center">
                                        <div class="col-lg-12">
                                            <h4 class="mb-0">Links <span>(Max 6 only)</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" *ngFor="let data of socialWidget;let i = index">
                                <div class="form-group-set">
                                    <div class="row align-items-center">
                                        <div class="col-lg-3 col-sm-6">
                                            <h4 class="mb-0">{{data.content}}</h4>
                                        </div>
                                        <div class="col-lg-8 col-sm-12">
                                            <input type="text" class="form-control" value="{{data.link}}">
                                        </div>
                                        <div class="col-lg-1 col-sm-12">
                                            <a href="javascript:void(0);" class="delete-links" (click)="deleteSocialWidget(i)">
                                                <i class="far fa-trash-alt "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row add-headers">
                            <div class="col-12">
                                <div class="form-groupheads d-flex d-flex justify-content-between">
                                    <h2>Copyright</h2>
                                    <div class="active-switch">
                                        <label class="switch">
                                            <input type="checkbox" checked="">
                                            <span class="sliders round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Page Content <span>(English)</span></label>
                                    <input type="text" class="form-control" placeholder="@ 2022 Truelysell	">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group-set">
                                    <div class="row align-items-center">
                                        <div class="col-lg-12">
                                            <h4 class="mb-0">Footer bottom links <span>(Max 3 only)</span></h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12"  *ngFor="let data of copyRight; let i = index">
                                <div class="form-group-set">
                                    <div class="row align-items-center">
                                        <div class="col-lg-3 col-sm-6">
                                            <h4 class="mb-0">{{data.content}}</h4>
                                        </div>
                                        <div class="col-lg-8 col-sm-12">
                                            <input type="text" class="form-control" value="{{data.link}}">
                                        </div>
                                        <div class="col-lg-1 col-sm-12">
                                            <a href="javascript:void(0);" class="delete-links" (click)="deleteCopyRight(i)">
                                                <i class="far fa-trash-alt "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-12" *ngFor="let data of copyRightArray; let i = index">
                                    <div class="form-group-set">
                                    <div class="row align-items-center">
                                    <div class="col-lg-3 col-sm-6">
                                    <input type="text" class="form-control" placeholder="Enter title">
                                    </div>
                                    <div class="col-lg-8 col-sm-12">
                                    <input type="text" class="form-control" placeholder="Enter url">
                                    </div>
                                    <div class="col-lg-1 col-sm-12">
                                    <a href="javascript:void(0);" class="delete-links" (click)="deleteContent(i)">
                                    <i class="far fa-trash-alt "></i>
                                    </a>
                                    </div>
                                    </div>
                                    </div>
                                    </div>
                            <div class="col-12">
                                <a (click)="addContent()" href="javascript:void(0);" class="addnewheader link-sets"><i class="fa fa-plus-circle me-2" aria-hidden="true"></i>Add New</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="btn-path">
                        <a href="javascript:void(0);" class="btn btn-cancel me-3">Reset</a>
                        <a href="javascript:void(0);" class="btn btn-primary">Save Changes</a>
                    </div>
                </div>
            </div>
        </div>