<div class="main-wrapper" [ngClass]="{
    'expand-menu': expandMenu === true && miniSidebar === true,
    'mini-sidebar': miniSidebar === true,
    'slide-nav': mobileSidebar === true
}">
  <app-admin-header [ngClass]="{'d-none': headerActive === false}"></app-admin-header>
  <app-admin-sidebar [ngClass]="{'d-none': sideBarActive === false}"></app-admin-sidebar>
  <router-outlet></router-outlet>
  <div
class="sidebar-overlay"
[ngClass]="{
  opened: mobileSidebar === true
}"
></div>
  <app-modal></app-modal>
</div>

<div id="overlayer" *ngIf="loading$ | async">
  <span class="loader">
    <span class="loader-inner"></span>
  </span>
</div>
