<!-- Footer -->
<footer class="footer footer-5">

    <!-- Footer Top -->
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a [routerLink]="routes.home"><img src="assets/img/logo.svg" alt="logo"></a>
                        </div>
                        <div class="footer-content">
                            <h6 class="mb-3 text-gray-6">Our Experts Are available 24/7</h6>
                            <div>
                                <p class="fs-16"><span class="ti ti-device-mobile me-2"></span>1800 - 672 - 4399</p>
                            </div>
                            <div>
                                <p class="fs-16"><span class="ti ti-mail me-2"></span>mail&#64;truelysell.com</p>
                            </div>
                        </div>
                        <div class="footer-selects">
                            <div class="d-flex gap-3 mt-2">
                                <div class="iplay">
                                  <a href=""><img src="assets/img/icons/app-store.svg" alt="img" class="img-fluid"></a>
                                </div>
                                <div class="gplay">
                                  <a href=""><img src="assets/img/icons/goolge-play.svg" alt="img" class="img-fluid"></a>
                                </div>
                              </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-4">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Pages</h2>
                        <ul>
                            <li>
                                <a [routerLink]="routes.homeTwo">Home</a>
                            </li>
                            <li>
                                <a href="#">For business</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.categories">All Categories</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.contactUs">Contact</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.blogList">Our Blog</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-4">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">About us</h2>
                        <ul>
                            <li>
                                <a [routerLink]="routes.aboutUs">About</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.serviceGrid">Services</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.howItWorks">How we work</a>
                            </li>
                            <li>
                                <a href="#">News</a>
                            </li>
                            <li>
                                <a href="#">Help Guide</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-4">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Resources</h2>
                        <ul>
                            <li>
                                <a href="#">Download</a>
                            </li>
                            <li>
                                <a href="#">Help Center</a>
                            </li>
                            <li>
                                <a href="#">Guides</a>
                            </li>
                            <li>
                                <a href="#">Partner Network</a>
                            </li>
                            <li>
                                <a href="#">Guide</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget">
                        <h2 class="footer-subtitle">Newsletter Signup</h2>
                        <div class="subscribe-form mb-4">
                            <input type="email" class="form-control" placeholder="Enter Email Address">
                            <button type="submit" class="btn footer-btn btn-dark d-flex justify-content-center align-items-center">
                                <i class="feather icon-send"></i>
                            </button>
                        </div>
                        <h2 class="footer-title">Connect With us</h2>
                        <div class="social-icon">
                            <ul class="mb-0">
                                <li>
                                    <a href="javascript:void(0);"><i class="ti ti-brand-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="ti ti-brand-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="ti ti-brand-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="ti ti-brand-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <!-- /Footer Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p class="mb-0 fs-14">© 2025 Truelysell. All Rights Reserved.</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <!-- Copyright Menu -->
                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li>
                                    <a [routerLink]="routes.privacyPolicy">Home</a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.termsCondition">Site Map</a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.termsCondition">Privacy policy</a>
                                </li>
                                <li>
                                    <a [routerLink]="routes.termsCondition">Cookie Policy</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /Copyright Menu -->
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->