<div class="page-wrapper page-settings verify-request">
    <div class="content">
        <div class="content-page-header content-page-headersplit">
            <h5>Verification Requests</h5>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="table-resposnive">
                    <table matSort (matSortChange)="sortData($event)"  class="table datatable">
                        <thead>
                            <tr>
                                <th mat-sort-header="id">#</th>
                                <th mat-sort-header="userName">User Name</th>
                                <th mat-sort-header="documentType">Document type</th>
                                <th mat-sort-header="documentName">Document Name</th>
                                <th mat-sort-header="download">Download</th>
                                <th mat-sort-header="reason">Reject Reason</th>
                                <th mat-sort-header="status">Status</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let data of verificationRequest">
                            <tr>
                                <td>{{data.id}}</td>
                                <td>
                                    <span>{{data.userName}}</span>
                                </td>
                                <td>
                                    <span>{{data.documentType}}</span>
                                </td>
                                <td>
                                    <a href="javascript:void(0);"><span>{{data.documentName}}</span></a>
                                </td>
                                <td>
                                    <div class="table-download">
                                        <i class="fa-solid fa-download"></i>
                                    </div>
                                </td>
                                <td>{{data.reason1}} <br> {{data.reason2}}</td>
                                <td>
                                    <ng-container *ngIf="data.status === 'Rejected' || data.status === 'Verified'">
                                    <a [ngClass]="{'btn-rejected': data.status === 'Rejected', 'btn-verified': data.status === 'Verified'}" href="javascript:void(0);" class="btn" data-bs-toggle="modal"
                                        data-bs-target="#successmodal">{{data.status}}
                                    </a>
                                </ng-container>
                                    <div *ngIf="data.status === ' '" class="table-select">
                                        <div class="form-group mb-0 table-span">
                                            <mat-select  [(ngModel)]="selectedValue1" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Select Status">
                                                <mat-option *ngFor="let data of selectedList1" [value]="data.value">
                                                {{data.value}}
                                                </mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                    <div *ngIf="data.status === '  '" class="table-select">
                                      <div class="form-group mb-0 table-span">
                                          <mat-select  [(ngModel)]="selectedValue2" [ngModelOptions]="{standalone: true}" class="select"  placeholder="Select Status">
                                              <mat-option *ngFor="let data of selectedList2" [value]="data.value">
                                              {{data.value}}
                                              </mat-option>
                                          </mat-select>
                                      </div>
                                  </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination-main-class"> 
                    <div class="table_footer">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <div class="dataTables_length">
                            <label for="">
                              <select
                                [(ngModel)]="pageSize"
                                (ngModelChange)="PageSize()"
                                class="form-control form-control-sm"
                              >
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                              </select>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="table_design">
                      <div >
                          <div class="dataTables_info">
                               {{ serialNumberArray[0] }} -
                              {{ serialNumberArray[serialNumberArray.length - 1] }} of
                              {{ totalData }} items
                            </div>
                      </div>
                      <div class=" d-flex">
                        <div class="pagination_section">
                          <ul class="pagination">
                            <ng-container
                              *ngFor="let item of pageNumberArray; let i = index"
                            >
                              <li
                                class="page-item"
                                [class.active]="item === currentPage"
                                [ngClass]="
                                  (pageNumberArray[currentPage - 2] > item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6) ||
                                  (pageNumberArray[currentPage] < item &&
                                    item !== 1 &&
                                    pageNumberArray.length > 6 &&
                                    pageNumberArray.length !== item)
                                    ? 'hide-page-no'
                                    : 'show-page-no'
                                "
                              >
                                <a
                                  (click)="moveToPage(item)"
                                  class="page-link"
                                  href="javascript:void(0);"
                                >
                                  {{ item }}
                                </a>
                              </li>
                              <li
                                class="page-item"
                                *ngIf="
                                  i === 0 &&
                                  pageNumberArray.length > 6 &&
                                  currentPage > 2
                                "
                                [hidden]="currentPage === 1"
                                (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                              >
                                <a class="page-link" href="javascript:void(0);">
                                  ...
                                </a>
                              </li>
                              <li
                                *ngIf="
                                  i === pageNumberArray.length - 2 &&
                                  pageNumberArray.length > 6
                                "
                                [hidden]="
                                  currentPage >=
                                    pageNumberArray[pageNumberArray.length - 2] ||
                                  totalData <
                                    serialNumberArray[serialNumberArray.length - 1]
                                "
                                class="page-item"
                                (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                              >
                                <a class="page-link" href="javascript:void(0);">
                                  ...
                                </a>
                              </li>
                            </ng-container>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

    <!-- Modal Succss -->
    <div class="modal fade service-models" id="successmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <form action="verification-request.html">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Reject Reason</h5>
                        <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fe fe-x"></i>
                        </button>
                    </div>
                    <div class="modal-body py-0">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea rows="6" class="form-control" placeholder="Enter Reason"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pt-0">
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
    <!-- Modal Succss -->