<div class="row">
            <div class="content-table">
                <div class="content-page-header content-page-headersplit">
                    <h5>Ban IP Address</h5>
                    <div class="page-head-btn">
                        <a class="btn btn-primary" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#add-tax"><i
                                class="fa fa-plus me-2"></i>Ban IP Address</a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="table-resposnive table-bottom">
                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>IP Address</th>
                                    <th>Reason</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>211.11.222</td>
                                    <td>Lorem ipsum dolor sit amet </td>
                                    <td>27 Sep 2022 </td>
                                    <td>
                                        <div class="action-language">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="delete-table"  data-bs-toggle="modal" data-bs-target="#edit-tax"><i
                                                            class="far fa-edit "></i></a>
                                                </li>
                                                <li>
                                                    <a class="delete-table" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item">
                                                        <i class="far fa-trash-alt "></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>213.12.333</td>
                                    <td>Lorem ipsum dolor sit </td>
                                    <td>24 Sep 2022 </td>
                                    <td>
                                        <div class="action-language">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="delete-table" data-bs-toggle="modal" data-bs-target="#edit-tax"><i
                                                            class="far fa-edit "></i></a>
                                                </li>
                                                <li>
                                                    <a class="delete-table" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item">
                                                        <i class="far fa-trash-alt "></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>210.10.444</td>
                                    <td>Lorem ipsum dolor sit amet</td>
                                    <td>24 Sep 2022 </td>
                                    <td>
                                        <div class="action-language">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="delete-table" data-bs-toggle="modal" data-bs-target="#edit-tax"><i
                                                            class="far fa-edit "></i></a>
                                                </li>
                                                <li>
                                                    <a class="delete-table" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item">
                                                        <i class="far fa-trash-alt "></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>214.13.111</td>
                                    <td>Lorem ipsum dolor sit amet</td>
                                    <td>18 Sep 2022 </td>
                                    <td>
                                        <div class="action-language">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="delete-table" data-bs-toggle="modal" data-bs-target="#edit-tax"><i
                                                            class="far fa-edit "></i></a>
                                                </li>
                                                <li>
                                                    <a class="delete-table" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item">
                                                        <i class="far fa-trash-alt "></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>211.11.111</td>
                                    <td>Lorem ipsum dolor sit amet</td>
                                    <td>18 Sep 2022 </td>
                                    <td>
                                        <div class="action-language">
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0);" class="delete-table" data-bs-toggle="modal" data-bs-target="#edit-tax"><i
                                                            class="far fa-edit "></i></a>
                                                </li>
                                                <li>
                                                    <a class="delete-table" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#delete-item">
                                                        <i class="far fa-trash-alt "></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<!-- Add Ban IP Address -->
<div class="modal fade" id="add-tax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Ban IP Address</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="feather icon-x"></i>
                </button>
            </div>
            <form action="/">
                <div class="modal-body py-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">IP Address</label>
                                <input type="text" class="form-control" placeholder="Enter IP Address">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">Reason for Ban</label>
                                <input type="text" class="form-control" placeholder="Enter Reason">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Add Ban IP Address -->

<!-- Edit Ban IP Address -->
<div class="modal fade" id="edit-tax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Ban IP Address</h5>
                <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
                    <i class="feather icon-x"></i>
                </button>
            </div>
            <form action="/">
                <div class="modal-body py-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">IP Address</label>
                                <input type="text" class="form-control" placeholder="Enter IP Address" value="210.10.444">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="">Reason for Ban</label>
                                <input type="text" class="form-control" placeholder="Enter Reason" value="Lorem ipsum dolor sit amet">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pt-0">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>