<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 mx-auto">
                <div class="login-wrap">
                    <div class="login-back">
                        <a [routerLink]="routes.securitySettings"><i class="feather icon-arrow-left"></i> Back</a>
                    </div>
                    <div class="login-header">
                        <h3>Change  Password</h3>
                        <p>Please enter your current password to change your password</p>
                    </div>
                    
                    <!-- Reset Password Form -->
                    <div class="change-passwordform">
                        <div class="form-group">
                            <label for="">Current Password</label>
                            <div class="pass-group">
                                <input [type]="passwordClass1 ? 'text' : 'password'"  class="form-control pass-input">
                                <span (click)="togglePassword1()" (keydown.enter)="togglePassword1()" tabindex="0" [ngClass] = "passwordClass1 ? 'toggle-password feather icon-eye' : 'toggle-password feather icon-eye-off'"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">New Password</label>
                            <div class="pass-group" id="passwordInput">
                                <input [type]="passwordClass2 ? 'text' : 'password'" class="form-control pass-inputs" [(ngModel)]="registerForm.password" (input)="onChangePassword(registerForm.password || '')">
                                <span (click)="togglePassword2()" (keydown.enter)="togglePassword2()" tabindex="0" [ngClass] = "passwordClass2 ? 'fas toggle-password fa-eye' : 'fas toggle-password fa-eye-slash'"></span>
                            </div>
                            <div  class="password-strength" [ngClass]="{'poor-active': passwordResponce.passwordResponceKey === '0', 'avg-active' : passwordResponce.passwordResponceKey === '1', 'strong-active' : passwordResponce.passwordResponceKey === '2', 'heavy-active' : passwordResponce.passwordResponceKey === '3' }" id="passwordStrength">
                                <span id="poor" class="active"></span>
                                <span id="weak" class="active"></span>
                                <span id="strong" class="active"></span>
                                <span id="heavy" class="active"></span>
                            </div>
                            <div id="passwordInfo" [ngClass]="{'weak': passwordResponce.passwordResponceKey === '0', 'average' : passwordResponce.passwordResponceKey === '1', 'good' : passwordResponce.passwordResponceKey === '2', 'great' : passwordResponce.passwordResponceKey === '3' }">
                                <img [src]="passwordResponce.passwordResponceImage" alt="img">{{passwordResponce.passwordResponceText}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Confirm New Password</label>
                            <div class="pass-group">
                                <input  [type]="passwordClass3 ? 'text' : 'password'" class="form-control pass-inputa">
                                <span (click)="togglePassword3()" (keydown.enter)="togglePassword3()" tabindex="0" [ngClass] = "passwordClass3 ? 'fas toggle-password fa-eye' : 'fas toggle-password fa-eye-slash'"></span>
                            </div>
                        </div>
                    </div>
                        <div class="acc-submit">
                            <a href="javascript:void(0);" class="btn btn-secondary">Cancel</a>
                            <button class="btn btn-primary" type="submit">Update Password</button>
                        </div>
                    <!-- /Reset Password Form -->
                                    
                </div>
            </div>
        </div>
        
    </div>
</div>
