<div class="page-wrapper page-settings">
    <div class="content">
        <div class="content-page-header content-page-headersplit">
            <h5>Permission</h5>
        </div>
        
        <div class="role-wrap">
            <div class="row">
                <div class="col-md-6">
                    <h6>Role Name: <span>Testings</span></h6>
                </div>
                <div class="col-md-6">
                    <label class="checkboxs justify-content-md-end">
                        <input type="checkbox">
                        <span><i></i></span>
                        <b class="check-content">Allow All Modules</b>
                    </label>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-12 ">
                <div class="table-resposnive role-table">
                    <table matSort (matSortChange)="sortData($event)" class="table datatable">
                        <thead>
                            <tr>
                                <th mat-sort-header="id">#</th>
                                <th mat-sort-header="modules">Modules</th>
                                <th mat-sort-header="subModules">Sub Modules</th>
                                <th mat-sort-header="create">Create</th>
                                <th mat-sort-header="edit">Edit</th>
                                <th mat-sort-header="delete">Delete</th>
                                <th mat-sort-header="view">View</th>
                                <th mat-sort-header="allowAll">Allow all</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of rolePermission">
                                <td>{{data.id}}</td>
                                <td class="mod-name">{{data.modules}}</td>
                                <td>{{data.subModules}}</td>
                                <td>
                                    <label class="checkboxs mb-0">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="checkboxs mb-0">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="checkboxs mb-0">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="checkboxs mb-0">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                    </label>
                                </td>
                                <td>
                                    <label class="checkboxs mb-0">
                                        <input type="checkbox">
                                        <span><i></i></span>
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="btn-path text-center mt-4">                                    
                    <a href="javascript:void(0);" class="btn btn-cancel me-3">Back</a>
                    <button type="submit" class="btn btn-primary ">Update</button>
                </div>
            </div>
        </div>
    </div>
</div> 
	<!-- Add Role -->
	<div class="modal fade" id="add-role" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered ">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Role</h5>
					<button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
						<i class="feather icon-x"></i>
					</button>
				</div>
				<form action="/">
					<div class="modal-body py-0">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label for="">Role Name <span class="manitory">*</span></label>
									<input type="text" class="form-control" placeholder="Enter Role Name">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer pt-0">
						<button type="submit" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /Add Role -->
    <!-- Edit Role -->
	<div class="modal fade" id="edit-role" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered ">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Role</h5>
					<button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
						<i class="feather icon-x"></i>
					</button>
				</div>
				<form action="/">
					<div class="modal-body py-0">
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<label for="">Role Name <span class="manitory">*</span></label>
									<input type="text" class="form-control" placeholder="Enter Role Name" value="Admin">
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer pt-0">
						<button type="submit" class="btn btn-primary">Submit</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /Edit Role -->