<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid pb-0">
            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
                <h4>Staffs</h4>
                <div class="d-flex align-items-center">
                    <span class="fs-14 me-2">Sort</span>
                    <div class="dropdown me-2">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                            Newly Added
                        </a>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0);" class="dropdown-item active">Newly Added</a>
                            <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
                        </div>
                    </div>
                    <div class="dropdown me-2">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                            Export
                        </a>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0);" class="dropdown-item active">Export</a>
                            <a href="javascript:void(0);" class="dropdown-item">Import</a>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded me-2"><i class="ti ti-printer"></i></a>
                    <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded me-2"  id="filter_search"><i class="ti ti-sort-descending"></i></a>
                    <a [routerLink]="routes.staffGrid" class="tags active d-flex justify-content-center align-items-center border rounded me-2"><i class="ti ti-layout-grid"></i></a>
                    <a [routerLink]="routes.staffList" class="tags d-flex justify-content-center align-items-center border rounded me-2"><i class="ti ti-list"></i></a>
                    <a href="javascript:void(0);" class="btn btn-dark d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#add-staff"><i class="ti ti-circle-plus me-2"></i>Add Staffs</a>
                </div>
            </div>
            <div id="filter_inputs">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xl">
                        <div class="mb-3">
                            <div class="sel-cal Calendar-icon">
                                <span><i class="ti ti-calendar-month"></i></span>
                                <input class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xl">
                        <div class="mb-3">
                            <select class="select">
                                <option>Staff ID</option>
                                <option>ST5246</option>
                                <option>ST1269</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xl">
                        <div class="mb-3">
                            <select class="select">
                                <option>Staff</option>
                                <option>Brian Villalobos</option>
                                <option>Stephan Peralt</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xl">
                        <div class="mb-3">
                            <select class="select">
                                <option>Status</option>
                                <option>Active</option>
                                <option>Inactive</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 p-2 rounded mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-41.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-2">ST5863</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Jeff Fitch</a></h6>
                                    <span class="fs-12">Added on : 06 Jan 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">02</h6>
                                </div>
                                <div class="border-end"></div>
                                <div class="">
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">02</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-17.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-2">ST6478</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Jacob Kline</a></h6>
                                    <span class="fs-12">Added on : 18 Jan 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">10</h6>
                                </div>
                                <div class="border-end"></div>
                                <div class="">
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">04</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-12.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST2496</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Donald Gordon</a></h6>
                                    <span class="fs-12">Added on : 27 Jan 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">03</h6>
                                </div>
                                <div class="border-end"></div>
                                <div class="">
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">08</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-26.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST0765</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Kara Coble</a></h6>
                                    <span class="fs-12">Added on : 15 Feb 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">10</h6>
                                </div>
                                <div class="border-end"></div>
                                <div class="">
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">15</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-35.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST6485</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Jacob Vance</a></h6>
                                    <span class="fs-12">Added on : 20 Feb 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">07</h6>
                                </div>
                                <div class="border-end"></div>
                                <div class="">
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">13</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-36.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST3751</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">William Smith</a></h6>
                                    <span class="fs-12">Added on : 03 Mar 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">10</h6>
                                </div>
                                <div class="border-end"></div>
                                <div>
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">30</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-16.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST3498</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Taylor Pacheco</a></h6>
                                    <span class="fs-12">Added on : 10 Mar 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">05</h6>
                                </div>
                                <div class="border-end"></div>
                                <div>
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">12</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-02.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST0263</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Anthony Lewis</a></h6>
                                    <span class="fs-12">Added on : 24 Mar 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">06</h6>
                                </div>
                                <div class="border-end"></div>
                                <div>
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">10</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-24.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST3185</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Paul Steele</a></h6>
                                    <span class="fs-12">Added on : 10 Apr 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">08</h6>
                                </div>
                                <div class="border-end"></div>
                                <div>
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">14</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-13.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST0798</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Ray Homan</a></h6>
                                    <span class="fs-12">Added on : 17 Apr 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">06</h6>
                                </div>
                                <div class="border-end"></div>
                                <div class="">
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">15</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-06.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST4638</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Alfonso Lamotte</a></h6>
                                    <span class="fs-12">Added on : 05 May 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">12</h6>
                                </div>
                                <div class="border-end"></div>
                                <div>
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">20</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-3 col-lg-4 col-md-6">
                    <div class="card shadow-none rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center bg-light-300 rounded p-2 mb-3">
                                <a [routerLink]="routes.staffDetails" class="avatar avatar-xl me-2">
                                    <img src="assets/img/profiles/avatar-02.jpg" class="rounded-circle" alt="user">
                                </a>
                                <div>
                                    <span class="badge badge-info-transparent mb-1">ST8351</span>
                                    <h6 class="fs-16 fw-medium"><a [routerLink]="routes.staffDetails">Kim Crosland</a></h6>
                                    <span class="fs-12">Added on : 19 May 2024</span>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <span class="fs-14">No of Services</span>
                                    <h6 class="fs-16 text-center fw-medium">08</h6>
                                </div>
                                <div class="border-end"></div>
                                <div class="">
                                    <span class="fs-14 ps-1">No of Bookings</span>
                                    <h6 class="fs-16 text-center fw-medium">16</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Staff-->
<div class="modal fade custom-modal" id="add-staff">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Add Staff </h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body pb-0">
                <form >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <div class="d-flex profile-upload align-items-center">
                                    <span class="d-flex justify-content-center align-items-center p-4 bg-light rounded me-2"><i class="ti ti-photo"></i></span>
                                    <div>
                                        <h6 class="fs-16 fw-medium">Profile</h6>
                                        <span class="fs-14">Image size does not exceed 5MB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Phone Number</label>
                                <input type="number" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Country</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">State</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">City</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Zip Code</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Services</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Status</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- /Add Staff -->

 <!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete Account</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <form action="#">
                <div class="modal-body">
                    <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
                    <div class="mb-0">
                        <label class="form-label">Password</label>
                        <div class="pass-group">
                            <input type="password" class="form-control pass-input" placeholder="*************">
                            <span class="toggle-password feather icon-eye-off"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-dark">Delete Account</button>
                </div>	
            </form>
        </div>
    </div>
</div>
<!-- /Delete Account -->
