<!-- Page Wrapper -->
<div class="page-wrapper">
    <div class="content container-fluid">
        <h4 class="mb-4">Customers Details</h4>                
        <div class="row">
            <div class="col-xxl-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between pb-3 border-bottom mb-3">
                            <h6>Personal Info</h6>
                            <span class="badge badge-success-100 d-flex align-items-center"><i class="ti ti-point-filled me-1"></i>Active</span>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <span class="avatar avatar-lg flex-shrink-0 me-2">
                                <img src="assets/img/user/user-01.jpg" class="rounded-circle" alt="Img">
                            </span>
                            <div>
                                <div class="d-flex flex-wrap row-gap-2">
                                    <h6 class="me-2 fw-medium">Harvey Smith</h6>
                                    <span class="badge bg-primary-transparent">
                                        Last Booking : 16/04/2024  
                                    </span>
                                </div>
                                <span class="fs-14">harvey&#64;example.com</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flex-wrap row-gap-2">
                            <div>
                                <h6 class="fs-14">Phone</h6>
                                <span class="fs-14">+1 634 967 2145</span>
                            </div>
                            <div>
                                <h6 class="fs-14">Total Bookings</h6>  
                                <span class="fs-14">60</span>
                            </div>
                            <div>
                                <h6 class="fs-14">Payments</h6>
                                <span class="fs-14">4</span>
                            </div>
                            
                            <div >
                                <h6 class="fs-14">Created On</h6> 
                                <span class="fs-14">14/01/2024</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex pb-3 border-bottom mb-4">
                            <h6>Address Info</h6>
                        </div>
                        <div class="d-flex align-items-center mb-4">
                            <div>
                                <h6 class="me-2 fs-14">Adddress</h6>
                                <span class="fs-14"> 7865 Oakwood Drive, Apt 5B, Willow Creek Estates</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flex-wrap row-gap-2">
                            <div>
                                <h6 class="fs-14">Country</h6>
                                <span class="fs-14">United States</span>
                            </div>
                            <div>
                                <h6 class="fs-14">State</h6>  
                                <span class="fs-14">California</span>
                            </div>
                            <div>
                                <h6 class="fs-14">City</h6>
                                <span class="fs-14">Greenfield</span>
                            </div>
                            
                            <div >
                                <h6 class="fs-14">Zip Code</h6> 
                                <span class="fs-14">93927</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
                <h4>Services Info</h4>
                <div class="d-flex align-items-center flex-wrap row-gap-3">
                    <span class="fs-14 me-2">Sort</span>
                    <div class="dropdown me-2">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                            Newly Added
                        </a>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0);" class="dropdown-item active">Ascending</a>
                            <a href="javascript:void(0);" class="dropdown-item">Descending</a>
                        </div>
                    </div>
                    <div class="dropdown me-2">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                            Export
                        </a>
                        <div class="dropdown-menu">
                            <a href="javascript:void(0);" class="dropdown-item active">Export as PDF</a>
                            <a href="javascript:void(0);" class="dropdown-item">Export as Excel</a>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded me-2"><i class="ti ti-printer"></i></a>
                    <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded me-2" id="filter_search"><i class="ti ti-sort-descending"></i></a>
                </div>
            </div>
            <div id="filter_inputs">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-xl">
                        <div class="mb-3">
                            <div class="sel-cal Calendar-icon">
                                <span><i class="ti ti-calendar-month"></i></span>
                                <input class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl">
                        <div class="mb-3">
                            <select class="select">
                                <option>Service</option>
                                <option>Computer Repair</option>
                                <option>Plumbing Services</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl">
                        <div class="mb-3">
                            <select class="select">
                                <option>Staff</option>
                                <option>Jeff Fitch</option>
                                <option>William Smith</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl">
                        <div class="mb-3">
                            <select class="select">
                                <option>Payment Method</option>
                                <option>Paypal</option>
                                <option>Stripe</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-xl">
                        <div class="mb-3">
                            <select class="select">
                                <option>Status</option>
                                <option>Paid</option>
                                <option>Pending</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="provide-table manage-table">
                <div class="table-responsive">
                    <table class="table  datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Service Name</th>
                                <th>Booking Date</th>
                                <th>Staff Name</th>
                                <th>Payment Method</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img src="assets/img/providers/provider-15.jpg" class="rounded" alt="user">
                                        </a>
                                        <h6 class="fs-14"><a [routerLink]="routes.serviceDetails">Computer Repair</a></h6>
                                    </div>
                                </td>
                                <td>16/04/2024</td>
                                <td class="d-flex align-items-center">
                                    <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                        <img src="assets/img/profiles/avatar-16.jpg" class="rounded-circle" alt="user">
                                    </a>
                                    <h6 class="fs-14"><a [routerLink]="routes.staffDetails">Jeff Fitch</a></h6>
                                </td> 
                                <td>Paypal</td>
                                <td>$2000</td>
                                <td >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge badge-success-100 d-flex  align-items-center"><i class="ti ti-point-filled"></i>Paid</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img src="assets/img/providers/provider-17.jpg" class="rounded" alt="user">
                                        </a>
                                        <h6 class="fs-14"><a [routerLink]="routes.serviceDetails">Steam Car Wash</a></h6>
                                    </div>
                                </td>
                                <td>03/05/2024</td>
                                <td class="d-flex align-items-center">
                                    <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                        <img src="assets/img/profiles/avatar-17.jpg" class="rounded-circle" alt="user">
                                    </a>
                                    <h6 class="fs-14"><a [routerLink]="routes.staffDetails">Jacob Kline</a></h6>
                                </td> 
                                <td>Stripe</td>
                                <td>$1800</td>
                                <td >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge badge-danger-transparent d-flex  align-items-center"><i class="ti ti-point-filled"></i>Overdue</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img src="assets/img/providers/provider-19.jpg" class="rounded" alt="user">
                                        </a>
                                        <h6 class="fs-14"><a [routerLink]="routes.serviceDetails">House Cleaning </a></h6>
                                    </div>
                                </td>
                                <td>22/06/2024</td>
                                <td class="d-flex align-items-center">
                                    <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                        <img src="assets/img/profiles/avatar-33.jpg" class="rounded-circle" alt="user">
                                    </a>
                                    <h6 class="fs-14"><a [routerLink]="routes.staffDetails">Donald Gordon</a></h6>
                                </td> 
                                <td>Stripe</td>
                                <td>$1200</td>
                                <td >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge badge-info-transparent d-flex  align-items-center"><i class="ti ti-point-filled"></i>Pending</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img src="assets/img/providers/provider-14.jpg" class="rounded" alt="user">
                                        </a>
                                        <h6 class="fs-14">Building Construction</h6>
                                    </div>
                                </td>
                                <td>14/06/2024</td>
                                <td class="d-flex align-items-center">
                                    <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                        <img src="assets/img/profiles/avatar-26.jpg" class="rounded-circle" alt="user">
                                    </a>
                                    <h6 class="fs-14"><a [routerLink]="routes.staffDetails">Kara Coble</a></h6>
                                </td> 
                                <td>Paypal</td>
                                <td>$1700</td>
                                <td >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge bg-warning-transparent d-flex  align-items-center"><i class="ti ti-point-filled"></i>Draft</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img src="assets/img/providers/provider-16.jpg" class="rounded" alt="user">
                                        </a>
                                        <h6 class="fs-14"><a [routerLink]="routes.serviceDetails">Interior Designing</a></h6>
                                    </div>
                                </td>
                                <td>08/07/2024</td>
                                <td class="d-flex align-items-center">
                                    <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                        <img src="assets/img/profiles/avatar-35.jpg" class="rounded-circle" alt="user">
                                    </a>
                                    <h6 class="fs-14"><a [routerLink]="routes.staffDetails">Jacob Vance</a></h6>
                                </td> 
                                <td>Paypal</td>
                                <td>$1100</td>
                                <td >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge badge-success-100 d-flex  align-items-center"><i class="ti ti-point-filled"></i>Paid</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img src="assets/img/providers/provider-23.jpg" class="rounded" alt="user">
                                        </a>
                                        <h6 class="fs-14"><a [routerLink]="routes.serviceDetails">Plumbing Services</a></h6>
                                    </div>
                                </td>
                                <td>17/08/2024</td>
                                <td class="d-flex align-items-center">
                                    <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                        <img src="assets/img/profiles/avatar-36.jpg" class="rounded-circle" alt="user">
                                    </a>
                                    <h6 class="fs-14"><a [routerLink]="routes.staffDetails">William Smith</a></h6>
                                </td> 
                                <td>Paypal</td>
                                <td>$800</td>
                                <td >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge badge-danger-transparent d-flex  align-items-center"><i class="ti ti-point-filled"></i>Overdue</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.serviceDetails" class="avatar avatar-lg me-2">
                                            <img src="assets/img/providers/provider-13.jpg" class="rounded" alt="user">
                                        </a>
                                        <h6 class="fs-14"><a [routerLink]="routes.serviceDetails">Car Repair Services</a></h6>
                                    </div>
                                </td>
                                <td>22/10/2024</td>
                                <td class="d-flex align-items-center">
                                    <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                        <img src="assets/img/profiles/avatar-52.jpg" class="rounded-circle" alt="user">
                                    </a>
                                    <h6 class="fs-14"><a [routerLink]="routes.staffDetails">Taylor Pacheco</a></h6>
                                </td> 
                                <td>Stripe</td>
                                <td>$1000</td>
                                <td >
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge badge-danger-transparent d-flex  align-items-center"><i class="ti ti-point-filled"></i>Overdue</span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                <div class="value d-flex align-items-center">
                    <span>Show</span>
                    <select>
                        <option>7</option>
                    </select>
                    <span>entries</span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-gray-9">1 - 07 of 10</span>
                    <nav aria-label="Page navigation">
                        <ul class="paginations d-flex justify-content-center align-items-center">
                            <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                            <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /Page Wrapper -->

    <!-- Add Customer -->
    <div class="modal fade custom-modal" id="add-user">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Add Customer </h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body p-4">
                <form >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">First Name</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Last Name</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Email</label>
                                <input type="email" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Phone Number</label>
                                <input type="number" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Address</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Country</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">State</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">City</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Zip Code</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Status</label>
                                <select class="select">
                                    <option>Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /Add Customer -->

    <!-- Delete Account -->
    <div class="modal fade custom-modal" id="del-account">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Delete Account</h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
                <form action="#">
                    <div class="modal-body">
                        <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
                        <div class="mb-0">
                            <label class="form-label">Password</label>
                            <div class="pass-group">
                                <input type="password" class="form-control pass-input" placeholder="*************">
                                <span class="toggle-password feather icon-eye-off"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-dark">Delete Account</button>
                    </div>	
                </form>
            </div>
        </div>
    </div>
    <!-- /Delete Account -->