<h4 class="mb-3">Dashboard</h4>
<div class="row mb-4">
  <div class="col-xxl-3 col-md-6">
    <div class="card dash-widget">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <span
              class="dash-icon bg-primary-transparent d-flex justify-content-center align-items-center rounded-circle"
            >
              <i class="ti ti-shopping-cart"></i>
            </span>
            <div class="ms-2">
              <span class="fs-14">Total Orders</span>
              <h5>
                <span class="counter"
                [countUp]="27"
                  [options]="{ enableScrollSpy: true }">
                  27
                </span></h5>
            </div>
          </div>
          <span class="badge badge-success"
            ><i class="ti ti-circle-arrow-up me-1"></i>16%</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-6">
    <div class="card dash-widget">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <span
              class="dash-icon bg-secondary-transparent d-flex justify-content-center align-items-center rounded-circle"
            >
              <i class="ti ti-wallet"></i>
            </span>
            <div class="ms-2">
              <span class="fs-14">Total Spend</span>
              <h5>$ <span class="counter" [countUp]="2500"
                [options]="{ enableScrollSpy: true }">2500</span></h5>
            </div>
          </div>
          <span class="badge badge-danger"
            ><i class="ti ti-circle-arrow-down me-1"></i>5%</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-6">
    <div class="card dash-widget">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <span
              class="dash-icon bg-success-transparent d-flex justify-content-center align-items-center rounded-circle"
            >
              <i class="ti ti-cards"></i>
            </span>
            <div class="ms-2">
              <span class="fs-14">Wallet</span>
              <h5>$ <span class="counter" [countUp]="200"
                [options]="{ enableScrollSpy: true }">200</span></h5>
            </div>
          </div>
          <span class="badge badge-danger"
            ><i class="ti ti-circle-arrow-down me-1"></i>5%</span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-md-6">
    <div class="card dash-widget">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            <span
              class="dash-icon bg-info-transparent d-flex justify-content-center align-items-center rounded-circle"
            >
              <i class="ti ti-cards"></i>
            </span>
            <div class="ms-2">
              <span class="fs-14">Total Savings</span>
              <h5>$ <span class="counter" [countUp]="354"
                [options]="{ enableScrollSpy: true }">354</span></h5>
            </div>
          </div>
          <span class="badge badge-success"
            ><i class="ti ti-circle-arrow-up me-1"></i>16%</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xxl-5 col-lg-5 d-flex">
    <div class="w-100">
      <h5 class="mb-3">Recent Transaction</h5>
      <div class="table-responsive">
        <table class="table mb-0">
          <tbody>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <span
                    class="dash-icon-1 bg-gray d-flex justify-content-center align-items-center rounded-circle avatar avatar-lg me-2"
                  >
                    <i class="ti ti-devices-2 fs-20 text-dark"></i>
                  </span>
                  <div>
                    <h6 class="fs-14">Service Booking</h6>
                    <span class="text-gray fs-12">
                      <i class="feather icon-calendar"></i>
                      22 Sep 2023
                      <span class="ms-2">
                        <i class="feather icon-clock"></i>
                        10:12 AM
                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <h6>$280.00</h6>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <span
                    class="dash-icon-1 bg-gray d-flex justify-content-center align-items-center rounded-circle avatar avatar-lg me-2"
                  >
                    <i class="ti ti-refresh fs-20 text-dark"></i>
                  </span>
                  <div>
                    <h6 class="fs-14">Service Refund</h6>
                    <span class="text-gray fs-12">
                      <i class="feather icon-calendar"></i>
                      15 Oct 2022
                      <span class="ms-2">
                        <i class="ti ti-clock me-1"></i>
                        14:36 PM
                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <h6>$395.00</h6>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <span
                    class="dash-icon-1 bg-gray d-flex justify-content-center align-items-center rounded-circle avatar avatar-lg me-2"
                  >
                    <i class="ti ti-wallet fs-20 text-dark"></i>
                  </span>
                  <div>
                    <h6 class="fs-14">Wallet Topup</h6>
                    <span class="text-gray fs-12">
                      <i class="feather icon-calendar"></i>
                      18 Oct 2022
                      <span class="ms-2">
                        <i class="ti ti-clock me-1"></i>
                        15:19 PM
                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <h6>$1000.00</h6>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <span
                    class="dash-icon-1 bg-gray d-flex justify-content-center align-items-center rounded-circle avatar avatar-lg me-2"
                  >
                    <i class="ti ti-devices-2 fs-20 text-dark"></i>
                  </span>
                  <div>
                    <h6 class="fs-14">Service Booking</h6>
                    <span class="text-gray fs-12">
                      <i class="feather icon-calendar"></i>
                      28 Oct 2022
                      <span class="ms-2">
                        <i class="ti ti-clock me-1"></i>
                        11:17 AM
                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <h6>$598.65</h6>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <span
                    class="dash-icon-1 bg-gray d-flex justify-content-center align-items-center rounded-circle avatar avatar-lg me-2"
                  >
                    <i class="ti ti-devices-2 fs-20 text-dark"></i>
                  </span>
                  <div>
                    <h6 class="fs-14">Service Booking</h6>
                    <span class="text-gray fs-12">
                      <i class="feather icon-calendar"></i>
                      10 Nov 2022
                      <span class="ms-2">
                        <i class="ti ti-clock me-1"></i>
                        09:13 AM
                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <h6>$300.00</h6>
              </td>
            </tr>
            <tr>
              <td>
                <div class="d-flex align-items-center">
                  <span
                    class="dash-icon-1 bg-gray d-flex justify-content-center align-items-center rounded-circle avatar avatar-lg me-2"
                  >
                    <i class="ti ti-devices-2 fs-20 text-dark"></i>
                  </span>
                  <div>
                    <h6 class="fs-14">Service Booking</h6>
                    <span class="text-gray fs-12">
                      <i class="feather icon-calendar"></i>
                      10 Nov 2022
                      <span class="ms-2">
                        <i class="ti ti-clock me-1"></i>
                        09:13 AM
                      </span>
                    </span>
                  </div>
                </div>
              </td>
              <td class="text-end">
                <h6>$300.00</h6>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-xxl-7 col-lg-7 d-flex">
    <div class="w-100">
      <h5 class="mb-3">Recent Booking</h5>
      <div class="table-responsive">
        <table class="table mb-0">
          <tbody>
            <tr>
              <td>
                <a [routerLink]="routes.bookingDetails" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/providers/provider-15.jpg"
                      class="img-fluid"
                      alt="img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Computer Repair</h6>
                      <span class="text-gray fs-12">
                        <i class="feather icon-calendar me-1"></i>
                        10 Nov 2022
                      </span>
                    </div>
                  </div>
                </a>
              </td>
              <td>
                <a class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/user/user-01.jpg"
                      class="rounded-circle img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">John Smith</h6>
                      <span class="text-gray fs-14">john&#64;gmail.com</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-end">
                <a href="javascript:void(0);" class="btn btn-light btn-sm"
                  >Cancel</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="routes.bookingDetails" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/providers/provider-13.jpg"
                      class="img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Car Repair</h6>
                      <span class="text-gray fs-12 me-1">
                        <i class="feather icon-calendar"></i>
                        15 Oct 2022
                      </span>
                    </div>
                  </div>
                </a>
              </td>
              <td>
                <a href="javascript:void(0);" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/user/user-02.jpg"
                      class="rounded-circle img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Timothy</h6>
                      <span class="text-gray fs-14">timothy&#64;gmail.com</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-end">
                <a href="javascript:void(0);" class="btn btn-light btn-sm"
                  >Cancel</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="routes.bookingDetails" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/providers/provider-16.jpg"
                      class="img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Interior Designing</h6>
                      <span class="text-gray fs-12 me-1">
                        <i class="feather icon-calendar"></i>
                        18 Oct 2022
                      </span>
                    </div>
                  </div>
                </a>
              </td>
              <td>
                <a class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/user/user-03.jpg"
                      class="rounded-circle img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Jordan</h6>
                      <span class="text-gray fs-14">jordan&#64;gmail.com</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-end">
                <a href="javascript:void(0);" class="btn btn-light btn-sm"
                  >Cancel</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="routes.bookingDetails" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/providers/provider-17.jpg"
                      class="img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Steam Car Wash</h6>
                      <span class="text-gray fs-12 me-1">
                        <i class="feather icon-calendar"></i>
                        28 Oct 2022
                      </span>
                    </div>
                  </div>
                </a>
              </td>
              <td>
                <a href="javascript:void(0);" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/user/user-05.jpg"
                      class="rounded-circle img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Armand</h6>
                      <span class="text-gray fs-14">armand&#64;gmail.com</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-end">
                <a href="javascript:void(0);" class="btn btn-light btn-sm"
                  >Cancel</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="routes.bookingDetails" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/providers/provider-19.jpg"
                      class="img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">House Cleaning</h6>
                      <span class="text-gray fs-12 me-1">
                        <i class="feather icon-calendar"></i>
                        10 Nov 2022
                      </span>
                    </div>
                  </div>
                </a>
              </td>
              <td>
                <a href="javascript:void(0);" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/user/user-04.jpg"
                      class="rounded-circle img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Joseph</h6>
                      <span class="text-gray fs-14">joseph&#64;gmail.com</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-end">
                <a href="javascript:void(0);" class="btn btn-light btn-sm"
                  >Cancel</a
                >
              </td>
            </tr>
            <tr>
              <td>
                <a [routerLink]="routes.bookingDetails" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/providers/provider-09.jpg"
                      class="img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Car Repair</h6>
                      <span class="text-gray fs-12 me-1">
                        <i class="feather icon-calendar"></i>
                        10 Nov 2022
                      </span>
                    </div>
                  </div>
                </a>
              </td>
              <td>
                <a href="javascript:void(0);" class="d-flex">
                  <span class="avatar avatar-lg me-2">
                    <img
                      src="assets/img/user/user-06.jpg"
                      class="rounded-circle img-fluid"
                      alt="Img"
                    />
                  </span>
                  <div class="d-flex align-items-center">
                    <div>
                      <h6 class="fs-14">Adrian</h6>
                      <span class="text-gray fs-14">jadrian&#64;gmail.com</span>
                    </div>
                  </div>
                </a>
              </td>
              <td class="text-end">
                <a href="javascript:void(0);" class="btn btn-light btn-sm"
                  >Cancel</a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
