<!-- Footer -->
<footer class="footer footer-seven">

    <!-- Footer Top -->
    <div class="footer-top aos" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-widget-seven">
                        <div class="footer-logo">
                            <a [routerLink]="routes.home"><img src="assets/img/logo-white.svg" alt="logo"></a>
                        </div>
                        <div class="footer-content">
                            <p>We ara a lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        </div>
                        <div class="footer-selects footer-selects-seven">
                            <h2 class="footer-subtitle">Newsletter Signup</h2>
                        <div class="subscribe-form">
                            <input type="email" class="form-control" placeholder="Enter your email">
                            <button type="submit" class="btn footer-btn">
                                Submit
                            </button>
                        </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Support</h2>
                        <ul>
                            <li>
                                <a href="javascript:void(0);">Account</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Book Appointment</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Orders</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Payments</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Returns</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.contactUs">Contact us</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">About</h2>
                        <ul>
                            <li>
                                <a [routerLink]="routes.categories">Categories</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.serviceGrid">Services</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.aboutUs">About us</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.faq">FAQ</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.blogList">Blog</a>
                            </li>
                            <li>
                                <a [routerLink]="routes.termsCondition">Terms</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-2 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Services</h2>
                        <ul>
                            <li>
                                <a href="javascript:void(0);">Car Wash</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Beauty Saloon</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Construction</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Plumbing  service</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Painting service</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Plumbing</a>
                            </li>
                        </ul>
                    </div>
                    <!-- /Footer Widget -->
                </div>
                <div class="col-lg-3 col-md-6">
                    <!-- Footer Widget -->
                    <div class="footer-widget">
                        <h2 class="footer-title">Contact</h2>
                        <div class="footer-six-main">
                            <div class="footer-six-left">
                                <span class="footer-seven-icon">
                                    <img src="assets/img/icons/call-calling.svg" alt="image">
                                </span>
                                <div class="footer-six-ryt">
                                    <span>Phone Number</span>
                                    <h6>310-437-2766</h6>
                                </div>
                            </div>
                            <div class="footer-six-left">
                                <span class="footer-seven-icon">
                                    <img src="assets/img/icons/sms.svg" alt="image">
                                </span>
                                <div class="footer-six-ryt">
                                    <span>Mail Address</span>
                                    <h6>support"&#64;truelysell.com</h6>
                                </div>
                            </div>
                            <div class="footer-six-left ">
                                <span class="footer-seven-icon">
                                    <img src="assets/img/icons/location.svg" alt="image">
                                </span>
                                <div class="footer-six-ryt">
                                    <span>Address</span>
                                    <h6>706 Campfire Ave. Meriden, CT 06450</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Footer Widget -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Top -->

    <!-- Footer Bottom -->
    <div class="footer-bottom footer-bottom-seven">
        <div class="container">
            <!-- Copyright -->
            <div class="copyright">
                <div class="row gy-2">
                    <div class="col-md-6">
                        <div class="copyright-text">
                            <p>Copyright 2024 &copy; Truelysell. All right reserved.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="social-icon justify-content-md-end">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-facebook"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fab fa-twitter"></i> </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);"><i class="fa-brands fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Copyright -->
        </div>
    </div>
    <!-- /Footer Bottom -->

</footer>
<!-- /Footer -->