<div class="page-wrapper">
    <div class="content">
        <div class="container">
                    
            <div class="row">
                
                <div class="col-md-10 mx-auto">
                    <div class="login-back manage-log">
                        <a [routerLink]="routes.providerSecuritySettings"><i class="feather icon-arrow-left"></i> Back</a>
                    </div>
                    
                    <!-- Login Activity -->
                    <div class="page-header">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="provider-subtitle">
                                    <h6>Device Management</h6>
                                </div>
                            </div>
                            <div class="col-md-8 d-flex align-items-center justify-content-md-end flex-wrap">
                                <div class="review-sort me-2">
                                    <p>Sort</p>
                                    <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="select"  placeholder="A - Z">
                                        <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                        {{data.value}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                                <div class="grid-listview">
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <img src="assets/img/icons/filter-icon.svg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="provide-table  manage-table">
                        <div class="table-responsive">
                            <table matSort (matSortChange)="sortData($event)" class="table custom-table datatable mb-0" id="data-table">
                                <thead class="thead-light">
                                    <tr>
                                        <th mat-sort-header="date">Date</th>
                                        <th mat-sort-header="device">Device</th>
                                        <th mat-sort-header="ipAddress">IP Address</th>
                                        <th mat-sort-header="location">Location</th>
                                        <th mat-sort-header="status">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of providersDeviceManagement">
                                        <td>{{data.date}}</td>
                                        <td>{{data.device}}</td>
                                        <td>{{data.ipAddress}}</td>
                                        <td>{{data.location}}</td>
                                        <td><span class="badge-danger">{{data.status}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination-main-class"> 
                      <div class="table_footer">
                        <div class="row">
                          <div class="col-sm-12 col-md-6">
                            <div class="dataTables_length">
                              <label for="">
                                Show
                                <select
                                  [(ngModel)]="pageSize"
                                  (ngModelChange)="PageSize()"
                                  class="form-control form-control-sm"
                                >
                                  <option value="10">10</option>
                                  <option value="25">25</option>
                                  <option value="50">50</option>
                                  <option value="100">100</option>
                                </select>
                                entries
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="table_design">
                        <div >
                            <div class="dataTables_info">
                                 {{ serialNumberArray[0] }} -
                                {{ serialNumberArray[serialNumberArray.length - 1] }} of
                                {{ totalData }} 
                              </div>
                        </div>
                        <div class=" d-flex">
                          <div class="pagination_section">
                            <ul class="pagination">
                              <ng-container
                                *ngFor="let item of pageNumberArray; let i = index"
                              >
                                <li
                                  class="page-item"
                                  [class.active]="item === currentPage"
                                  [ngClass]="
                                    (pageNumberArray[currentPage - 2] > item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6) ||
                                    (pageNumberArray[currentPage] < item &&
                                      item !== 1 &&
                                      pageNumberArray.length > 6 &&
                                      pageNumberArray.length !== item)
                                      ? 'hide-page-no'
                                      : 'show-page-no'
                                  "
                                >
                                  <a
                                    (click)="moveToPage(item)"
                                    class="page-link"
                                    href="javascript:void(0);"
                                  >
                                    {{ item }}
                                  </a>
                                </li>
                                <li
                                  class="page-item"
                                  *ngIf="
                                    i === 0 &&
                                    pageNumberArray.length > 6 &&
                                    currentPage > 2
                                  "
                                  [hidden]="currentPage === 1"
                                  (click)="moveToPage(currentPage - 2)" (keydown.enter)="moveToPage(currentPage - 2)" tabindex="0"
                                >
                                  <a class="page-link" href="javascript:void(0);">
                                    ...
                                  </a>
                                </li>
                                <li
                                  *ngIf="
                                    i === pageNumberArray.length - 2 &&
                                    pageNumberArray.length > 6
                                  "
                                  [hidden]="
                                    currentPage >=
                                      pageNumberArray[pageNumberArray.length - 2] ||
                                    totalData <
                                      serialNumberArray[serialNumberArray.length - 1]
                                  "
                                  class="page-item"
                                  (click)="moveToPage(currentPage + 2)" (keydown.enter)="moveToPage(currentPage + 2)" tabindex="0"
                                >
                                  <a class="page-link" href="javascript:void(0);">
                                    ...
                                  </a>
                                </li>
                              </ng-container>
                            </ul>
                          </div>
                        </div>
                      </div>
                            </div>     
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div id="tablelength"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="table-ingopage">
                                <div id="tableinfo"></div>
                                <div id="tablepagination"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /Login Activity -->
                    
                </div>
            </div>
        </div>
    </div>
</div>