<app-customers-header></app-customers-header>

<!-- Breadcrumb -->
<div class="breadcrumb-bar text-center">
<div class="container">
  <div class="row">
    <div class="col-md-12 col-12">
      <h2 class="breadcrumb-title mb-2">{{breadcrumb}}</h2>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center mb-0">
          <li class="breadcrumb-item"><a [routerLink]="routes.homeOne"><i class="ti ti-home-2"></i></a></li>
          <li class="breadcrumb-item">Customer</li>
          <li class="breadcrumb-item active" aria-current="page">{{breadcrumb}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="breadcrumb-bg">
    <img src="assets/img/bg/breadcrumb-bg-01.png" class="breadcrumb-bg-1" alt="Img">
    <img src="assets/img/bg/breadcrumb-bg-02.png" class="breadcrumb-bg-2" alt="Img">
  </div>
</div>
</div>
<!-- /Breadcrumb -->
<div class="page-wrapper">
  <div class="content">
      <div class="container">
        <ng-container *ngIf="sideBarActive">
          <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4" >
              <app-customers-sidebar></app-customers-sidebar>
            </div>
            <div class="col-xl-9 col-lg-8">
                <router-outlet></router-outlet>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="!sideBarActive">
          <router-outlet></router-outlet>
        </ng-container>

      </div>
  </div>
</div>
<app-customer-footer></app-customer-footer>
