<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">
            <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
      <h5>Holiday & Leave</h5>
      <div class="d-flex align-items-center">
                    <a [routerLink]="routes.providerLeaveHistory" class="btn btn-light me-2"><i class="feather icon-file-text"></i> Leave History</a>
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#add-holiday"><i class="feather icon-plus"></i> Add Holiday</a>
                    <a href="javascript:void(0);" class="btn btn-dark add-set" data-bs-toggle="modal" data-bs-target="#add-leave"><i class="feather icon-plus"></i> Add Leave</a>
      </div>
    </div>

    <!-- calendar -->
    <div class="row">
      <div class="col-md-12">
        <div id="calendar-book"><full-calendar [options]="options"></full-calendar></div>
      </div>
    </div>
    <!-- /calendar -->
    
  </div>
</div>

    <!-- Add Holiday -->
<div class="modal fade custom-modal" id="add-holiday">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Add Holiday </h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
      <div class="modal-body pt-0">
        <form action="#">
          <div class="wallet-add">
            <div class="form-group">
              <label class="col-form-label">Holiday Name</label>
              <input type="text" class="form-control" placeholder="Enter Holiday Name">
            </div>
            <div class="form-group">
              <label class="col-form-label">From</label>
              <div class="form-icon">
                <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd/mm/yyyy">
                <span class="cus-icon">
                  <i class="feather icon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">To</label>
              <div class="form-icon">
                <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd/mm/yyyy">
                <span class="cus-icon">
                  <i class="feather icon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Description</label>
              <textarea class="form-control" rows="4"></textarea>
            </div>						
          </div>
        </form>
      </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button class="btn btn-dark" type="submit">Submit</button>
                    </div>
                </div>
    </div>
  </div>
</div>
<!-- /Add Holiday -->

    <!-- Add Leave -->
<div class="modal fade custom-modal" id="add-leave">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Add Leave </h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
      <div class="modal-body pt-0">
        <form action="#">
          <div class="wallet-add">
            <div class="form-group">
              <label class="col-form-label">From</label>
              <div class="form-icon">
                <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd/mm/yyyy">
                <span class="cus-icon">
                  <i class="feather icon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">To</label>
              <div class="form-icon">
                <input type="text" class="form-control datetimepicker" bsDatepicker placeholder="dd/mm/yyyy">
                <span class="cus-icon">
                  <i class="feather icon-calendar"></i>
                </span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Reason</label>
              <textarea class="form-control" rows="3"></textarea>
            </div>							
          </div>
        </form>
      </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button class="btn btn-dark" type="submit">Submit</button>
                    </div>
                </div>
    </div>
  </div>
</div>
<!-- /Add Leave -->

    <!-- Alert Message -->
<div class="modal fade custom-modal" id="alertmsg">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content doctor-profile">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Add Message</h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
      <div class="modal-body pt-0">
        <form action="#">
          <div class="msg-alert">
            <p>If You Take Your Appointment Automatically Cancelled.</p>
          </div>
        </form>
      </div>
                <div class="modal-footer">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button class="btn btn-dark" type="submit">Ok</button>
                    </div>
                </div>
    </div>
  </div>
</div>
<!-- /Alert Message -->

<!-- Delete Account -->
    <div class="modal fade custom-modal" id="del-account">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Delete Account</h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
                <form action="#">
                    <div class="modal-body">
                        <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
                        <div class="mb-0">
                            <label class="form-label">Password</label>
                            <div class="pass-group">
                                <input type="password" class="form-control pass-input" placeholder="*************">
                                <span class="toggle-password feather icon-eye-off"></span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-dark">Delete Account</button>
                    </div>	
                </form>
            </div>
        </div>
    </div>
    <!-- /Delete Account -->