<div
  class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4"
>
  <h4>Bookings</h4>
  <div class="d-flex align-items-center">
    <p class="text-dark me-2 mb-0">Sort</p>
    <div class="dropdown me-2">
      <a
        href="javascript:void(0);"
        class="dropdown-toggle"
        data-bs-toggle="dropdown"
      >
        Newly Added
      </a>
      <div class="dropdown-menu">
        <a href="javascript:void(0);" class="dropdown-item active"
          >Newly Added</a
        >
        <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
      </div>
    </div>
    <a
      href="javascript:void(0);"
      class="tags d-flex justify-content-center align-items-center border rounded me-2"
      ><i class="ti ti-calendar-month"></i
    ></a>
    <a
      href="javascript:void(0);"
      class="tags d-flex justify-content-center align-items-center border rounded"
      ><i class="ti ti-filter"></i
    ></a>
  </div>
</div>
<div id="calendar-book">
  <full-calendar [options]="calendarOptions"></full-calendar>
</div>

<!-- Booking Details -->
<div
  class="toggle-sidebar"
  [ngClass]="{ 'sidebar-popup': showEventDetailsModal }"
>
  <div class="sidebar-layout">
    <div class="sidebar-header pb-3 mb-3">
      <h5>Booking Details</h5>
      <a
        href="javascript:void(0);"
        (click)="handleEventDetailsClose()"
        class="sidebar-close"
        ><i class="ti ti-x"></i
      ></a>
    </div>
    <div class="sidebar-body">
      <div class="book-confirm bk-wrap">
        <div class="d-flex justify-content-between">
          <h6>
            Services<span class="badge badge-soft-success">Confirmed</span>
          </h6>
          <a href="javascript:void(0);" class="edit-book"
            ><i class="feather icon-edit"></i
          ></a>
        </div>
        <ul>
          <li>
            <span class="bk-date"
              ><i class="feather icon-calendar"></i> Date & Time
            </span>
            : Oct 28, 2023 - 10AM to 12 AM
          </li>
          <li>
            <span class="bk-date"
              ><i class="feather icon-map-pin"></i> Location
            </span>
            : New York
          </li>
          <li>
            <span class="bk-date"
              ><i class="feather icon-user"></i> User Name
            </span>
            : John Smith
          </li>
        </ul>
        <div class="d-flex align-items-center mb-3">
          <a
            href="javascript:void(0);"
            class="btn btn-dark btn-sm me-2"
            data-bs-toggle="modal"
            data-bs-target="#reschedule"
            ><i class="feather icon-user me-1"></i> Reschedule</a
          >
          <a
            href="javascript:void(0);"
            class="btn btn-light btn-sm"
            data-bs-toggle="modal"
            data-bs-target="#cancel_appointment"
            ><i class="feather icon-x-circle me-1"></i> Cancel</a
          >
        </div>
      </div>
      <div class="book-customer bk-wrap pt-3">
        <h5>Provider Details</h5>
        <div
          class="d-flex align-items-center flex-wrap justify-content-between mb-3"
        >
          <div class="d-flex align-items-center">
            <span class="avatar avatar-md me-2"
              ><img
                src="assets/img/profiles/avatar-02.jpg"
                class="rounded-circle"
                alt="User"
            /></span>
            <div>
              <h6 class="fs-14 fw-medium">John Doe</h6>
              <p class="mb-0">Montana, USA</p>
            </div>
          </div>
          <div>
            <a [routerLink]="routes.customerChat" class="btn btn-dark btn-sm"
              ><i class="ti ti-message me-1"></i>Chat</a
            >
          </div>
        </div>
      </div>
      <div class="bk-wrap py-3">
        <h5>Appointment Message</h5>
        <p class="mb-0">Thanks for your interest in our services</p>
      </div>
      <div class="bk-wrap bk-service py-3">
        <div>
          <h5>House Cleaning Services</h5>
          <p class="mb-0">quick and quality service</p>
        </div>
        <p class="bk-price">$100.00</p>
      </div>
      <div class="bk-wrap bk-history pt-3">
        <h4>Booking History</h4>
        <ul>
          <li>
            <span>
              <i class="feather icon-calendar"></i>
            </span>
            <div class="book-crete">
              <h6>Booking created</h6>
              <p>Oct 28 2023 1:28 PM</p>
            </div>
          </li>
          <li>
            <span>
              <i class="feather icon-user"></i>
            </span>
            <div class="book-crete">
              <h6>Assigned to John Smith</h6>
              <p>Oct 28 2023 1:28 PM</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Booking Details -->

<!-- Reschedule Appointment -->
<div class="modal fade custom-modal" id="reschedule">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header d-flex align-items-center justify-content-between border-bottom"
      >
        <h5 class="modal-title">Reschedule Appointment</h5>
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"
          ><i class="ti ti-circle-x-filled fs-20"></i
        ></a>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">Appointment Date</label>
            <div class="form-icon">
              <input
                type="text"
                class="form-control datetimepicker"
                bsDatepicker
                placeholder="DD/MM/YYYY"
              />
              <span class="cus-icon"
                ><i class="feather icon-calendar"></i
              ></span>
            </div>
          </div>
          <div class="mb-0">
            <label class="form-label">Appointment Time</label>
            <div class="form-icon">
              <input
                type="text"
                class="form-control timepicker"
                placeholder="DD/MM/YYYY"
              />
              <span class="cus-icon"><i class="feather icon-clock"></i></span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <div class="acc-submit">
          <a
            href="javascript:void(0);"
            class="btn btn-light me-2"
            data-bs-dismiss="modal"
            >Cancel</a
          >
          <button class="btn btn-dark" type="button" data-bs-dismiss="modal">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Reschedule Appointment -->

<!-- Cancel Appointment -->
<div class="modal fade custom-modal" id="cancel_appointment">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div
        class="modal-header d-flex align-items-center justify-content-between border-bottom"
      >
        <h5 class="modal-title">Cancel Appointment</h5>
        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"
          ><i class="ti ti-circle-x-filled fs-20"></i
        ></a>
      </div>
      <form>
        <div class="modal-body">
          <p>
            Are you sure you want to cancel
            <span class="text-dark"> John Doe</span> appointment on
            <span class="text-dark"> Oct 28, 2022</span> at time
            <span class="text-dark"> 10AM - 12PM</span>
          </p>
        </div>
        <div class="modal-footer">
          <div class="acc-submit">
            <a
              href="javascript:void(0);"
              class="btn btn-light me-2"
              data-bs-dismiss="modal"
              >Dismiss</a
            >
            <button class="btn btn-dark" type="button" data-bs-dismiss="modal">
              Yes, Cancel
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /Cancel Appointment -->
<div
  class="sidebar-overlay"
  (click)="handleEventDetailsClose()"
  [ngClass]="{ opened: showEventDetailsModal }"
></div>
