	<!-- Footer -->
    <footer class="footer footer-six-content">
        <div class="footer-top-content d-none d-lg-block">
            <img src="assets/img/bg-wave.png" alt="image">
        </div>
        <!-- Footer Top -->
        <div class="footer-top aos" data-aos="fade-up">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-wid-six">
                            <div class="footer-logo">
                                <a [routerLink]="routes.home"><img src="assets/img/logo.svg" alt="logo"></a>
                            </div>
                            <div class="footer-content">
                                <div class="footer-six-main">
                                    <div class="footer-six-left">
                                        <img src="assets/img/icons/call-calling.svg" alt="image">
                                        <div class="footer-six-ryt">
                                            <span>Phone Number</span>
                                            <h6>310-437-2766</h6>
                                        </div>
                                    </div>
                                    <div class="footer-six-left">
                                        <img src="assets/img/icons/sms.svg" alt="image">
                                        <div class="footer-six-ryt">
                                            <span>Mail Address</span>
                                            <h6>support&#64;truelysell.com</h6>
                                        </div>
                                    </div>
                                    <div class="footer-six-left ">
                                        <img src="assets/img/icons/location.svg" alt="image">
                                        <div class="footer-six-ryt">
                                            <span>Address</span>
                                            <h6>706 Campfire Ave. Meriden, CT 06450</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Footer Widget -->
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Locations</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">Atlanta, GA</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Boston, MA</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chapel Hill, nC</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Chicago, IL</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Dallas, TX</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Detroit, MI</a></li>
                                
                            </ul>
                        </div>
                        <!-- /Footer Widget -->
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Support</h2>
                            <ul>
                                <li>
                                    <a [routerLink]="routes.contactUs">Contact us</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Online Chat</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Whatsapp</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Telegram</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Ticketing</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Call Centre</a>
                                </li>
                                
                                
                            </ul>
                        </div>
                        <!-- /Footer Widget -->
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Support</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">Home Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Office Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Apartment Cleaning</a>
                                </li>
                                
                                <li>
                                    <a href="javascript:void(0);">Building Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Vehicle Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Carpet Cleaning</a>
                                </li>
                                
                            </ul>
                        </div>
                        <!-- /Footer Widget -->
                    </div>
                    <div class="col-xl-2 col-lg-4 col-md-6">
                        <!-- Footer Widget -->
                        <div class="footer-widget footer-menu">
                            <h2 class="footer-title">Others</h2>
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">Home Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Office Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Apartment Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Commercial Cleaning</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">Building Cleaning</a>
                                </li>

                            </ul>
                        </div>
                        <!-- /Footer Widget -->
                    </div>

                </div>
            </div>
        </div>
        <!-- /Footer Top -->

        <!-- Footer Bottom -->
        <div class="footer-bottom footer-bottom-six">
            <div class="container">
                <!-- Copyright -->
                <div class="copyright">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="copyright-text">
                                <p class="mb-0">Copyright 2025 © TruelySell. All rights reserved</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Copyright Menu -->
                            <div class="copyright-menu ">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)" class="footer-six-link"><i class="fa-brands fa-google"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="footer-six-link"><i class="fa-brands fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="footer-six-link"><i class="fa-brands fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="footer-six-link"><i class="fa-brands fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="footer-six-link"><i class="fa-brands fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="footer-six-link"><i class="fa-brands fa-whatsapp"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Copyright Menu -->
                        </div>
                    </div>
                </div>
                <!-- /Copyright -->
            </div>
        </div>
        <!-- /Footer Bottom -->

    </footer>
    <!-- /Footer -->