<div class="main-wrapper" [ngClass]="{
  'menu-opened': showMiniSidebar === true,
  'expand-menu': expandMenu === true && miniSidebar === true,
  'mini-sidebar': miniSidebar === true,
  'slide-nav': mobileSidebar === true,
  'chat-page-body': page === 'customer-chat',
  'body-two':base === 'home-one',
  'provider-page':base === 'providers',
  'authentication-page':base === 'error-page',
  'darkmode': showDark === true,
}">
  <router-outlet></router-outlet>
  <div
  class="sidebar-overlay"
  [ngClass]="{
    opened: mobileSidebar === true
  }"
  ></div>
 
  <div class="xb-cursor tx-js-cursor is-enabled" [ngClass]="{ 'is-active': isHovered }">
    <div class="xb-cursor-wrapper">
      <div class="xb-cursor--follower xb-js-follower"></div>
    </div>
  </div>
</div>

