<h4 class="mb-4">Notifications</h4>
<div class="notification-table">
  <div class="table-responsive res-1">
    <table class="table table-1">
      <thead class="table-thead">
        <tr>
          <th>General Notifications</th>
          <th class="text-center">Push</th>
          <th class="text-center">Email</th>
          <th class="text-center">SMS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="notify-item">
              <h6 class="mb-1">General Notifications Newsletter</h6>
              <p>Manage notification settings for timely newsletter updates.</p>
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="notify-item">
              <h6 class="mb-1">Daily Updates</h6>
              <p>Set your notification preferences for daily updates.</p>
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive res-1">
    <table class="table table-1">
      <thead class="table-thead">
        <tr>
          <th>Booking</th>
          <th class="text-center">Push</th>
          <th class="text-center">Email</th>
          <th class="text-center">SMS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="notify-item">
              <h6 class="mb-1">Booking Request</h6>
              <p>
                Enable notifications to stay updated on your booking requests.
              </p>
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="notify-item">
              <h6 class="mb-1">Booking Status</h6>
              <p>Get instant notifications on your booking status.</p>
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="notify-item">
              <h6 class="mb-1">Refund Request</h6>
              <p>Receive updates on your refund request status instantly.</p>
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive res-1">
    <table class="table table-1">
      <thead class="table-thead">
        <tr>
          <th>Subscription</th>
          <th class="text-center">Push</th>
          <th class="text-center">Email</th>
          <th class="text-center">SMS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="notify-item">
              <h6 class="mb-1">Subscription Notification</h6>
              <p>Stay updated with notifications about your subscription.</p>
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive res-1 mb-0">
    <table class="table table-1">
      <thead class="table-thead">
        <tr>
          <th>Wallet</th>
          <th class="text-center">Push</th>
          <th class="text-center">Email</th>
          <th class="text-center">SMS</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="notify-item">
              <h6 class="mb-1">Wallet Notification</h6>
              <p>Get notifications for all wallet transactions and updates.</p>
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
          <td>
            <div class="form-check form-switch ms-3">
              <input class="form-check-input input-1" type="checkbox" checked />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
