 <!-- Page Wrapper -->
 <div class="page-wrapper">
    <div class="content">
        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4>Customers</h4>
            <div class="d-flex align-items-center flex-wrap row-gap-3">
                <span class="fs-14 me-2">Sort</span>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Newly Added
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Ascending</a>
                        <a href="javascript:void(0);" class="dropdown-item">Descending</a>
                    </div>
                </div>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Export
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Export as PDF</a>
                        <a href="javascript:void(0);" class="dropdown-item">Export as Excel</a>
                    </div>
                </div>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-printer"></i></a>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"
                    id="filter_search"  (click)="toggleFilterInputs()"><i class="ti ti-sort-descending"></i></a>
                <a [routerLink]="routes.customerGrid"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-layout-grid"></i></a>
                <a [routerLink]="routes.customerList"
                    class="tags active d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-list"></i></a>
                <a href="javascript:void(0);" class="btn btn-dark d-flex align-items-center" data-bs-toggle="modal"
                    data-bs-target="#add-user"><i class="ti ti-circle-plus me-2"></i>Add Customer</a>
            </div>
        </div>
        <div id="filter_inputs" [ngStyle]="{ display: isFilterInputsVisible ? 'block' : 'none' }">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-xl">
                    <div class="mb-3">
                        <div class="sel-cal Calendar-icon">
                            <span><i class="ti ti-calendar-month"></i></span>
                            <input class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                        
                        <mat-select class="select" placeholder="Select">
                            <mat-option value="1">Customer ID</mat-option>
                            <mat-option value="2">CU0263</mat-option>
                            <mat-option value="3">CU3695</mat-option>
                          </mat-select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                       
                        <mat-select class="select" placeholder="Select">
                            <mat-option value="1">Customer</mat-option>
                            <mat-option value="2">Anthony Lewis</mat-option>
                            <mat-option value="3">Linda Ray</mat-option>
                          </mat-select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                      
                        <mat-select class="select" placeholder="Select">
                            <mat-option value="1">Status</mat-option>
                            <mat-option value="2">Active</mat-option>
                            <mat-option value="3">Inactive</mat-option>
                          </mat-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="provide-table manage-table">
                <div class="table-responsive">
                    <table  matSort (matSortChange)="sortData($event)" class="table  datatable">
                        <thead class="thead-light">
                            <tr>
                                <th mat-sort-header="customerid">Customer ID</th>
                                <th mat-sort-header="customername">Customer Name</th>
                                <th mat-sort-header="phone">Phone</th>
                                <th mat-sort-header="created">Created On</th>
                                <th mat-sort-header="payments">Payments</th>
                                <th mat-sort-header="booking">Total Bookings</th>
                                <th mat-sort-header="lastbooking">Last Booking</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of customerlist">
                                <td>{{data.customerId}}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.customerDetails" class="avatar avatar-lg me-2">
                                            <img [src]="data.img" class="rounded-circle"
                                                alt="user">
                                        </a>
                                        <div>
                                            <h6 class="fs-14"><a [routerLink]="routes.customerDetails">{{data.customerName}}</a>
                                            </h6>
                                            <span class="fs-12">anthony&#64;example.com</span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{data.phone}}</td>
                                <td>{{data.createdOn}}</td>
                                <td>{{data.payments}}</td>
                                <td>{{data.totalBookings}}</td>
                                <td>{{data.lastBooking}}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge  d-flex align-items-center" [ngClass]="{'badge-success-100':data.status === 'Active',' badge-danger-transparent':data.status === 'Inactive'}">
                                            <i class="ti ti-point-filled"></i>
                                           {{data.status}}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#edit-user"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#delete-user"><i class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                <div class="value d-flex align-items-center">
                    <span>Show</span>
                    <select>
                        <option>7</option>
                    </select>
                    <span>entries</span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-gray-9">1 - 07 of 10</span>
                    <nav aria-label="Page navigation">
                        <ul class="paginations d-flex justify-content-center align-items-center">
                            <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                            <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Customer -->
<div class="modal fade custom-modal" id="add-user">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Add Customer </h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body p-4">
                <form >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">First Name</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Last Name</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Email</label>
                                <input type="email" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Phone Number</label>
                                <input type="number" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Address</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">Country</label>
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">Brazil</mat-option>
                                    <mat-option value="3">Canada</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">State</label>
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">Myanmar</mat-option>
                                    <mat-option value="3">Cyprus</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">City</label>
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">London</mat-option>
                                    <mat-option value="3">Paris</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Zip Code</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">Status</label>
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">Active</mat-option>
                                    <mat-option value="3">Inactive</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Add Customer -->

<!-- Edit Customer -->
<div class="modal fade custom-modal" id="edit-user">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Edit Customer </h5>
                <a href="#" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body p-4">
                <form >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">First Name</label>
                                <input type="text" class="form-control pass-input" value="Anthony">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Last Name</label>
                                <input type="text" class="form-control pass-input" value=" Lewis">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Email</label>
                                <input type="email" class="form-control pass-input" value="anthony&#64;example.com">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Phone Number</label>
                                <input type="number" class="form-control pass-input" value="16349672145">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="col-form-label">Address</label>
                                <input type="text" class="form-control pass-input" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">Country</label>
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Brazil</mat-option>
                                    <mat-option value="2">Canada</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">State</label>
                                <mat-select class="select" placeholder="Myanmar">
                                    <mat-option value="1">Myanmar</mat-option>
                                    <mat-option value="2">Cyprus</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">City</label>
                               
                                <mat-select class="select" placeholder="Myanmar">
                                    <mat-option value="1">London</mat-option>
                                    <mat-option value="2">Paris</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="col-form-label">Zip Code</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3 mat-select-box">
                                <label class="col-form-label">Status</label>
                                <mat-select class="select" placeholder="Myanmar">
                                    <mat-option value="1">Computer Repair</mat-option>
                                    <mat-option value="2">Plumbing</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Customer -->

<!-- Delete Customer -->
<div class="modal fade custom-modal" id="delete-user">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete Customer</h5>
                <a href="#" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body">
                <div class="write-review">
                    <form >
                        <p>Are you sure want to delete this Customer?</p>
                        <div class="modal-submit text-end">
                            <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-dark">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Customer -->

<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete Account</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <form action="#">
                <div class="modal-body">
                    <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type
                        your password.</p>
                    <div class="mb-0">
                        <label class="form-label">Password</label>
                        <div class="pass-group">
                            <input type="password" class="form-control pass-input" placeholder="*************">
                            <span class="toggle-password feather-eye-off"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-dark">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete Account -->
