 <!-- Page Wrapper -->
 <div class="page-wrapper">
    <div class="content">
        <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
            <h4>Staffs</h4>
            <div class="d-flex align-items-center flex-wrap row-gap-3">
                <span class="fs-14 me-2">Sort</span>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Newly Added
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Newly Added</a>
                        <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
                    </div>
                </div>
                <div class="dropdown me-2">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                        Export
                    </a>
                    <div class="dropdown-menu">
                        <a href="javascript:void(0);" class="dropdown-item active">Export</a>
                        <a href="javascript:void(0);" class="dropdown-item">Import</a>
                    </div>
                </div>
                <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-printer"></i></a>
                <a href="javascript:void(0);"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"
                    id="filter_search" (click)="toggleFilterInputs()"><i class="ti ti-sort-descending"></i></a>
                <a [routerLink]="routes.staffGrid"
                    class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-layout-grid"></i></a>
                <a [routerLink]="routes.staffList"
                    class="tags active d-flex justify-content-center align-items-center border rounded me-2"><i
                        class="ti ti-list"></i></a>
                <a href="javascript:void(0);" class="btn btn-dark d-flex align-items-center" data-bs-toggle="modal"
                    data-bs-target="#add-staff"><i class="ti ti-circle-plus me-2"></i>Add Staffs</a>
            </div>
        </div>
        <div id="filter_inputs" [ngStyle]="{ display: isFilterInputsVisible ? 'block' : 'none' }">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3">
                        <div class="sel-cal Calendar-icon">
                            <span><i class="ti ti-calendar-month"></i></span>
                            <input class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                    
                        <mat-select class="select" placeholder="Select">
                            <mat-option value="1">Staff ID</mat-option>
                            <mat-option value="2">ST5246</mat-option>
                            <mat-option value="3">ST1269</mat-option>
                          </mat-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                       
                        <mat-select class="select" placeholder="Select">
                            <mat-option value="1">Staff</mat-option>
                            <mat-option value="2">Brian Villalobos</mat-option>
                            <mat-option value="3">Stephan Peralt</mat-option>
                          </mat-select>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-xl">
                    <div class="mb-3 mat-select-box">
                      
                        <mat-select class="select" placeholder="Select">
                            <mat-option value="1">Status</mat-option>
                            <mat-option value="2">Active</mat-option>
                            <mat-option value="3">Inactive</mat-option>
                          </mat-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="provide-table manage-table ">
                <div class="table-responsive">
                    <table class="table  datatable">
                        <thead class="thead-light">
                            <tr>
                                <th>Staff ID</th>
                                <th>Staffs Name</th>
                                <th>Created On</th>
                                <th>No of Services</th>
                                <th>Total Bookings</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of stafflist">
                                <td>{{data.staffId}}</td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <a [routerLink]="routes.staffDetails" class="avatar avatar-lg me-2">
                                            <img [src]="data.img" class="rounded-circle"
                                                alt="user">
                                        </a>
                                        <div>
                                            <h6 class="fs-14 fw-medium"><a [routerLink]="routes.staffDetails">{{data.staffsName}}
                                                    </a></h6>
                                            <span class="fs-12">anthony&#64;example.com</span>
                                        </div>
                                    </div>
                                </td>
                                <td>{{data.createdOn}}</td>
                                <td>{{data.noOfServices}}</td>
                                <td>{{data.totalBookings}}</td>
                                <td>
                                    <div class="d-flex justify-content-center align-items-center">
                                        <span class="badge  d-flex align-items-center" [ngClass]="{'badge-success-100':data.status === 'Active',' badge-danger-transparent':data.status === 'Inactive'}">
                                            <i class="ti ti-point-filled"></i>
                                            {{data.status}}
                                        </span>
                                    </div>
                                </td>
                                <td>
                                    <div class="user-icon d-inline-flex">
                                        <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                            data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                class="ti ti-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                            

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                <div class="value d-flex align-items-center">
                    <span>Show</span>
                    <select>
                        <option>7</option>
                    </select>
                    <span>entries</span>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <span class="me-2 text-gray-9">1 - 07 of 10</span>
                    <nav aria-label="Page navigation">
                        <ul class="paginations d-flex justify-content-center align-items-center">
                            <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                            <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Page Wrapper -->

<!-- Add Staff-->
<div class="modal fade custom-modal" id="add-staff">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Add Staff </h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body pb-0">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <div class="d-flex profile-upload align-items-center">
                                    <span
                                        class="d-flex justify-content-center align-items-center p-4 bg-light rounded me-2"><i
                                            class="ti ti-photo"></i></span>
                                    <div>
                                        <h6 class="fs-16">Profile</h6>
                                        <span class="fs-14">Image size does not exceed 5MB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Phone Number</label>
                                <input type="number" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">Country</label>
                               
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">Brazil</mat-option>
                                    <mat-option value="3">Canada</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">State</label>
                               
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">Myanmar</mat-option>
                                    <mat-option value="3">Cyprus</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box" >
                                <label class="form-label">City</label>
                               
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">London</mat-option>
                                    <mat-option value="3">Paris</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Zip Code</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">Services</label>
                              
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">Computer Repair</mat-option>
                                    <mat-option value="3">Plumbing</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">Status</label>
                               
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Select</mat-option>
                                    <mat-option value="2">Active</mat-option>
                                    <mat-option value="3">Inactive</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Add Staff -->

<!-- Edit Staff-->
<div class="modal fade custom-modal" id="edit-staff">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content doctor-profile">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Edit Staff </h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body pb-0">
                <form >
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3">
                                <div class="d-flex profile-upload align-items-center">
                                    <span
                                        class="d-flex justify-content-center align-items-center p-4 bg-light rounded me-2"><i
                                            class="ti ti-photo"></i></span>
                                    <div>
                                        <h6 class="fs-16">Profile</h6>
                                        <span class="fs-14">Image size does not exceed 5MB</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Full Name</label>
                                <input type="text" class="form-control pass-input" value="Jeff Fitch">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input type="email" class="form-control pass-input" value="jeff&#64;example.com">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Phone Number</label>
                                <input type="number" class="form-control pass-input" value="1748116543">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Address</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">Country</label>
                               
                                <mat-select class="select" placeholder="Select">
                                    <mat-option value="1">Brazil</mat-option>
                                    <mat-option value="2">Canada</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">State</label>
                              
                                <mat-select class="select" placeholder="Myanmar">
                                    <mat-option value="1">Myanmar</mat-option>
                                    <mat-option value="2">Cyprus</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">City</label>
                               
                                <mat-select class="select" placeholder="Myanmar">
                                    <mat-option value="1">London</mat-option>
                                    <mat-option value="2">Paris</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Zip Code</label>
                                <input type="text" class="form-control pass-input">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="mb-3">
                                <label class="form-label">Description</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">Services</label>
                               
                                <mat-select class="select" placeholder="Myanmar">
                                    <mat-option value="1">Computer Repair</mat-option>
                                    <mat-option value="2">Plumbing</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3 mat-select-box">
                                <label class="form-label">Status</label>
                                

                                <mat-select class="select" placeholder="Myanmar">
                                    <mat-option value="1">Active</mat-option>
                                    <mat-option value="2">Inactive</mat-option>
                                  </mat-select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-end align-items-center">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button class="btn btn-dark" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Staff -->

<!-- Delete Staff -->
<div class="modal fade custom-modal" id="del-staff">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete Staff</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <div class="modal-body">
                <div class="write-review">
                    <form >
                        <p>Are you sure want to delete this Staff?</p>
                        <div class="modal-submit text-end">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-dark">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Staff -->

<!-- Delete Account -->
<div class="modal fade custom-modal" id="del-account">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                <h5 class="modal-title">Delete Account</h5>
                <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-circle-x-filled fs-20"></i></a>
            </div>
            <form action="#">
                <div class="modal-body">
                    <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type
                        your password.</p>
                    <div class="mb-0">
                        <label class="form-label">Password</label>
                        <div class="pass-group">
                            <input type="password" class="form-control pass-input" placeholder="*************">
                            <span class="toggle-password feather icon-eye-off"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                    <button type="submit" class="btn btn-dark">Delete Account</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Delete Account -->
