 <!-- Breadcrumb -->
 <div class="breadcrumb-bar text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <h2 class="breadcrumb-title mb-2">Blog List</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center mb-0">
                        <li class="breadcrumb-item"><a [routerLink]="routes.home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog List</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="breadcrumb-bg">
            <img src="assets/img/bg/breadcrumb-bg-01.png" class="breadcrumb-bg-1" alt="Img">
            <img src="assets/img/bg/breadcrumb-bg-02.png" class="breadcrumb-bg-2" alt="Img">
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<!-- Page Wrapper -->
 <div class="page-wrapper">
    <div class="content">
        <div class="container">
            <div class="row justify-content-center blog">
               <div class="col-lg-8 col-md-8">
                    <div class="blog-content">
                        <div class="blog-img">
                            <a [routerLink]="routes.blogDetails"><img src="assets/img/services/service-77.jpg" alt="img" class="img-fluid"></a>
                        </div>
                        <div class="blog-content-body">
                            <div class="d-flex align-items-center mb-3">
                                <span class="badge badge-light text-dark p-2 me-3">Computer</span>
                                <span class="text-dark"><i class="ti ti-calendar"></i> 09 Aug 2024</span>
                            </div>
                            <div>
                                <p class="fs-16 mb-2 text-dark"><a [routerLink]="routes.blogDetails">Tips for Selecting a Computer Service Provider</a></p>
                                <p class="fs-14">Explore practical tips to help you pick the best computer service provider, ensuring smooth and efficient operations for your company.Start by assessing the provider's expertise and specializations to ensure they have the necessary skills and certifications for...</p>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);"><img src="assets/img/user/user-02.jpg" alt="img" class="avatar avatar-sm rounded-circle me-2"></a>
                                        <a href="javascript:void(0);" class="fs-14 text-dark">Robert Koch</a>
                                    </div>
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);" class="fs-14 text-dark d-flex align-items-center ms-3"><span class="me-1"><i class="ti ti-thumb-up text-gray"></i></span>25 Like(s)</a>
                                    </div>
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);" class="fs-14 text-dark d-flex align-items-center ms-3"><span class="me-1"><i class="ti ti-messages text-gray "></i></span>20 Comment(s)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-img">
                            <a [routerLink]="routes.blogDetails"><img src="assets/img/services/service-78.jpg" alt="img" class="img-fluid"></a>
                        </div>
                        <div class="blog-content-body">
                            <div class="d-flex align-items-center mb-3">
                                <span class="badge badge-light text-dark p-2 me-3">Construction</span>
                                <span class="text-dark"><i class="ti ti-calendar"></i>16 Aug 2024</span>
                            </div>
                            <div>
                                <p class="fs-16 mb-2 text-dark"><a [routerLink]="routes.blogDetails">The Importance of Safety in Construction Services</a></p>
                                <p class="fs-14">Understand why safety protocols and practices are crucial in construction projects. Learn how to select a service provider for your needs. When selecting a construction service provider, it is vital to choose one that prioritizes worker safety and demonstrates a strong...</p>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);"><img src="assets/img/user/user-03.jpg" alt="img" class="avatar avatar-sm rounded-circle me-2"></a>
                                        <a href="javascript:void(0);" class="fs-14 text-dark">Robert Koch</a>
                                    </div>
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);" class="fs-14 text-dark d-flex align-items-center ms-3"><span class="me-1"><i class="ti ti-thumb-up text-gray"></i></span>20 Like(s)</a>
                                    </div>
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);" class="fs-14 text-dark d-flex align-items-center ms-3"><span class="me-1"><i class="ti ti-messages text-gray"></i></span>15 Comment(s)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-content">
                        <div class="blog-img">
                            <a [routerLink]="routes.blogDetails"><img src="assets/img/services/service-79.jpg" alt="img" class="img-fluid"></a>
                        </div>
                        <div class="blog-content-body">
                            <div class="d-flex align-items-center mb-3">
                                <span class="badge badge-light text-dark p-2 me-3">Car Wash</span>
                                <span class="text-dark"><i class="ti ti-calendar"></i> 25 Aug 2024</span>
                            </div>
                            <div>
                                <p class="fs-16 mb-2 text-dark"><a [routerLink]="routes.blogDetails">The Benefits of Regular Professional Car Washes</a></p>
                                <p class="fs-14">Discover why regular professional car washes can extend the life of your vehicle, improve appearance, and protect its resale value. Consistent cleaning by experts helps to preserve your vehicle’s exterior by removing contaminants such as dirt, salt, and grime that can</p>
                                <div class="d-flex align-items-center">
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);"><img src="assets/img/user/user-16.jpg" alt="img" class="avatar avatar-sm rounded-circle me-2"></a>
                                        <a href="javascript:void(0);"><p class="fs-14 text-dark">Robert Koch</p></a>
                                    </div>
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);" class="fs-14 text-dark d-flex align-items-center ms-3"><span class="me-1"><i class="ti ti-thumb-up text-gray"></i></span>25 Like(s)</a>
                                    </div>
                                    <div class="d-flex align-items-center blog-profile">
                                        <a href="javascript:void(0);" class="fs-14 text-dark d-flex align-items-center ms-3"><span class="me-1"><i class="ti ti-messages text-gray"></i></span>20 Comment(s)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
            <div class="table-paginate d-flex justify-content-center align-items-center flex-wrap row-gap-3">
                <div class="d-flex align-items-center justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="paginations d-flex justify-content-center align-items-center">
                            <li class="page-item me-2"><a class=" d-flex justify-content-center align-items-center" href="#"><i class="ti ti-arrow-left me-2"></i>Prev</a></li>
                            <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="#">1</a></li>
                            <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="#">2</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center me-2" href="#">3</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center me-2" href="#">4</a></li>
                            <li class="page-item me-2"><a class="d-flex justify-content-center align-items-center" href="#">Next <i class="ti ti-arrow-right ms-2"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
 </div>
 <!-- /Page Wrapper -->