    <div class="change-activity">
        <div class="change-passwordback">
            <a [routerLink]="routes.security"><i class="feather icon-arrow-left me-2"></i>Back to Dashboard </a>
        </div>
        <div class="change-activity-head">
            <h6>Device Management</h6>
            <div class="sort-div">
                <div class="review-sort me-2">
                    <p>Sort</p>
                    <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="select"  placeholder="A - Z">
                        <mat-option *ngFor="let data of selectedList" [value]="data.value">
                        {{data.value}}
                        </mat-option>
                    </mat-select>
                </div>
                <div class="drop-collapse">
                    <a href="javascript:void(0);" class="btn-filters">
                        <img src="assets/admin/img/icons/filter.svg" alt="img">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="table-resposnive table-bottom">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Device</th>
                                <th>Date</th>
                                <th>Location</th>
                                <th>IP Address</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>22 Sep 2022, 11:40:30</td>
                                <td>Chrome - Windows</td>
                                <td>232.222.12.72 </td>
                                <td>Chennai / India</td>
                                <td><h6 class="delete-labels">Delete</h6></td>
                            </tr>
                            <tr>
                                <td>21 Sep 2022, 13:10:50</td>
                                <td>Safari Macos</td>
                                <td>224.111.12.75</td>
                                <td>Newyork / USA</td>
                                <td><h6 class="delete-labels">Delete</h6></td>
                            </tr>
                            <tr>
                                <td>20 Sep 2022, 14:16:10</td>
                                <td>Firefox Windows</td>
                                <td>111.222.13.28</td>
                                <td>Newyork / USA</td>
                                <td><h6 class="delete-labels">Delete</h6></td>
                            </tr>
                            <tr>
                                <td>19 Sep 2022, 10:20:20</td>
                                <td>Safari Macos</td>
                                <td>333.555.10.54</td>
                                <td>Newyork / USA</td>
                                <td><h6 class="delete-labels">Delete</h6></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>