<div class="page-wrapper">
    <div class="content">
        <form action="/">
            <div class="row">
                <div class="col-lg-7 col-sm-12 m-auto">
                    <div class="content-page-header">
                        <h5>Add Blog Category</h5>
                    </div>
                    <form action="/">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Language</label>
                                    <mat-select [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}" class="form-control select"  placeholder="Select Language">
                                        <mat-option *ngFor="let data of selectedList" [value]="data.value">
                                        {{data.value}}
                                        </mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Category Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Category Name">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Slug <span>(If you leave it empty, it will be generated automatically.)</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Slug">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Description <span>(Meta Tag)</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Description">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="">Keywords <span>(Meta Tag)</span></label>
                                    <input type="text" class="form-control" placeholder="Enter Keywords">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="btn-path">
                                    <a href="javascript:void(0);" class="btn btn-cancel me-3">Cancel</a>
                                    <button type="submit" class="btn btn-primary">Add Category</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div> 